[2018-03-20 09:47] schnuti commented on #497
@proman24 Is it possible for you to test with Firefox?
I've tried to find some hint on problems with "windows.location" in FF. So far no luck.

[2018-03-20 14:21] geetanshu-m commented on #497
@schnuti Got the perfect results again while testing with firefox in the windows environment.

[2018-03-20 14:58] laoneo commented on #497
@proman24 with which PHP version did you test?

[2018-03-20 15:42] geetanshu-m commented on #497
@laoneo Tested with  PHP 7.2.1 and PHP 5.6.19

[2018-03-20 18:15] schnuti commented on #497
Not a solution but proof of problem. I made the ajax request synchronous and it works.

line 175 in edit-images.js - the false makes it

    xhr.open("PUT", url, false);

I'm pretty sure that I'm not the only FF user with my configuration.

Alternative asynchronous solutions on [MDN](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Synchronous_and_Asynchronous_Requests)

[2018-03-21 07:04] laoneo commented on #497
Did you try to run it with true?

[2018-03-21 08:38] dgrammatiko opened #523 "Missing triggers"
### Steps to reproduce the issue

In j3 there were 2 triggers on the image upload (onBeforeContent, onAfterContent).
Can we pretty please re implement those in j4.
One of my daily used crucial plugins is rendered foo bar since these triggers were removed!

Ref:

https://github.com/joomla/joomla-cms/blob/b56a9d017b97cf00f9b229d121d2fb57d1e630fe/administrator/components/com_media/controllers/file.js

[2018-03-21 08:53] dgrammatiko opened #524 "Implement a structure attribute for field media’s"
### Steps to reproduce the issue

This was my proposal on the previous media manager and I think is still valid for this one as well.

A simple attribute named structure that dictates the way images are saved (this affects only local adapter).

Eg
Structure”y/m/d”

Should dictate that the file uploaded will end up in images/2018/3/22/myfile.jpg.

This can also be extended for the value $username

[2018-03-21 08:58] brianteeman commented on #524
As a long time advocate of JCE (I presented at multiple joomladays on it) I didnt find it was actually that popular. _It was mainly only "requested" by people coming from wordpress because that is what they were used to_. It's not the default in JCE, its just one of the many options including /$user/image . while it is useful for a blog type site, where you are uploading new images for each post,

[2018-03-21 09:17] laoneo commented on #524
Where is this attribute defined? In the form XML?

[2018-03-21 12:18] dgrammatiko commented on #524
Not sure that I will agree with you on this one. Let me give you an example how this can be the greatest lifesaver both for devs and foremost for Joomla users. Let's assume we have an e-commerce based site. The process for the images (for the end user) is to create folders that somehow represent the structure Company/Model/files....
With my proposal this will be handled automatically (dev needs to

[2018-03-21 12:20] dgrammatiko commented on #524
@laoneo yep, is the field type="media" the one I'm referring to here

[2018-03-21 12:35] schnuti commented on #497
true (= asynchronous) is the original value i.e that's when it doesn't work with my FF.

Now I think my FF has the correct behaviour in the asynchronous world of Javascript. When searching the web I found issues with the synchronous behaviour of windows.location in browsers.
e.g. if a page have a button "Go to latest Article" and a long running background request, the user has to wait for the requ

[2018-03-21 12:38] laoneo commented on #524
I assume that. What I'v asked is where the definition is done? Because I think the end user wants to make the decision if the images should be stored in a sub folder or normally. So the only use case I see is to add an option in the custom field because how should a developer know if all the users of his extension do want to store the images in a sub folder or normally?

[2018-03-21 12:56] schnuti commented on #523
#255 Proposal: include an aftersave plug in - create thumbs
#475 Resize workflow

[2018-03-21 15:13] dgrammatiko commented on #524
I guess all developers make some decisions on behalf of their users. I mean this is what we essentially do in J4 right now... The only difference is that J4 is all about the internals and this is about UX. Apple removed totally the filesystem form IOS (for the end users) and a few billions are happy with that 😃

[2018-03-23 13:35] dgrammatiko commented on #378
Since J4 now is using the complete web components polyfill, promises are already covered.

[2018-03-23 13:35] #378 closed, assigned to dgrammatiko

[2018-03-29 02:08] kasvith opened #525 "Actions on directories does not close itself"
### Steps to reproduce the issue
- Open NMM
- Click the button on a directory while hovering
- Click another file or directory's action button too

### Expected result
After clicking another directory the actions should be disappear as for files we have

### Actual result
Opened action lists are still avaliable

![image](https://user-images.githubusercontent.com/13379595/38066070-f7a261dc-3323-11e

[2018-03-29 05:46] laoneo commented on #525
Thanks!

[2018-04-01 15:41] dneukirchen opened #527 "Its possible to rename files and folders to existing files/folders"
### Steps to reproduce the issue

Rename a file to an existing file or a folder to an existing folder

### Expected result

Rename should not be possible

### Actual result

Rename is possible.

[2018-04-01 15:46] kasvith commented on #527
hmm...this involes move in local adapter, i will take a look, at last time unit test passed

[2018-04-12 16:49] dgrammatiko opened #530 "Use figure/figcaption"
### Steps to reproduce the issue
In J3 we had the ability to set custom title/alt for the image and then a figure was created (from an editor/xtd button). This needs to be done as well for the new media manager

context: https://github.com/joomla/joomla-cms/pull/20153#issuecomment-380843597

### Expected result
If there is a caption then the image should be in a figure tag and the caption in a fig

[2018-04-13 09:02] kasvith commented on #430
PR - #531

[2018-04-13 09:15] kasvith commented on #520
I confirm this issue. It's happening on my Safari Version 11.0.2 (12604.4.7.1.4)

[2018-04-13 09:16] schnuti commented on #530
Don't forget that you need 2 input fields. Alt **and** Caption. As I understand it, those should not be the same if e.g. a screen reader is used.
From html.com

[code]

[From W3C](https://www.w3.org/TR/html51/semantics-embedded-content.html#general-guidelines)

[2018-04-13 12:55] kasvith opened #532 "Uploading image does not shows up in the browser"
### Steps to reproduce the issue
- Open NMM
- Upload a file

### Expected result
- Uploaded file to be shown

### Actual result
- Uploaded file is not visible, but after refresh it shows up

### System information (as much as possible)
PHP 7.1, Chrome 65 Windows (latest)

### Additional comments

[2018-04-13 12:57] dneukirchen commented on #532
Please check console and network in devtools.
What type of file? Which version of media manager?

[2018-04-13 12:59] kasvith commented on #532
There is some issue with backend, i am on it now :D

<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: count(): Parameter must be an array or an object that implements Countable in C:\x

[2018-04-13 13:02] dneukirchen commented on #532
Are you using latest dev?

i think we already fixed it in #522

[2018-04-13 13:05] kasvith commented on #532
Wait let me do a check. seems a problem in my local repo, manually checked code in gh and it seems to be solved

Closing this

[2018-04-13 13:05] #532 closed, assigned to nobody

[2018-04-13 19:00] dgrammatiko commented on #530
@schnuti true, but that is just implementation detail I guess

[2018-04-14 08:07] schnuti commented on #530
I wanted to point out that it's not only about using the new figure/figcaption tags. As is, the inserted img tag includes alt="". This is not W3C conform and could be defined as a bug I believe.

[2018-04-16 08:57] laoneo commented on #520
Is there a javascript error in the developer console?

[2018-04-16 09:13] kasvith commented on #520
No nothing on dev console

[2018-04-16 11:34] kasvith commented on #525
Closing by #534

[2018-04-16 11:34] #525 closed, assigned to nobody

[2018-04-18 17:12] kasvith commented on #430
Done in #531 and closing issue

[2018-04-18 17:12] #430 closed, assigned to nobody

[2018-04-18 17:18] kasvith commented on #527
As Unit tests passing need to consider more about this....pretty new to this system testing

[2018-04-18 18:17] dneukirchen commented on #527
The failing system tests are currently skipped. You don't have to worry about them. Once we fixed the issue, I can enable them.

[2018-04-21 18:27] anuragteapot opened #537 "Media content view not scrollable"
### Steps to reproduce the issue
1. Upload large amount of images to MM.
2. Try access all image or try to scroll.

### Expected result
Media content view scrollable. You can access all files easily .

### Actual result
Media content view not scrollable. Can't access all files.

![screenshot from 2018-04-21 14-45-39](https://user-images.githubusercontent.com/30978328/39087494-75affcee-45bf-11e8-9e

[2018-04-21 18:27] anuragteapot commented on #537
I try to do PR for this.

[2018-04-21 18:38] kasvith commented on #537
What you mean by try accessing all files?

[2018-04-21 18:43] anuragteapot commented on #537
We cant access all files because  <code> div </code> is not scrollable

[2018-04-21 19:21] anuragteapot commented on #537
@kasvith we need a behavior like this if we have large amount of images .

![peek 2018-04-22 00-48](https://user-images.githubusercontent.com/30978328/39087961-289dd036-45c7-11e8-9d96-d882685fd4a0.gif)

[2018-04-21 19:22] anuragteapot commented on #537
But we can't scroll .
@ciar4n

[2018-04-22 06:27] kasvith commented on #537
Got it, it need to be fixed

[2018-04-22 06:28] kasvith commented on #537
I've assigned you for this.

[2018-04-22 06:36] kasvith opened #538 "Opening image does not display full content"
### Steps to reproduce the issue
1. Open NMM
2. Double click on a file

### Expected result
Image must be centered and display full content

### Actual result
![image](https://user-images.githubusercontent.com/13379595/39092180-4db19ca0-4625-11e8-81ed-a83825a64441.png)

Some part of image is mizzing

### System information (as much as possible)
- Windows 10, XAMPP PHP 7, Chrome Version 66.0.3359.1

[2018-04-22 06:37] kasvith opened #539 "Zoom In/Out the image view"
It would be nice if user can zoom in/out the preview image when double clicked just like any image viewer
Also it needs to have the pan when image is zoom.

- [ ] Zoom In/Out
- [ ] Pan the image

[2018-04-22 06:59] anuragteapot commented on #538
@kasvith assign me for this.

[2018-04-22 07:00] anuragteapot commented on #539
@kasvith assign me for this. I also take a look for this. :)

[2018-04-22 11:45] ciar4n commented on #537
PR created.. #541

[2018-04-23 09:21] laoneo commented on #539
Are you talking about zooming on a touch device?

[2018-04-23 16:42] kasvith commented on #539
@laoneo not only touch devices, generally on any device like in normal image viewer

[2018-04-24 05:48] dneukirchen commented on #452
thx.

[2018-04-24 05:48] #452 closed, assigned to ciar4n

[2018-04-24 07:33] laoneo commented on #539
Had a look if it works at least on desktop with CTRL+ wheel, but all it does is to increase the zoom level of the page and not only of the image, in FF. So we definitely need something here. What you guys suggest? Buttons to increase or different behaviors on different devices?

[2018-04-24 07:37] dneukirchen commented on #539
TBH: i dont think that this is a must have feature for the list view. Instead we should implement it in edit view.

[2018-04-24 07:46] laoneo commented on #539
If you have large images or are on a device with a small screen, then you need something like that. Otherwise you end up with
![image](https://user-images.githubusercontent.com/251072/39173198-4d340e36-47a4-11e8-9430-a2be4768983b.png)

[2018-04-24 07:57] kasvith commented on #539
I would vote for buttons. We also should have the facility to pan the image too

[2018-04-25 05:26] laoneo commented on #539
Would be good if we can do first a bit of research how it does look like in other image apps.

[2018-05-19 19:18] PhilETaylor commented on #469
https://github.com/joomla/joomla-cms/issues/20367

[2018-05-19 19:22] PhilETaylor opened #543 "Question - when was the last time this repo was merged to joomla-cms/4.0-dev"
Question - when was the last time this repo was merged to joomla-cms/4.0-dev

[2018-05-19 19:23] PhilETaylor commented on #543
The following were all raised on joomla-cms/4.0-dev at 79fd94942e1758cff32da7f8f368b5f78cc75c40
google chrome

https://github.com/joomla/joomla-cms/issues/20470
https://github.com/joomla/joomla-cms/issues/20469
https://github.com/joomla/joomla-cms/issues/20468
https://github.com/joomla/joomla-cms/issues/20466
https://github.com/joomla/joomla-cms/issues/20465
https://github.com/joomla/joomla-cms/is

[2018-05-19 19:58] PhilETaylor opened #544 "cannot edit image"
<img width="461" alt="screen shot 2018-05-19 at 20 58 42" src="https://user-images.githubusercontent.com/400092/40272580-6e1bb54c-5ba7-11e8-8eaf-8fe7911fcff7.png">

[2018-05-20 14:00] laoneo commented on #543
Guess we can close this issue as the reports have been invalid because of an outdated installation?

[2018-05-20 14:03] brianteeman commented on #543
It does still need updating

[2018-05-20 16:24] laoneo commented on #543
I do that on a regular basis. No need to have an issue open for that.

[2018-05-20 16:29] PhilETaylor commented on #543
But yet no one has answered my question.

When was the last time?

Because this repo was not in sync (and cause I was 90% being a dad and distracted) I wasted an hour and reported many issues that were already resolved in 4.0-dev

——
Sent from my iPhone - sorry - if needed I’ll send longer email from my desk later.
——

[2018-05-22 07:49] laoneo commented on #543
I did the last sync after #526 was merged this must be somewhere around beginning of April.

[2018-05-22 07:49] #543 closed, assigned to nobody

[2018-05-22 13:29] laoneo commented on #469
This is a duplicate of #437.

[2018-05-22 13:29] #469 closed, assigned to nobody

[2018-05-22 13:37] carlitorweb opened #545 "Allow copy/cut/paste"
This is a feature I miss from com_media. Now with all the good work on J4 inside com_media, I think is possible have this good options, essentials in any media manager.
Just 3 buttons more inside the toolbar, Copy, Cut, Paste is a good solution for this.

#442 is more like move files inside a folder. But this no help when you need move files to another folder outside the current folder

[2018-05-22 13:42] #527 closed, assigned to nobody

[2018-05-22 14:38] laoneo commented on #544
Issue is solved, pr get merged.

[2018-05-22 14:38] #544 closed, assigned to laoneo

[2018-05-24 17:24] #537 closed, assigned to ciar4n

[2018-05-24 17:44] laoneo commented on #497
Can you try it with the latest version of FF? For me it worked as expected.

[2018-05-24 19:20] laoneo commented on #513
Pr got merged.

[2018-05-24 19:20] #513 closed, assigned to ciar4n

[2018-05-24 19:20] laoneo commented on #294
Closing as #550 got merged.

[2018-05-24 19:20] #294 closed, assigned to nobody

[2018-05-24 19:21] laoneo commented on #451
Preview got implemented with #549.

[2018-05-24 19:21] #451 closed, assigned to nobody

[2018-05-25 06:50] laoneo commented on #239
Closing this in favor of #530.

[2018-05-25 06:50] #239 closed, assigned to dneukirchen, dgrammatiko

[2018-05-26 08:26] schnuti commented on #497
@laoneo I'll test this and the new save events over the weekend.

[2018-05-27 11:20] schnuti commented on #497
@laoneo After a fresh J!MM install, code from May 26. Using Firefox latest (normal and developer edition) with my own FF profile and the one created by the developer edition.
It's the same. The resized image do not get saved. (save&close)
As before: it works with chrome. Did you use Windows 10?

I found a new issue.

[2018-05-27 11:43] schnuti opened #553 "Size of image in modal view"
### Steps to reproduce the issue

View a larger image in modal view. Only parts of the image is shown dependent on browsers view size. It has a default (ctrl + 0)

### Expected result

Shouldn't the image be resized according to viewport size? (Alternative scrolling?)

### Actual result

Only a part of the image is shown.
To view the whole image you have to resize the browser one or more times. (c

[2018-05-28 07:27] laoneo commented on #497
No I was using Linux. But if the save action is working, then should also the save and close working. Really strange.

[2018-05-28 07:28] laoneo commented on #553
What would help is a screenshot, if available.

[2018-05-28 09:58] brianteeman commented on #217
I want to raise this again. Double click is not a pattern used on the web for anything anywhere so it is counter intuitive to use it here.

I know I raised it before but I cant find it and it makes sense to add it here as well.
The way you select multiple items is also not standard.
I would expect to multiple items to be able to click on the first image and then shift click on the last image to se

[2018-05-28 10:34] schnuti commented on #497
I'm not that surprised. The difference is the line following the save (apply) action. As I wrote, the window.location somehow breaks the asynchronous Ajax call before the server can start the save method. It works in debug mode (with a breakpoint at those lines) or if the Ajax call is made synchronous as described above. My local client/server combination is probably to slow (or to fast? only FF?)

[2018-05-28 12:33] schnuti commented on #553
Well, a nice image  1200x1200px

With default viewport
![large_1](https://user-images.githubusercontent.com/956537/40614611-cac2e49a-6283-11e8-8c36-70dc79a94cdc.png)

After 5x ctrl + -
![large-5-ctrl-](https://user-images.githubusercontent.com/956537/40614642-f52e5ea8-6283-11e8-82a9-a7ceae2c8c6e.png)

[2018-05-29 02:22] geetanshu-m opened #554 "Crop on Save only"
### Steps to reproduce the issue

1. Open Media-manager.
2. Go to edit tab for any image.
3. Change the dimensions of the overlay cropper
4. Change tab to rotate or resize.

### Expected result

Image should not be cropped until and unless save or apply button is being pressed.

### Actual result

Image is cropped instantly when the user left the crop tab.

[2018-05-29 08:32] schnuti commented on #554
No. If I understand the issue and the workflow correct. Pressing the Save button saves the (so far) edited image to disk.  If you then press the Reset button you'll not work with the stored image. i.e. Cancel has a new meaning. You now have to save this state to store the "original" image. If Reset would fetch the stored image you couldn't revert changes at all.

[2018-05-29 09:36] schnuti commented on #497
I made some tests. Chrome Developer Tools told me my system is slow and also detected
[Violation] Forced reflow while executing JavaScript took 80ms.
Probably Chrome handles this violation and waits for the Javascript to come to an end. I added some console.log

Console logs from Chrome, Firefox and Edge.

**Chrome**
System is slow.
[Violation] Forced reflow while executing JavaScript took 80ms
cr

[2018-05-29 11:55] ciar4n commented on #553
I guess we can set a max height and width based on the viewport size which should resolve this issue. I'll create the PR later today.

[2018-05-30 05:14] geetanshu-m commented on #554
My concerns are not the working of **save**, **reset** or the **cancel** button. What i am stating is when the selection is made in the crop section it is cropping instantly i.e. removing the rest of the part on the same time whenever the **crop** tab is left i.e. switching to the **resize** or **rotate** tab. I guess it should be like that.

[2018-05-30 05:47] laoneo commented on #554
As every plugin does work in it's own canvas, it is almost impossible to move the state to the other tab. But you are right, some confirmation should happen when you switch the tab. Probably to ask if the changes should be reverted or applied and not just apply on tab switch.

[2018-05-30 07:20] geetanshu-m commented on #554
Yes, this would be a good solution.

[2018-05-30 08:10] schnuti commented on #554
I do not want to **click twice** in my normal workflow, only if I regret my action i.e I use the Reset button. As is. Clicking on a tab is a confirmation.

[2018-05-30 08:39] schnuti commented on #554
In the code there are some ToDo functions including History and History redo. The future will tell us.

[2018-05-30 11:32] schnuti commented on #217
@brianteeman To split click and double click you need two clickable areas. I find it ok as is for images. If you hover the image and 1. click on the dropdown to open it. 2. click on the first icon opens the modal.
My proposal would be to add this icon to the folder dropdown with the action open/view this folder.
In the list view the lines could be split up. 1. Click on icon to select 2. click on t

[2018-05-30 13:44] schnuti opened #555 "Proposal: Open folder icon in dropdown"
### Steps to reproduce the issue

Open a folder in the images view = double click.

### Proposal
Add an icon to the dropdown with action to open the folder. (alternative to dbl click)

![add-icon-tp-folder](https://user-images.githubusercontent.com/956537/40723760-deaa72be-641f-11e8-8e50-cd0e5795ddba.jpg)

[2018-05-30 13:49] schnuti commented on #217
#555

[2018-05-30 13:50] schnuti commented on #217
Wrong button

[2018-05-30 17:55] schnuti opened #556 "Add onBeforeDelete and onAfterDelete for plug ins"
MM adds onBeforeSave and onAfterSave events but onBeforeDelete and onAfterDelete are also needed.

One example that might be of interest those days. (EU's GDPR)
A plug-in keeps track of the created (uploaded) files in a db table including user-id (right to information on own data).
A second plug-in should check user authorization before deleting the file and delete the table entry after deleting.

[2018-05-30 17:56] kasvith commented on #555
agree on this one

[2018-05-30 18:09] laoneo commented on #555
@brianteeman would that work for you?

[2018-05-30 18:17] schnuti opened #557 "Proposal: Split the table lines in list view into two clickable areas."
The dblclick to open image view / change directory is not very intuitive.
To split the table lines in two clickable areas would help.
1. Click on icon = select.
2 Click on the rest = current dblclick action

![split-click-area](https://user-images.githubusercontent.com/956537/40739435-78b3b0ca-6446-11e8-902f-c6990f00011c.jpg)

[2018-05-30 18:38] schnuti opened #558 "Proposal: Add the dropdowns to list view."
For many reasons it's more effective to work in listview than in image view. A lot more data is available. If e.g. descriptive file names are used the names get too long for the image view. The file name is enough. If I want to see it, there's the modal view (one click!)
i.e. With drop downs including the same functionality I would choose to use the listview.

Pic._ Dropdowns on hoover shown for d

[2018-05-30 18:54] schnuti opened #559 "Item row select in listview is not standard conform."
### Steps to reproduce the issue
Click around in the listview to select all, select one and deselect one.
Shift + Click is used!

### Expected result
I'm used to Ctrl + Click.
Shift + Click should select all rows from first selected down to ( or up to  ) clicked row. (If the code allows it)

[2018-05-31 06:59] laoneo commented on #437
As with the merge of #540 we have now confirmation for the context menu. Leaving this issue open as there is still the delete confirmation missing in the toolbar.

[2018-06-02 03:00] Quy commented on #559
Duplicate #459

[2018-06-02 09:05] #559 closed, assigned to nobody

[2018-06-02 11:56] schnuti commented on #497
@laoneo
Do you know the reason for not using Promise and Joomla.request (as is) for the requests as for upload, rename ....? The Promise would solve this issue.

[code]

I managed to add callbacks and then it works in my tests. As my own experiment  I'll try to follow the upload example and use Promise and Joomla.request instead.

Shouldn't Notifications.js be moved to media/com_media/js and in th

[2018-06-02 19:46] kasvith commented on #545
Backend part is already implemented

[2018-06-02 20:42] carlitorweb commented on #545
That is nice @kasvith . I will test it then

[2018-06-03 06:35] schnuti commented on #545
@kasvith
Do you know if the same PHP-code is called as with Upload/Save and Delete?  Cut = Delete (when pasted), Paste = Upload/Save. Important for any PHP events onBefore..., onAfter...

[2018-06-04 08:11] dneukirchen commented on #497
Yes... Notifications.js is/was just an adapter for a non-existing joomla api. Our goal was to focus on media manager and not spent too much time modernizing outdated core apis. As soon as we have promise support or a good notification and request api in joomla, we can change the internals.

[2018-06-04 10:45] schnuti commented on #497
@dneukirchen  I copied a small part of Notifications into the code I edit. A nice helper. There is a colourful bug in there. I'll add an issue.

i changed the edit-images to use promises. That solves this issue. I also added progress using tag with the same name. I'll add it as a PR for review.

[2018-06-04 10:57] schnuti opened #560 "Colourful bug in notifications.js"
### Steps to reproduce the issue
Not that easy. You have to find a code that sets Notifications and edit the options. As is, you cant change colours. At least not with the used CSS.

Its based on option.type and not option.level.
e,g. option.type ="danger" for error messages.

All is now using info colours.

[2018-06-05 02:21] kasvith commented on #545
when doing cut we do actually move the file in php,
when do copy we do actually copy file in php, so technically its not the same code

[2018-06-05 09:14] #523 closed, assigned to nobody

[2018-06-05 09:16] laoneo commented on #475
The hooks are there now for 3rd party extensions with an example in the resize plugin to have max dimension after upload, but I would not ad a thumbnail functionality into core.

[2018-06-05 15:28] schnuti commented on #556
Do not forget the not yet implemented Cut/Copy/Paste functionality. The events are needed there as well.

[2018-06-05 15:32] schnuti commented on #475
#556

[2018-06-05 15:35] schnuti commented on #255
Covered in other issues.

[2018-06-05 15:35] #255 closed, assigned to nobody

[2018-06-06 08:22] kasvith opened #562 "File upload progress"
It would be nice to have a file upload progress like this

![fileupload](https://user-images.githubusercontent.com/13379595/41013664-d766df84-6964-11e8-85ff-37795ffebb2c.png)

So users can see the status of files being uploaded into the media manager
Also users can cancel the event

[2018-06-08 12:06] dneukirchen commented on #560
thx

[2018-06-08 12:06] #560 closed, assigned to schnuti

[2018-06-20 11:30] kasvith opened #565 "IE11 has problems with JS"
### Steps to reproduce the issue
- Just open the NMM in IE11

### Expected result
- A working NMM

### Actual result
- A broken NMM

### System information (as much as possible)
- Windows 10
- IE 11

### Additional comments
These are the errors possibly shown in the console of IE11 with stack

![image](https://user-images.githubusercontent.com/13379595/41655497-b33ac0a2-74aa-11e8-96a9-7d4512105ed4

[2018-06-20 12:46] laoneo commented on #565
Is the promise issue because of #561?

[2018-06-20 13:45] schnuti commented on #565
A promise is used in 561 because this is what upload is using. In both cases callbacks would do if you do not chain the promises anyway.

[2018-06-21 05:11] kasvith commented on #565
I think promise issue is from upstream. files are retrieving with promises

[2018-06-21 06:25] schnuti commented on #565
Sorry for not reporting the problem before. I thought it was known. IE 11 never accepted to start the new MM. i.e. it's not a new issue.

![screenshot_1](https://user-images.githubusercontent.com/956537/41701389-9e22014e-752c-11e8-9fa9-b07a09799fd7.jpg)

[2018-06-21 06:35] kasvith commented on #565
yes, its not from your code

[2018-06-21 09:26] dgrammatiko commented on #565
@kasvith since I don't have a VM with IE11 atm, can you do a simple test for me?
open https://github.com/joomla-projects/media-manager-improvement/blob/dev/media/vendor/webcomponentsjs/js/webcomponents-sd-ce-pf.min.js

remove all contents and paste the contents from https://github.com/webcomponents/webcomponentsjs/blob/master/webcomponents-bundle.js

check that promises and all the other missing p

[2018-06-27 12:32] schnuti opened #566 "MM broken after update with the package from 26 june"
### Steps to reproduce the issue
MM do not start. Message see image.

![class-not-found](https://user-images.githubusercontent.com/956537/41973658-e94e990a-7a15-11e8-904b-df389fd6cd88.png)

### Additional comments
Autoload was probably changed. My testcode had the same. Eventually I resolved my problem but that code is using standard folders. I have no idea for MM.

[2018-06-27 13:01] dneukirchen commented on #566
Should be fixed with the next upstream merge, see https://github.com/joomla/joomla-cms/issues/20823

[2018-06-27 13:01] #566 closed, assigned to nobody

[2018-06-27 13:14] laoneo commented on #566
Upstream is merged https://github.com/joomla-projects/media-manager-improvement/commit/bb11af2ab35390292e6813d0cada72f66e46b68c.

[2018-07-03 10:01] brianteeman opened #567 "Thumbnails and icons"
There have been various comments about the placement and usage of icons on the media thumbnails. I just came across this design pattern and thought it would be a good solution

![mediamanager](https://user-images.githubusercontent.com/1296369/42213333-5cac4872-7eb0-11e8-880e-2f8d1634bc0f.gif)

[2018-07-03 10:24] ciar4n commented on #567
Rough draft of how that may look within the media manager context

### Default
![image](https://user-images.githubusercontent.com/2803503/42214384-50d2395a-7eb3-11e8-9d0c-267730d70a05.png)

### On hover
![image](https://user-images.githubusercontent.com/2803503/42214407-64f6f010-7eb3-11e8-87d1-77a877f5466f.png)

### Menu clicked
![image](https://user-images.githubusercontent.com/2803503/42214359-4

[2018-07-03 10:27] ciar4n commented on #567
The bigger 'actions' would allow us to add a title 👍 . Any particular complaints about the current icons?

[2018-07-03 10:39] brianteeman commented on #567
Obviously I like it

[2018-07-12 18:08] kasvith commented on #565
@dgrammatiko tried pasting the above file and i still gets the same issue

[2018-07-15 03:24] kasvith opened #569 "Clicking back/forward buttons of the browser should navigate the folders in file browser"
### Steps to reproduce the issue
- Go inside to some folder in NMM
- Try back button and forward button

### Expected result
- As URL changing in the browser, NMM should navigate back and forward according to the button clicked

### Actual result
- NMM stays in the current folder

### System information (as much as possible)
- Windows 10, mysql 5.7, nginx 1.10
- Chrome Latest

### Additional comme

[2018-07-16 09:50] laoneo opened #571 "While editing an image, the form is shown below"
### Steps to reproduce the issue
Edit an image in MM. I guess it has todo with either the new back end template or the tabs custom element.

### Expected result
![image](https://user-images.githubusercontent.com/251072/42752468-46601722-88ee-11e8-9986-40a28bbc27bb.png)

### Actual result
![image](https://user-images.githubusercontent.com/251072/42752488-5ac0a768-88ee-11e8-95ee-13495e42fc23.png)

[2018-07-17 09:29] geetanshu-m commented on #553
We may include [this](https://mirari.cc/v-viewer/) component for the preview of the images.

[2018-08-01 02:04] geetanshu-m commented on #571
Faced the same issue...

[2018-08-03 06:04] ghost opened #573 "Select-Button and -Text need more Contrast"
### Steps to reproduce the issue
As Title say:

![screen shot 2018-08-03 at 07 55 07](https://user-images.githubusercontent.com/8235763/43626812-c4e20296-96f3-11e8-842e-5e9b32ee0375.jpg)
### System information
- Nightly Build 4.0.0-alpha5-dev
- Multilingual Sample Data (French, German DE, Persian)
- Template: Cassiopeia
- macOS Sierra, 10.13.6
- Firefox 61 (64-bit)
#### CloudAccess.net
- PHP 7.1.1

[2018-08-04 11:03] laoneo commented on #573
@ciar4n is this a template issue or specific to MM?

[2018-08-04 14:08] TobsBobs opened #574 "Image not displayed after saving"
### Steps to reproduce the issue
Select and edit image
Click Save button
Picture has disappeared

### Expected result
Image should still be displayed

### Actual result
Image is no longer displayed

### System information (as much as possible)
php: Windows NT TOBSBOBS 10.0 build 17134 (Windows 10) i586
dbserver: mysql
dbversion: 5.5.5-10.1.33-MariaDB
dbcollation: latin1_swedish_ci
dbconnectioncoll

[2018-08-04 14:12] ghost commented on #574
Issue confirmed.

After Reload Image is shown again.

[2018-08-04 14:33] TobsBobs opened #575 "Image edit - save and close button not working"
### Steps to reproduce the issue
Select and edit an image
use the button save and close
back to the image and folder list
the change from the image has not saved

### Expected result
The changed image should display and not the original

### System information (as much as possible)
php: Windows NT TOBSBOBS 10.0 build 17134 (Windows 10) i586
dbserver: mysql
dbversion: 5.5.5-10.1.33-MariaDB
dbcollat

[2018-08-05 04:31] schnuti commented on #575
I can't test with the latest version a.t.m. It looks a bit familiar with #561 that has to do with Windows, Firefox and asynchronous ajax calls but only for "Save & Close" not "Save".
1. Could you test with another browser e.g. Chrome or Edge,
2. Could you open Firefox's Developer/Console Log to check for Javascript errors.

[2018-08-05 10:29] TobsBobs commented on #575
Hello @schnuti,

1
I get no js error in the console:
![1](https://user-images.githubusercontent.com/816779/43684935-fd443ca0-98a9-11e8-8af8-ff3f61a049cb.png)

2
In Chrome and Edge it works. But i found a little bug in all three webbrowser. The image-list will not be updated. It still shows the old picture. I will open another issue für this bug.

[2018-08-05 10:31] TobsBobs commented on #575
I load the new nightly build from this night and test a little bit more.

[2018-08-05 13:47] schnuti commented on #575
You mean if you refresh the page the changed image appears?
If you click on save and after waiting a few seconds click on close, the same?
The question is, if all is a problem with the asynchronous call. i.e. when loading the new page the changed image is not yet completely written to the server so the old is still loaded.

[2018-08-05 13:53] schnuti commented on #575
The message "Image saved" (or "Error") is really needed.

[2018-08-05 14:02] TobsBobs commented on #575
yes

yes, the old image is displayed. After refresh the page the changed images appears.

No message is displayed in the homepage. Only when i delete a picture then it shows "Item deleted". The developer console is empty.

[2018-08-05 14:47] schnuti commented on #575
Yes, image edit has no messages. The mentioned PR adds them. A small push for the idea ;) That PR depends though on the solution for browse IE11. I'll check if it's testable and let you know.

[2018-08-05 16:02] schnuti commented on #575
I've updated the repository and made a quick test. Works as expected.
It would be great if you can test. It seems to be more or less a Windows/Firefox problem. The coding should though still use callbacks or promises. Most developers use some other alien systems.

The repository [-> here <-](https://github.com/schnuti/media-manager-improvement/tree/edit-images-promise)
The PR as above #561

[2018-08-05 16:15] TobsBobs commented on #575
Thanks, yes I will test soon.

[2018-08-05 16:38] TobsBobs commented on #575
I installed your repository and tested. The Save and Close button works good. But the image list is not refreshed. The old image is displayed. I do not know if this is relevant for your patch.

Only when I changed the image a second on and click the "save and close" button then the new image is displayed (image list).

[2018-08-05 18:59] schnuti commented on #575
Thanks for testing.

As you said, please open a new issue for "Not reloading saved images".
The changes in the PR are only for saving in the Edit view.  It seems they are now always saved. If you open a changed image it is the changed one even if the "Image list" shows the old one.

Reloading of the images seems to be very random. In my quick test before asking you to test they really did load cor

[2018-08-08 09:20] TobsBobs commented on #575
I open a new issue this weekend.

[2018-08-11 12:48] TobsBobs opened #576 "Image list not updated after saving"
### Steps to reproduce the issue
Edit an image
Save the image
Go to the image list
The old image is displayed

### Expected result
The image list should be refreshed and the edited image is displayed.

### Actual result
The image list is not refreshed and the old image is displayed.

### System information (as much as possible)
php: Windows NT TOBSBOBS 10.0 build 17134 (Windows 10) i586
dbserver:

[2018-08-11 17:47] schnuti commented on #576
I can confirm this issue. I have almost the same configuration as toby.
@TobsBobs This is without the save fix? Could you open the Chrome-developer->Console. Any messages when saving? I get some about slow system but the changed image is then reloaded.

@laoneo Do you know if something was changed for image loading. As far as I remember it used to work except when the image wasn't saved correctly

[2018-08-11 18:55] schnuti commented on #576
It seems to be a problem where the browser cache is involved.
With Chrome:
- The image was changed on disk. (copied the original back)
- Reloaded page Did Not get the image from disk. Kept the one in the cache.
- Opened the Chrome-Developer
- Reloaded page got the original from disk.
i.e. hard to test to get the problem.

[2018-08-11 22:33] TobsBobs commented on #576
@schnuti
Yes, this was without your save fix.
In Chrome-developer-Console is no error message visible. I think you are right.
The first thing we should fix is the save button.

I'll play with it the next few days.

[2018-08-12 09:48] schnuti commented on #576
I'm out of ideas. It seems to be completely random.
Here some docs from the same session (in FF). Did not leave the MM views.
1. Original load of a directory. The images are requested at the bottom of the list. You can see 2 images loaded.
![requests-in-ffdeveloper](https://user-images.githubusercontent.com/956537/44000656-6fb8b804-9e24-11e8-8927-4e8d0535b94a.jpg)

2. Load after saving image. This

[2018-08-16 10:35] kasvith opened #577 "Layout is messed up after the update"
### Steps to reproduce the issue
- Pull from latest nmm dev branch
- Go to the Media Manager
- Click on item then go to edit

### Expected result
- It should display a correct edit view

### Actual result
- Edit view display multiple copies of the image(for all the tabs)
- Edit view has a layout issue, sidebar is not displaying correctly

![image](https://user-images.githubusercontent.com/13379595

[2018-08-17 06:51] laoneo commented on #577
I guess we need to wait till all the JS changes get into core like ES6 and the custom elements rewrite to get a fix for this issue.

[2018-08-20 11:16] ggppdk commented on #289
I am a little confused
so this was implemented  / finished ?
https://community.joomla.org/gsoc-2017/gsoc-2017-cloud-file-systems-for-joomla.html

[2018-08-20 12:54] kasvith commented on #289
It was implemented and merged

[2018-08-22 12:26] laoneo commented on #577
I'v synced the media manager with upstream and it shows now only one image
![image](https://user-images.githubusercontent.com/251072/44461449-2ded9580-a611-11e8-9cd9-11c19e43fed2.png)

Before the tabs have been a custom element the controls have been on the sidebar. Now the code got changed the way that the image is moved inside the tabs. @dgrammatiko any idea how we can move them back to the side

[2018-08-22 12:30] brianteeman commented on #577
Not at my pc but try
Adding $this->useCoreUI = true;

—

[2018-08-22 12:32] laoneo commented on #577
We do that already here https://github.com/joomla-projects/media-manager-improvement/blob/dev/administrator/components/com_media/tmpl/file/default.php#L56.

[2018-08-22 12:39] brianteeman commented on #577
It was a guess as I am not at my pc.

[2018-08-22 19:12] dgrammatiko commented on #577
The logic of the edit-media.js needs to be adjusted. The old way was that the image **wasn't** part of the tabs (although it was rendered after the tabs navigation). This of course is broken now because of the new tabs design, and frankly because it was totally wrong to start with. So the methods activate and deactivate need to dynamically reposition the div (container) for the image. It's fairly

[2018-08-25 14:28] geetanshu-m commented on #577
@laoneo just pulled from the repo, fresh installed joomla, Still getting three images.

[2018-08-25 16:31] laoneo commented on #577
Any js error?

[2018-08-25 21:37] geetanshu-m commented on #577
No JS error is being reflected in console.

[2018-08-29 10:22] #524 closed, assigned to nobody

[2018-10-07 18:36] TobsBobs commented on #577
I can confirm this issue!

![screenshot_2018-10-07 media edit - joomla 4 test - administration](https://user-images.githubusercontent.com/816779/46585343-098a3300-ca70-11e8-89b0-fd8a69aa9066.jpg)

No JS error:

Gewechselt zu http://localhost/j4/administrator/index.php?option=com_media&view=file&path=local-0:/banners/banner.jpg
GEThttp://localhost/j4/administrator/index.php?option=com_media&view=fi

[2018-10-07 18:40] TobsBobs commented on #574
Any updates after two month with no response?

[2018-10-07 18:41] TobsBobs commented on #575
Thanks @schnuti !

Any updates after two month with no response?

[2018-10-07 18:42] TobsBobs commented on #576
Thanks @schnuti !

Any updates after two month with no response?

[2018-10-17 09:24] laoneo commented on #576
It needs some browser cache cleanup after save.

[2018-10-17 09:26] laoneo commented on #575
Is this not the same issue as #576?

[2018-10-17 09:29] laoneo commented on #574
Atm, we will address this issue when we have the resources for it. But thanks for reporting.

[2018-10-17 09:55] TobsBobs commented on #575
No, this error is about the button "save & close".
The edited image is not saved after the click "save & close".

[2018-10-17 10:06] TobsBobs commented on #576
@laoneo yes that's right. But with this issues i can not properly test the new media manager and joomla 4 is far away from beta status.

I will wait and see what happens. Thanks!

[2018-10-17 16:02] kasvith commented on #575
When we were completing adaptive images project we encountered same problem, @proman24 was able to solve it i guess. can you do a pr to it @proman24 ?

[2018-10-19 00:33] geetanshu-m commented on #575
Would be raising a PR for that ASAP.

[2018-10-19 17:56] schnuti commented on #575
There are 2 problems.
1. Asynchronous AJAX without using JS Promise or callbacks leads to not saved images. (browser dependent?) See the PR mentioned above.
2. Browser caching makes reloading of saved image very random. I do not know why but that's the result of tests.

[2018-10-19 19:31] geetanshu-m commented on #575
What I did was, first disable the currently opened tab, then close the window. Previously, they were directly closing without calling the disable function of individual plugin (Crop, Resize, Rotate).
This solved my issue at the time of development of **Adaptive Images**

[2018-10-28 15:52] schnuti commented on #575
I probably found an answer to why one browser saves the image and another not. In Chrome there is an option:

This should save the AJAX call from  being interrupted. I do not know if other browsers have a corresponding setting.

[2018-12-30 05:04] kasvith commented on #577
any update on fixing issue?

[2019-03-25 10:07] bahl24 commented on #567
@franz-wohlkoenig @Anu1601CS Sorry for the delay, how does this look for starters?
![Screenshot from 2019-03-25 15-26-38](https://user-images.githubusercontent.com/36095178/54911117-c46d9680-4f13-11e9-8670-e7967d7a303c.png)

[2019-03-27 06:38] ghost commented on #567
@bahl24 i don't know, i'm no dev, i try to hold Github clean :-) Can https://github.com/joomla/joomla-cms/issues/23968 be closed?

[2019-03-27 07:47] bahl24 commented on #567
@franz-wohlkoenig No, I am yet to make a PR. I wanted to ask how does the layout look.

[2019-03-27 07:51] ghost commented on #567
i don't know, but some who are working on the new Media manager may know (@laoneo ?)

[2019-03-27 08:09] laoneo commented on #567
@bahl24 if you want to make a pr, please open one in the main repo. As development has shifted there.

[2019-04-02 11:11] #383 closed, assigned to nobody

[2019-04-02 11:12] #530 closed, assigned to nobody

[2019-04-02 11:12] #510 closed, assigned to nobody

[2019-04-02 11:12] #439 closed, assigned to nobody

[2019-04-02 11:12] #438 closed, assigned to nobody

[2019-09-05 17:31] carlitorweb commented on #545
I saw you have something done on this, but still the doubt: Will this feature be part of media manager in the early version of J4 ?

[2019-10-19 11:43] uglyeoin commented on #577
I no longer see this issue occuring.  Can this issue be closed?

[2019-10-19 14:14] obuisard commented on #577
I do not see any JavaScript error, it's good to go for me.

[2019-10-19 15:34] uglyeoin commented on #577
@obuisard you do not see duplicate images either right?  If that is correct this issue can be closed by @kasvith

[2019-10-19 15:49] obuisard commented on #577
No, no duplicates :-)

[2019-10-19 15:51] uglyeoin commented on #577
@kasvith thanks for reporting this issue.  It seems like a lot of people had it at the time but the issue has been resolved by someone along the way and it no longer exists.  As two people have tested this and agree, can you close the issue please?

[2019-10-19 20:56] #577 closed, assigned to nobody