[2016-08-06 12:43] laoneo opened #20 "How to test/play"
Would be great to have some testing instructions or similar in the readme to get started with the project. Perhaps there are people coming here who want to contribute.

[2016-08-06 13:21] dgt41 commented on #20
There are two ways to test any PR here:

- The easy one where you need to download a copy of this repo from (here)[https://github.com/joomla-projects/media-manager-improvement/archive/master.zip] and then install it locally. Also grab com_patchtester and install that too and then go to it's configuration options and set the project name to joomla-projects and the repo to media-manager-improvement

[2016-08-06 13:49] laoneo commented on #20
I was asking more what todo after installation not how to install it. Also not how to test a pr more what to look for on this project.

[2016-08-06 14:07] jissereitsma commented on #20
Hi @laoneo , I think for now it is still a bit like having "loose ends". @marcodings and I will hopefully meet somewhere upcoming days, we have a small code sprint on August 13th (for which I'm supposed to some organizing, grrr) and will work on more features soon. As for now, real end-to-end testing is only needed sporadically, while the [wiki](https://github.com/joomla-projects/media-manager-imp

[2016-08-08 07:11] laoneo commented on #20
I think I an help out with Flysystem, as I did already a project with it, if needed.

[2016-08-08 08:39] dgt41 commented on #20
@laoneo it will be great if we can have Flysystem.
Probably there will need to be some trick in the autoloader to skip it for PHP versions that are not supported (<5.5 I  think)

[2016-08-08 08:47] jissereitsma commented on #20
@laoneo @dgt41 Having more people on board with the FlySystem subproject is great. But please note that this has much less priority than the other points (as outlined in the wiki). The main point is indeed PHP compatibility, so FlySystem support will not be added until Joomla X comes out - at least it will not be included in the next Joomla release. The reason FlySystem was added as a subproject f

[2016-08-08 09:39] laoneo commented on #20
So what's the most important features missing? Where do you need help specifically?

[2016-08-08 10:24] jissereitsma commented on #20
Well, actually all issues as documented in the [wiki](https://github.com/joomla-projects/media-manager-improvement/wiki) under "Pending (short term)" are important. However, the problem is that we are proposing some radical changes - mainly ditching folders in favor of categories (with folders attached to them). This will be a major change in the upcoming weeks, and only after that, I know more ab

[2016-08-10 11:52] pulsarinformatique opened #21 "Thumbnails and croping features ?"
Hi

Will this new mediamanager allow us to upload a large image and create as many thumbnails we need with a JS croping interface ?

thanks

cyril

[2016-08-10 11:56] jissereitsma commented on #21
Yes, this is one of the scopes and it might be included in exactly the way as you need it. However, we will be unable to give any guarantees on the progress we make from within these specific project pages. Guarantees are only given by the Joomla Project once a feature is written and included in the Joomla core. As of yet, all of the work in this project is voluntary, so the best way to guarantee

[2016-08-10 12:18] pulsarinformatique commented on #21
Ok , I can help but only on a test / doc level

[2016-08-10 15:55] jissereitsma commented on #21
Thanks. I'll write you down in the wiki for that. For now, we are focussing only on hard-core development so for now things will be quiet.

[2016-08-10 15:55] #21 closed

[2016-08-10 15:57] jissereitsma commented on #20
I talked with @marcodings about you and your vibe and he'll be contacting you on a sprint this Saturday. We might need help with replacing `folders` with `categories` like in DP Fields. Closing this issue for the record.

[2016-08-10 15:57] #20 closed

[2016-09-01 13:00] ciar4n opened #23 "Fatel error in Media Manager"
#### Steps to reproduce the issue
Navigate to Content -> Media

#### Expected result
Media Manager

#### Actual result
[code]

#### System information (as much as possible)
PHP Version 5.6.11
mysqlnd 5.0.11

[2016-09-01 13:10] dgt41 commented on #23
@ciar4n did you follow the setup instructions: https://github.com/joomla-projects/media-manager-improvement/wiki

[2016-09-01 13:54] jissereitsma commented on #23
@ciar4n @dgt41 I don't think this issue is due to a wrong setup. The PHP error mentions that a very basic PHP function `finfo_open()` is not existing in this environment. According to the official manual http://php.net/manual/en/function.finfo-open.php it is part of PHP, but also as a PECL. I am very surprised to see that this PHP module `fileinfo` is not included in your environment. Anyway, we c

[2016-09-01 14:09] dgt41 commented on #23
@jissereitsma I think @ciar4n want's to help with the UI part, if so it would be good idea to get him in the team.
@ciar4n already showcased his background with https://github.com/joomla/joomla-cms/pull/11832
So if he wants to help here my proposal is to get him aboard

[2016-09-01 14:41] ciar4n commented on #23
@jissereitsma My PHP is sketchy at best but your comment was enough for me to resolve the issue. Thank you.

Thank you @dgt41 Would love to help where I can although. I had made a PR regarding the styling of the media manager ( #11874) and it was suggested I submit them here instead.

[2016-09-04 07:31] ciar4n opened #24 "Image filename issue on <a> and <img> tags"
Probably just another example of my ignorance on the backend of this project however I am having the following issue within the Media Manager..

![media-manager1](https://cloud.githubusercontent.com/assets/2803503/18229634/a30f8e00-7278-11e6-8a36-7055e4f590c7.jpg)

It appears the image filename within the **a** and **img** tags is including the entire local path rather than just the filename resul

[2016-09-08 11:18] marcodings opened #25 "Create tasks from wiki"

[2016-09-11 15:48] marcodings opened #26 "resolve @TODO administrator/components/com_media"
resolve @TODO administrator/components/com_media

[2016-09-11 15:59] marcodings opened #27 "resolve @TODO administrator/com_media"
resolve @TODO administrator/com_media

[2016-09-11 16:00] marcodings opened #28 "resolve @TODO media/plg_media-editor_imagecropper"
resolve @TODO media/plg_media-editor_imagecropper

[2016-09-11 16:00] marcodings opened #29 "resolve @TODO media/plg_media-editor_image_filters"
resolve @TODO media/plg_media-editor_image_filters

[2016-09-11 16:01] marcodings opened #30 "resolve @TODO plugins/media-editor/copy"
resolve @TODO plugins/media-editor/copy

[2016-09-11 16:02] marcodings opened #31 "resolve @TODO plugins/media-editor/imagecropper"
resolve @TODO plugins/media-editor/imagecropper

[2016-09-11 16:02] marcodings opened #32 "resolve @TODO plugins/media-editor/imagefilters"
resolve @TODO plugins/media-editor/imagefilters

[2016-09-11 16:02] marcodings opened #33 "resolve @TODO plugins/media-editor/rename"
resolve @TODO plugins/media-editor/rename

[2016-09-11 16:04] marcodings opened #34 "clean php-codesniffer warnings in administrator/components/com_media"
clean php-codesniffer warnings in administrator/components/com_media

[2016-09-11 16:04] marcodings opened #35 "clean php-codesniffer warnings in administrator/com_media"
clean php-codesniffer warnings in administrator/com_media

in php-storm run "code|inspect code" on each file

[2016-09-11 16:13] marcodings opened #36 "clean php-codesniffer warnings in media/plg_media-editor_imagecropper"
clean php-codesniffer warnings in media/plg_media-editor_imagecropper

in php-storm run "code|inspect code" on each file

[2016-09-11 16:13] marcodings opened #37 "clean php-codesniffer warnings in media/plg_media-editor_image_filters"
clean php-codesniffer warnings in media/plg_media-editor_image_filters

in php-storm run "code|inspect code" on each file

[2016-09-11 16:14] marcodings opened #38 "clean php-codesniffer warnings in plugins/media-editor/rename"
clean php-codesniffer warnings in plugins/media-editor/rename

in php-storm run "code|inspect code" on each file

[2016-09-11 16:28] marcodings opened #39 "Implement basic categories"
https://github.com/joomla-projects/media-manager-improvement/wiki#categories

Implement basic categories for media

Introduce the nessecary associated database fields for media
parent_id
category_id

[2016-09-11 16:29] marcodings opened #40 "Load category instead of folder"
Load category information when loading folder model. Create category otherwise.

https://github.com/joomla-projects/media-manager-improvement/wiki#categories

[2016-09-11 16:52] marcodings opened #41 "clean php-codesniffer warnings in plugins/media-editor/copy"
clean php-codesniffer warnings in plugins/media-editor/copy

in php-storm run "code|inspect code" on each file

[2016-09-11 16:53] marcodings opened #42 "clean php-codesniffer warnings in plugins/media-editor/imagecropper"
clean php-codesniffer warnings in plugins/media-editor/imagecropper

in php-storm run "code|inspect code" on each file

[2016-09-11 16:54] marcodings opened #43 "clean php-codesniffer warnings in plugins/media-editor/imagefilters"
clean php-codesniffer warnings in plugins/media-editor/imagefilters

in php-storm run "code|inspect code" on each file

[2016-09-11 16:58] marcodings opened #44 "Create a menu with "Images" and "Categories""
Create a menu with "Images" and "Categories"

https://github.com/joomla-projects/media-manager-improvement/wiki#categories

[2016-09-11 16:58] marcodings opened #45 "Add a task bar for batch processing (move, etc)"
Add a task bar for batch processing (move, etc)

https://github.com/joomla-projects/media-manager-improvement/wiki#categories

[2016-09-11 16:59] marcodings opened #46 "Rename "Folders" to "Categories" within GUI text"
Rename "Folders" to "Categories" within GUI text

https://github.com/joomla-projects/media-manager-improvement/wiki#categories

[2016-09-11 17:21] brianteeman commented on #40
iso ?

[2016-09-12 08:16] jissereitsma opened #47 "Update JMM fork met upstream van joomla/joomla-cms"
The current source of this project runs being the `joola/joomla-cms` project. Upstream needs to be added (`git remote add upstream git@github.com:joomla/joomla-cms.git`) and merged - this leads to various PHP Fatal Errors that need to be resolved.

[2016-09-12 09:02] jissereitsma commented on #23
Fixed in code now.

[2016-09-12 09:02] #23 closed

[2016-09-12 09:04] jissereitsma commented on #24
Could you let us know also the type of PHP handler you are using under Windows? Because this is not a generic issue, but an issue specifically with Windows: Are you using `mod_php`, some kind of CGI thing or PHP-FPM?

[2016-09-12 12:37] brianteeman commented on #47
even without merging upstream there are fatal errors

[2016-09-12 16:02] ciar4n commented on #24
@jissereitsma PHP info of our localhost has been made available at the following... http://ciar4n.com/phpinfo/

[2016-09-12 16:09] jissereitsma commented on #24
Thanks. Out of security reasons I would recommend to remove the file again. Noted is now that this XAMPP runs the Apache 2.0 Handler. Perhaps somebody can pick this up for testing later on. I'm not a Windows user myself.

[2016-09-12 16:18] ciar4n commented on #24
Thank you @jissereitsma Done.

[2016-11-13 16:04] jissereitsma opened #49 "Create Joomla\MediaManager"
Create a new library under `libraries/vendor/joomla-projects` and have it include a `Joomla\MediaManager\Image\ActionInterface` interface.

[2016-11-13 16:17] jissereitsma opened #50 "Create some sample action classes"
For samples see https://github.com/joomla-projects/media-manager-improvement/wiki/Image_Transformations

[2016-11-13 16:18] jissereitsma opened #51 "Initial draft of Image class"
Copy sample from wiki (https://github.com/joomla-projects/media-manager-improvement/wiki/Image_Transformations) to `libraries/`

[2016-11-30 15:57] yvesh commented on #50
We changed the functionality slightly there. Actions are now all plugin based (Extending MediaActionInterface), so it can be easily extended.

[2016-12-22 14:12] laoneo commented on #47
Closing this one as we start from scratch and staging is now up to date again with upstream.

[2016-12-22 14:12] #47 closed

[2016-12-22 14:35] laoneo opened #67 "Back end api controller"
A new api controller should be introduced which acts as endpoint for the client side javascript code.

[2016-12-27 23:02] dneukirchen opened #69 "Prepare vue deployment for production"
* Run the bundling command with NODE_ENV set to "production". This tells vueify to avoid including hot-reload and development related code.

* Apply a global envify transform to the bundle. This allows the minifier to strip out all the warnings in Vue’s source code wrapped in env variable conditional blocks.

* Exclude the resource and build files from the joomla build process.

* ~~Extract inline

[2016-12-28 08:17] laoneo commented on #67
Closing in favor of #71.

[2016-12-28 08:17] #67 closed, assigned to laoneo, jissereitsma

[2016-12-28 08:22] laoneo commented on #24
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:22] #24 closed

[2016-12-28 08:22] laoneo commented on #25
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:22] #25 closed

[2016-12-28 08:22] laoneo commented on #26
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:22] #26 closed

[2016-12-28 08:22] laoneo commented on #27
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:22] #27 closed

[2016-12-28 08:22] laoneo commented on #28
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:22] #28 closed

[2016-12-28 08:22] laoneo commented on #29
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:22] #29 closed

[2016-12-28 08:23] laoneo commented on #30
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #30 closed

[2016-12-28 08:23] laoneo commented on #31
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #31 closed

[2016-12-28 08:23] laoneo commented on #32
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #32 closed

[2016-12-28 08:23] laoneo commented on #33
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #33 closed

[2016-12-28 08:23] laoneo commented on #34
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #34 closed

[2016-12-28 08:23] laoneo commented on #35
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #35 closed

[2016-12-28 08:23] laoneo commented on #36
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #36 closed

[2016-12-28 08:23] laoneo commented on #37
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #37 closed

[2016-12-28 08:23] laoneo commented on #38
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:23] #38 closed

[2016-12-28 08:24] laoneo commented on #39
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:24] #39 closed

[2016-12-28 08:24] laoneo commented on #40
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:24] #40 closed

[2016-12-28 08:24] laoneo commented on #41
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:24] #41 closed

[2016-12-28 08:24] laoneo commented on #42
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:24] #42 closed

[2016-12-28 08:24] laoneo commented on #43
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:24] #43 closed

[2016-12-28 08:24] laoneo commented on #44
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:24] #44 closed

[2016-12-28 08:25] laoneo commented on #45
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:25] #45 closed

[2016-12-28 08:25] laoneo commented on #46
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:25] #46 closed

[2016-12-28 08:25] laoneo commented on #49
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:25] #49 closed, assigned to jissereitsma

[2016-12-28 08:25] laoneo commented on #50
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:25] #50 closed, assigned to Kubik-Rubik

[2016-12-28 08:25] laoneo commented on #51
Closing this issue as part of a repository cleanup for milestone 1 https://github.com/joomla-projects/media-manager-improvement/wiki. If you still think this issue exists on milestone 1, don't hesitate to reopen it.
Thanks for understanding.

[2016-12-28 08:25] #51 closed, assigned to Kubik-Rubik

[2016-12-28 17:40] dneukirchen opened #73 "Implement multilanguage support in the vue frontend application"
* Use the default joomla language files

Vue Plugins:

* https://github.com/kazupon/vue-i18n

[2016-12-29 08:15] laoneo commented on #73
We can also use the Joomla way `Joomla.JText._('COM_MEDIA_LANGUAGE_STRING');`.

[2016-12-29 21:37] dgrammatiko commented on #69
@dneukirchen let's sync here!
For Joomla 4 I have created a grunt script that takes care of all the external scripts and other processes as scss to css for templates. I guess we can merge things here!
Here is the gruntgile.js of J4:
[code]

[2016-12-29 21:42] dgrammatiko commented on #73
I will also support @laoneo way, for the default joomla language files

[2016-12-30 07:43] yvesh commented on #73
I told you @dneukirchen :)

[2016-12-30 07:56] dneukirchen commented on #73
With plugins like https://github.com/kazupon/vue-i18n we will also use the default joomla language files (.ini´s).

I dont like Joomla.JText and i think the technique is not ment to be used with powerful tools like vue, angular and react. It feels more like the quick and dirty solution, but i will give in to the majority.

[2016-12-30 14:31] mbabker commented on #73
The "issue" with `Joomla.JText` is it requires you to preload strings on the PHP side so they can be used with a request, it's not designed for a JavaScript frontend at all like a Vue or Angular or React.  Honestly, it'd be nice if we could do something similar to https://github.com/willdurand/BazingaJsTranslationBundle that creates a way to expose a language catalogue to the JS API, but that woul

[2017-01-03 09:10] laoneo commented on #73
But are the ini files not automatically loaded on the first page request? And the ajax requests should return only translated data anyway. So why should it be a problem to use JText then from technical point of view?

I'm aware that there are better ways to bring in translations, but JText is the Joomla way and there will be a learning curve when we go with the vue approach, so when we can use exi

[2017-01-03 13:38] dneukirchen commented on #73
I agree with @mbabker, but i think the feature (generate a compiled language string catalogue) is out of the scope of this project and could be a project on its own (especially when you have to find a clean solution for the overloading issue).

And for JText vs. vue i18n plugin:
The differences between those two techniques are not so big in our current usecase. We can go with JText::script for now

[2017-01-03 14:02] mbabker commented on #73
FWIW if there's anyone ever interested in toying with the compiled catalogue idea, this is the rough plugin code I've been playing with.

[plg_system_languagecache.zip](https://github.com/joomla-projects/media-manager-improvement/files/682339/plg_system_languagecache.zip)

[2017-01-04 07:05] laoneo commented on #73
What we need to do is to encapsulate that translation stuff into one place in vue. So when we want to change it on some point, then we have one function to change.

[2017-01-06 06:17] laoneo commented on #69
@dneukirchen can the script from @dgt41 be used in our context?

[2017-01-06 08:05] dneukirchen commented on #69
Yes, but we dont need it.

[2017-02-17 00:08] dneukirchen opened #82 "[API] Handle invalid path requests"
### Steps to reproduce the issue
Make a get request with an invalid path

```GET /administrator/index.php?option=com_media&format=json&task=api.files&path=some-invalid---or-not-existing-path```

### Expected result
Server responds with an 404 error.

### Actual result
Server responds with an 200 error and empty data set

[2017-02-22 07:50] laoneo opened #84 "Relative paths"
### Steps to reproduce the issue
When I open the media manager in a subfolder, then I receive a 404 error. The paths to the api are absolute and should be relative. The same for the images in the folder contents view.

[2017-02-22 21:05] dneukirchen opened #88 "API: error handling / input validation"
* Validate / Sanitize input
* Return the correct status / messages codes on errors

[2017-02-22 21:09] dneukirchen opened #89 "API / Fileadapter: resource response data for create folder request"
### Steps to reproduce the issue

Try to create a new folder:
POST /administrator/index.php?option=com_media&format=json&task=api.files&path=/
JSON BODY: {name: 'my-folder'}

### Expected result
A single resource response (not an array of items) with the data of the newly created folder:
[code]

### Actual result
The contents of the newly created folder.
[code]

[2017-02-22 21:19] dneukirchen commented on #89
Quick and dirty solution: https://github.com/joomla-projects/media-manager-improvement/commit/7f87259eab162de41202d20d46ebc5877f1ce752

[2017-02-23 07:53] dneukirchen opened #91 "Style the create-folder-form"
Follow up todo from https://github.com/joomla-projects/media-manager-improvement/pull/90

[2017-02-23 07:53] dneukirchen opened #92 "Update backend api for single resource requests"
Follow up todo from https://github.com/joomla-projects/media-manager-improvement/pull/90

(it was just a quick fix for the resource response see #89)

[2017-02-23 07:54] dneukirchen opened #93 "Adjust names of newly created folders"
Follow up todo from https://github.com/joomla-projects/media-manager-improvement/pull/90

currently all whitespaces are stripped, perhaps it is better to replace them with '-'

[2017-02-23 07:55] dneukirchen opened #94 "Put the create-folder-form state in vuex"
Follow up todo from https://github.com/joomla-projects/media-manager-improvement/pull/90

[2017-02-23 07:55] dneukirchen opened #95 "Implement transition effects for the modal"
Follow up todo from https://github.com/joomla-projects/media-manager-improvement/pull/90

[2017-02-23 14:49] laoneo commented on #84
Reopen this as it doesn't works with images.

[2017-02-23 16:47] laoneo commented on #82
Closing as we have a pr #96.

[2017-02-23 16:47] #82 closed, assigned to laoneo

[2017-02-23 16:49] laoneo commented on #92
This should be finalized with PR #96.

[2017-02-23 16:49] #92 closed, assigned to laoneo

[2017-02-23 16:49] laoneo commented on #89
This should be fixed with PR #96.

[2017-02-23 16:49] #89 closed, assigned to laoneo

[2017-02-23 16:59] laoneo commented on #93
Is this an issue on the client side or api?

[2017-02-23 17:49] dneukirchen commented on #93
Nope, its handled by the server (JFolder::create()). We have to manually modify it before sending the name to JFolder::create().

[2017-02-24 06:40] dneukirchen commented on #84
should be fixed by #97

[2017-02-24 06:41] #84 closed, assigned to dneukirchen

[2017-02-24 20:42] laoneo commented on #73
I made a first approach with a mixin which uses JText in pr #100. Later we can change it then to something more sophisticated when there is a need.

[2017-02-25 17:23] dneukirchen commented on #73
Thanks allon.

[2017-02-25 17:23] #73 closed, assigned to dneukirchen

[2017-02-25 17:49] dgrammatiko commented on #95
I can help here, as I already messed with this for my custom elements quest

[2017-02-25 17:56] dneukirchen commented on #95
Would be great. Go for it.
With vue transitions this should be just  ```<transition name="fade">...</transition>``` and the corresponding css classes.
https://vuejs.org/v2/guide/transitions.html

[2017-02-25 18:05] dneukirchen commented on #91
This issue is resolved with the j4-compatibility PR. #99

[2017-02-25 18:05] #91 closed, assigned to dneukirchen

[2017-02-28 08:47] dneukirchen opened #105 "Add csrf token to PUT, POST and DELETE ajax requests"

[2017-03-02 18:41] #105 closed, assigned to dneukirchen

[2017-03-06 10:10] laoneo commented on #88
Can this be closed with the merge of #104?

[2017-03-06 12:17] dneukirchen commented on #88
Yes

[2017-03-06 12:17] #88 closed, assigned to nobody

[2017-03-16 06:56] laoneo commented on #93
Can we close this in favor of #107?

[2017-03-17 05:41] #93 closed, assigned to nobody

[2017-03-21 05:14] dneukirchen opened #109 "Update npm dependencies"
Update vue and vuex to the latest versions.

[2017-03-21 06:04] dneukirchen opened #110 "Implement a info sidebar"
* The info sidebar is collapsable
* It shows basic information about the selected file or directory

[2017-03-21 15:13] laoneo opened #111 "Change the edit form field to the new code"
The edit form field needs to be changed to the new vue based list view. Should we go with the iframe approach or try to integrate vue into the edit forms like article.

[2017-03-23 18:55] #109 closed, assigned to dneukirchen

[2017-03-23 20:17] #110 closed, assigned to dneukirchen

[2017-03-23 20:24] dneukirchen opened #114 "Submit create-folder-modal-form with enter key"
### Steps to reproduce the issue

Open create folder modal.
Fill in the folder name.
Hit enter key.

### Expected result

New folder should be created
Modal should be closed

[2017-03-24 05:37] dneukirchen opened #115 "Make the list view info sidebar collapsable"

[2017-03-27 12:05] laoneo opened #117 "Error and Exception handling"
As pr #116 revealed. We need to address how error and exception handling should be done in the new media manager. Only on client side or server side and client side or only server side. We need to define a procedure for the following errors:
- PHP errors
- Exceptions
- Invalid data
- Javascript errors

[2017-03-27 12:55] dneukirchen commented on #117
Imho errors should be handled on both client and server.
In the context of an api the server catches exceptions and transforms it to a proper http response with the correct http status code and an optional message.

The client picks up that status code and shows the error to the user (in most cases its best to show the already translated error message from the server response).

The most important

[2017-03-27 13:30] kasvith opened #118 "Media Manager cloeses immediately"
### Steps to reproduce the issue

- Go to Joomla! 4 Administrator Control Panel
- Open media manager

### Expected result
- Showing up directories and files in the media storage

### Actual result
A message box showing up `200 OK` and returning immediately to the control panel home page

### System information (as much as possible)
PHP 7 with Windows

### Additional comments
This is same as in the

[2017-03-27 13:39] laoneo commented on #118
PR #116 should fix that issue. Can you please test it?

[2017-03-27 14:01] dneukirchen opened #119 "Create isImage() method"
see https://github.com/joomla-projects/media-manager-improvement/pull/116/files/516561cdc9517f7a6a87674bd60c41f24ae6abca#diff-65723fd4b983b2c36da5fac0daccd58f

[2017-03-27 14:12] kasvith commented on #118
I tested it and it worked. Closing the issue

[2017-03-27 14:12] #118 closed, assigned to laoneo, dneukirchen

[2017-03-27 14:22] kasvith opened #120 "New folder dialog not closing when OK is pressed"
### Steps to reproduce the issue

- Go to Control Panel
- Open Media Manager and create a new folder

### Expected result
- On successful folder creation closing the dialog itself

### Actual result
- Dialog still appear

### System information (as much as possible)
PHP 7 in Windows, Google Chrome is used

### Additional comments
- I went to the folder in the server where the actual files are kept

[2017-03-27 14:23] kasvith opened #121 "Media Manager shows a empty pane"
### Steps to reproduce the issue
- Go to admin panel
- Go to media manager

### Expected result
- A hierarchy with contents uploaded into media storage

### Actual result
- Empty pane

[2017-03-27 14:34] dneukirchen commented on #118
thx @kasvith

[2017-03-27 15:03] #120 closed, assigned to nobody

[2017-03-27 15:53] laoneo commented on #121
Can you post a acreenshot where you get the empty pane?

[2017-03-27 15:59] kasvith commented on #121
![screenshot_131](https://cloud.githubusercontent.com/assets/13379595/24365714/7fca6c1e-1334-11e7-8d3c-2cc342a66ad6.png)

Content folder shown to the right

[2017-03-27 16:06] dneukirchen commented on #121
Please open webdeveloper toolbar and look in console and network tab. Any errors there?

[2017-03-27 16:07] kasvith commented on #121
yes there is
 Console Tab

    at http://localhost/joomla4/media/com_media/js/mediamanager.js:9253:70
    at wrappedMutationHandler (http://localhost/joomla4/media/com_media/js/mediamanager.js:7936:5)
    at commitIterator (http://localhost/joomla4/media/com_media/js/mediamanager.js:7660:7)
    at Array.forEach (native)
    at http://localhost/joomla4/media/com_media/js/mediamanager.js:7659:11

[2017-03-27 16:11] dneukirchen commented on #121
In the network tab you should see a xhr request to our api endpoint (index.php?option=com_media...).

Does it return a 200 OK status? Can you post the response content here?

Thanks.

[2017-03-27 16:12] kasvith commented on #121
@dneukirchen yes there it is with HTTP 200 OK

[2017-03-27 16:17] dneukirchen commented on #121
Can you post the response here?

[2017-03-27 16:19] kasvith commented on #121
```{"success":true,"message":null,"messages":null,"data":[{"type":"dir","name":"a_folder","path":"C:\\xampp\\htdocs\\joomla4\\images\\a_folder","extension":"","size":0,"create_date":"2017-03-27T14:13:18+00:00","create_date_formatted":"2017-03-27 14:13:18","modified_date":"2017-03-27T14:13:18+00:00","modified_date_formatted":"2017-03-27 14:13:18","mime_type":"directory","width":0,"height":0},{"type

[2017-03-27 16:20] kasvith commented on #121
it seems like an error in the vue component

[2017-03-27 16:20] dneukirchen commented on #121
Ok, thank you. I have everything i need. Will look into this asap.

[2017-03-27 16:42] dneukirchen commented on #121
Tested it locally. I cant reproduce the error.

@kasvith
Are you sure that you use the latest milestone1 branch?
Please also make sure, that you cleaned your cache.

[2017-03-27 16:44] kasvith commented on #121
Yes it is the latest branch after PR #116

[2017-03-27 17:27] laoneo commented on #121
Can be the problem with the windows file paths?

[2017-03-28 05:55] laoneo commented on #117
What do we do with exceptions which should not break the whole request? For example when we fetch image data [here](https://github.com/joomla-projects/media-manager-improvement/blob/milestone1/administrator/components/com_media/libraries/media/file/adapter/local.php#L286) and it throws an exception. The whole request aborts and no data is represented on the client. Here it would be possible to jus

[2017-03-30 08:18] dneukirchen commented on #121
Just a little update on this: we are able to reproduce the issue and fixing it asap. Thank you for the report @kasvith

[2017-03-30 09:26] kasvith commented on #121
@dneukirchen whats the cause for the issue ?

[2017-03-30 09:34] dneukirchen commented on #121
Its related to win file paths.

[2017-03-30 09:52] kasvith commented on #121
are you guys using Macs or Linux ?
I'll develop using windows then we can track those issues too.

[2017-03-30 09:52] dneukirchen commented on #121
allon is using linux, im using a mac currently.

[2017-03-30 10:43] laoneo commented on #121
In the file administrator/components/com_media/libraries/media/file/adapter/local.php can you add after line 261 a `echo $this->rootPath.' '. $path;die;` statement. When you open the media manager in the back end, what's the result of the ajax request?

[2017-03-30 14:29] N6REJ commented on #121
@laoneo Allon I get a 200

[2017-03-30 14:45] kasvith commented on #121
@laoneo Same I also get a HTTP 200

Using Chrome Console I got for **General tab**

Request URL:http://localhost/joomla4/administrator/index.php?option=com_media&format=json&task=api.files&path=/
Request Method:GET
Status Code:200 OK
Remote Address:[::1]:80

**Response Tab**

**Request Headers**

I navigated to above

and i got following in browser

[2017-03-30 15:07] laoneo commented on #121
Can you guys please test #124. Does it fix the issue?

[2017-03-30 15:21] kasvith commented on #121
@laoneo not working yet here is the xhr response

{"success":true,"message":null,"messages":null,"data":[{"type":"dir","name":"a_folder","path":"C:\\xampp\\htdocs\\joomla4\\images\\a_folder","extension":"","size":0,"create_date":"2017-03-27T14:13:18+00:00","create_date_formatted":"2017-03-27 14:13:18","modified_date":"2017-03-27T14:13:18+00:00","modified_date_formatted":"2017-03-27 14:13:18","mime

[2017-04-01 13:00] dgrammatiko commented on #121
@dneukirchen @laoneo from a security perspective I think is totally wrong to expose the full path to the image, it should always be the relative (to the root installation of the site).
`"path":"C:\xampp\htdocs\joomla4\images\joomla_black.png",` this really looks bad

[2017-04-01 13:17] laoneo commented on #121
That's what we try to fix, when you open it on linux, then only the relative path is returned.

[2017-04-01 13:27] dneukirchen commented on #121
https://github.com/joomla/joomla-cms/pull/14139
https://github.com/joomla/joomla-cms/issues/11102

[2017-04-01 16:03] dneukirchen commented on #121
@dgt41 fixed the full path issue with my latest changes in #125
@kasvith can you test #125 ?

[2017-04-01 17:53] laoneo opened #126 "Move Edit view layouts to files"
Actually the plugin JS code of the media action plugins is in a layout, it needs to be moved to a JS file and loaded automatically by the base media action class.

[2017-04-01 17:54] laoneo opened #127 "Style the edit view"
The actual edit view is very simple, despite that it needs some styling.

[2017-04-01 17:55] laoneo opened #128 "How to open the edit view?"
With the current code, the edit view of an image is opened trough double click, we need here something better.

[2017-04-01 17:57] laoneo opened #129 "Implement save action in edit view"
The save action which uploads the modified image must be implemented.

[2017-04-01 17:58] laoneo opened #130 "Namespace event bus"
The event bus should be namespaced to Joomla.Media.EventBus.

[2017-04-01 18:01] laoneo opened #131 "Activate the initial active plugin"
When the edit view is opened, then no plugin is activated trough the event bus.

[2017-04-01 18:03] laoneo opened #132 "Add the resize, crop and rotate plugin to the install files"
The default media action plugins do need to be installed during Joomla install as well.

[2017-04-01 18:05] laoneo opened #133 "Enhance crop plugin"
The crop plugin needs some improvements for the integration.

[2017-04-01 18:05] laoneo opened #134 "Enhance resize plugin"
The resize plugin needs some improvements for the integration.

- Some input boxes for width and height.
- Better reflection of the demensions.

[2017-04-01 18:06] laoneo opened #135 "The rotate plugin needs some improvements for the integration."
The rotate plugin needs some improvements for the integration.

[2017-04-01 18:27] kasvith commented on #121
@dneukirchen issue still there

![image](https://cloud.githubusercontent.com/assets/13379595/24581339/e70096a0-1736-11e7-9ea2-dad4fe766249.png)

[2017-04-01 18:30] kasvith commented on #121
@dneukirchen wait still its a PR right, I thought it was merged, my bad

[2017-04-01 18:33] kasvith commented on #121
@dneukirchen @laoneo it works as excepted. thanks for the effort

![image](https://cloud.githubusercontent.com/assets/13379595/24581382/cd35d7ca-1737-11e7-9168-75f093852265.png)

[2017-04-01 18:42] kasvith opened #136 "Focus on the New Folder's text area after it was shown"
When user clicks on the **New Folder** button, it would be easier if the text box of the window gain the focus on the launch, so user can start typing name without moving mouse

[2017-04-02 10:55] dneukirchen commented on #136
thank you @kasvith

[2017-04-02 10:55] #136 closed, assigned to kasvith

[2017-04-02 10:58] dneukirchen commented on #121
fixed. thanks you all.

[2017-04-02 10:58] #121 closed, assigned to dneukirchen

[2017-04-02 11:14] dneukirchen commented on #114
@kasvith will resolve this one.

[2017-04-02 11:16] kasvith commented on #114
sure in ASAP :)

[2017-04-02 11:37] dneukirchen opened #140 "Setup drone for cs tests"

[2017-04-02 12:08] dneukirchen opened #142 "Fix CS errors"
http://213.160.72.75/joomla-projects/media-manager-improvement

[2017-04-02 12:09] dneukirchen commented on #140
thanks @yvesh

[2017-04-02 12:09] #140 closed, assigned to yvesh

[2017-04-02 12:17] zero-24 commented on #142
I'm on it. I just need some time to clone the repo 😄 Give me a few minutes.

[2017-04-02 12:23] yvesh commented on #142
Thanks @zero-24

[2017-04-02 12:31] zero-24 commented on #142
https://github.com/joomla-projects/media-manager-improvement/pull/143 @dneukirchen

[2017-04-02 12:35] #142 closed, assigned to nobody

[2017-04-02 15:49] kasvith opened #144 "Folder tree is not sorted on a new folder creation"
### Steps to reproduce the issue
- Go to media manager
- Create multiple folders

### Expected result
- A sorted folder tree

### Actual result
- Unsorted folder tree

### System information (as much as possible)
- PHP 7 Windows 10

### Additional comments
If you reloaded media manager, **folders will appear sorted**, but when creating with **Create Folder** button, new folders appends to the bott

[2017-04-02 18:01] dneukirchen opened #145 "Sort tree folderlist when adding new folders"
### Steps to reproduce the issue

Create a new folder

### Expected result

New folder is added in tree view and gets automatically sorted by name.

### Actual result

New folder is added to the end of tree list.
If you reload page the sorting is correct.

[2017-04-02 18:05] #145 closed, assigned to dneukirchen

[2017-04-02 18:42] dneukirchen commented on #144
@kasvith created PR #146 to fix this.

[2017-04-02 19:25] kasvith commented on #144
@dneukirchen will check ASAP

[2017-04-02 19:30] dneukirchen opened #148 "Create notification service wrapper"
We decided to not use Joomla.renderMessages and use our own notification system inside the vue application instead while keeping the look and feel from joomla notifications. We need more control over the notifications (i.e. show a cancelable upload progress notification).

The next step is to evaluate available 3dp vue notification plugins and see if any of those fit our needs. Otherwise we need t

[2017-04-03 03:51] dneukirchen commented on #114
thanks @kasvith

[2017-04-03 03:51] #114 closed, assigned to nobody

[2017-04-03 04:58] kasvith commented on #148
Can you give more details about the issue, so i can also contribute

[2017-04-03 05:11] dneukirchen commented on #94
Closing this. We are not going to do that.
Local state is ok in some cases.

[2017-04-03 05:11] #94 closed, assigned to dneukirchen

[2017-04-03 06:46] dneukirchen commented on #148
We need a way to send notifications to the user.

Joomla offers`Joomla.renderMessages = function( messages, selector, keepOld, timeout)`. This method needs to be wrapped into a vue notification plugin, so that each component can use it and send notifications. It should not be applied to all components.

Would be nice if we simplify the naming and reduce the number of arguments without loosing flex

[2017-04-03 14:22] #126 closed, assigned to nobody

[2017-04-03 16:11] #119 closed, assigned to laoneo

[2017-04-03 16:14] dgrammatiko commented on #130
I still think you should drop it as it's not essential for our use case

[2017-04-04 09:26] laoneo opened #156 "Open the list view with a path"
As when we are editing an image and do press cancel, the list view is opened with the root path and not the folder we are editing the image from. So it should be possible to open the media manager with a path attribute.

For example an url in the back end like `/administrator/index.php?option=com_media?path=/sampledata/parks/landscape` should directly open the folder **/sampledata/parks/landscape*

[2017-04-05 08:00] laoneo opened #159 "Move local adapter to Joomla plugin"
Actually the adapter which implements the `MediaFileAdapterInterface` is injected into the [constructor of the api model](https://github.com/joomla-projects/media-manager-improvement/blob/milestone1/administrator/components/com_media/models/api.php#L39).

To be prepared for multiple adapters in a model, the local adapter should be put into a Joomla plugin and then loaded trough Joomla events in th

[2017-04-06 11:03] dneukirchen opened #162 "Send success notification when new folder was created"
We need to send a notification to the user, when he creates new folders.

[2017-04-06 11:04] dneukirchen opened #163 "Send success notification when file was uploaded."
We need to send a notification to the user, when he uploads new files.

[2017-04-06 11:25] dneukirchen opened #164 "Show the upload progress for each file"
We need to show the user the progress of each file upload.
It would be sweet if we also add the possibility to cancel an upload.

[2017-04-06 11:25] dneukirchen opened #165 "Implement client side upload error handling"

[2017-04-06 15:47] ghost opened #166 "Media Manager not outputing any error when trying to upload a zip file that contains php files"
### Original-Issue by @compojoom at [#10609](https://github.com/joomla/joomla-cms/issues/10609#issuecomment-292206498)

As far as I understand there is a new security feature that scans the content of a zip file uploaded through the media manager and forbids the upload if that zip file contains any php files.

In my case this is pretty stupid as I want people to upload zip files containing php cod

[2017-04-07 07:01] dneukirchen commented on #148
We decided to not use Joomla.renderMessages and use our own notification system inside the vue application instead while keeping the look and feel from joomla notifications. We need more control over the notifications (i.e. show a cancelable upload progress notification).

The next step is to evaluate available 3dp vue notification plugins and see if any of those fit our needs.

This needs to be i

[2017-04-07 08:05] dneukirchen opened #168 "Create tests for plugins & vue components"
We need js tests for vue and the image-edit plugins.

Thanks to a gsoc project last year we have unit tests for some of the joomla core scripts.

Those are good examples for js unit tests in joomla.

[2017-04-07 10:34] dneukirchen opened #169 "Make the tree sidebar scrollable"
![bildschirmfoto 2017-04-07 um 12 33 29](https://cloud.githubusercontent.com/assets/1134007/24796735/83e4ef38-1b8e-11e7-9a13-e2dd454c3331.png)

The tree sidebar should be scrollable.

[2017-04-07 11:50] dneukirchen commented on #169
@ciar4n probably another one for you 😳 ?

[2017-04-07 13:47] ciar4n commented on #169
Sure... will have a look.

[2017-04-07 14:41] #169 closed, assigned to nobody

[2017-04-07 14:42] ciar4n commented on #169
Fixed with #170

[2017-04-08 08:56] dneukirchen opened #173 "What should happen to long folder names in tree?"
We need to decide how we should handle long/overlapping folder names in the tree sidebar.

Possible options:

A) Truncate them and show a tooltip on hover
B) Break them in multiple lines
C) Just truncate them
D) other options?

![bildschirmfoto 2017-04-08 um 10 54 50](https://cloud.githubusercontent.com/assets/1134007/24827439/eefa1670-1c49-11e7-95f9-dc11a3febdbe.png)

[2017-04-08 09:00] dneukirchen commented on #173
I like the way google drive solves this with a tooltip for overlapping folder names:

![bildschirmfoto 2017-04-08 um 10 59 38](https://cloud.githubusercontent.com/assets/1134007/24827466/8192115e-1c4a-11e7-8459-34ea75b1ad03.png)

[2017-04-08 09:36] ciar4n commented on #173
+1 for truncating with a tooltip

[2017-04-08 09:41] Bakual commented on #173
What happens when the tree itself gets to deep? Can we scroll horizontal?

[2017-04-08 09:46] dneukirchen commented on #173
No, currently we dont allow horizontal scrolling.
Thats another interesting question. Imo horizontal + vertical scrolling leads to bad ux.

Here is what google does in this case 😞  (no scrolling)

![bildschirmfoto 2017-04-08 um 11 43 10](https://cloud.githubusercontent.com/assets/1134007/24827787/f34c7f40-1c50-11e7-9c92-bc01f814161b.png)

[2017-04-08 09:56] ciar4n commented on #173
Considering excessively deep trees, the only options I can imagine available are..

- Only show the closest parent levels (eg. 3 levels up from active)
- Use a different approach for the folders altogether (eg. https://tympanus.net/Blueprints/MultiLevelMenu/)
- Horizontal scrolling (I'd agree with @dneukirchen on this)
- Option to expand width of folder tree
- Nothing with deep levels hidden

[2017-04-08 12:06] kasvith commented on #159
@laoneo is this plugin supposed to be used as the base plugin, for 3rd party media manager extensions ?
So they can use this for save files from clouds to local

[2017-04-08 12:15] kasvith commented on #173
+1 for option **A**

[2017-04-08 12:17] kasvith commented on #166
Also for zipped HTML files, they can contain scripts that can mess things up

[2017-04-08 13:17] Bakual commented on #173
In all Windows programs I know, you can scroll horizontal in this case.
While it may not be best UX in general, it is certainly better than truncating folder names or let them hide behind border (like in the Google example). In this specific case, I'd say horizontal scrolling is the best option (if it is possible, I don't know that) and what the user actually would expect.

[2017-04-09 06:53] dneukirchen opened #175 "Implement search in folder / search in filesystem"
We need to implement the possibility to search for media files in the current folder and in the complete filesystem. The search in folder feature can be implemented on the client.
For the search in filesystem feature, there is already an api endpoint in place.

[2017-04-09 07:24] dneukirchen commented on #173
Has anybody an example of a tree view which solves this problem nicely?

Im still against horizontal scrolling. It is horrible in terms of UX and it does not give you a good overview of the filesystem. I agree, that hiding deeply nested folders is also bad, but if we need to show those deep nested folders in the tree view, we have to come up with something different.

Perhaps we can make the tree

[2017-04-09 12:00] Bakual commented on #173
PHPStorm, Filezilla, SmartGit and many other Windows programs allow scrolling and resizing of tree views. It's likely the same for other OS.
Windows Explorer itself allows resizing but no scrolling so that at least seems to be the minimum.
If you're strictly talking about web, then I don't know. But the web isn't exactly known for good UX for such applications.

I think it's the best option you wi

[2017-04-10 08:10] ciar4n commented on #173
Of the two (resize or scroll) I think resizing is the better solution. If it was just horizontal scrolling I wouldn't mind so much but when there is a possibility of both horizontal and vertical scrolls, I believe from a UX perspective it would get a little frustrating when both are present. Resizing would also look better as long as we can make it apparent that the option exists.

[2017-04-10 08:28] laoneo commented on #173
I would also go for resizing the tree but no scrolling.

[2017-04-10 08:32] laoneo commented on #159
For this issue it is not relevant if the local plugin will serve as base plugin for the cloud plugins or not. This question we have to answer then when we start to implement the cloud adapters, but for now you can concentrate on the move only.

[2017-04-10 08:35] dneukirchen commented on #173
Ok, thx for all the feedback. 👍

Lets start with **tooltips** for long folder names and the possibility to **resize the column**, if thats ok for you @Bakual? I believe this is a good compromise. It would be nice if you take a look at this once its implemented.

[2017-04-10 08:36] dneukirchen opened #176 "Add tooltips to long folder names."
see #173

[2017-04-10 08:37] dneukirchen opened #177 "Make the tree sidebar resizable"
see #173

[2017-04-10 09:00] Bakual commented on #173
Personally I would do both, scrolling and resizing, but only resizing will work as well.
I don't really see the point of truncating the names when we can make them visible using resize. I think it's bad UX if you have to hover over the name to see the name. :smile:
But go ahead, we will get feedback from the users anyway ;)

[2017-04-10 09:12] dneukirchen commented on #173
Thx. We will try and see how it goes. If it is not good enough in terms of UX, we can add horizontal scrolling later.

Im closing this one in favor of the 2 concrete todo issues #176 and #177.

[2017-04-10 09:12] #173 closed, assigned to nobody

[2017-04-10 09:23] dneukirchen opened #178 "Refactor api controller"
We are currently doing a lot of application layer stuff in the media component controller.

* Request Method routing
* General Error handling
* Handle JsonResponses

Imo this is not the responsibility of the component controller and it would be good to refactor / move this stuff.

[2017-04-10 09:31] dneukirchen commented on #130
Closing this. Eventbus was removed in https://github.com/joomla-projects/media-manager-improvement/pull/152/files

[2017-04-10 09:31] #130 closed, assigned to nobody

[2017-04-10 09:33] dneukirchen commented on #128
Imo a toolbar button would be the best option here.
Dblclick should open a preview of the file.

[2017-04-10 16:47] artisandawn commented on #173
Bridge from Adobe uses a tab for Favorite Folders as a default:
![bridge-interface](https://cloud.githubusercontent.com/assets/1074734/24872411/621f876e-1deb-11e7-9266-aae262229448.jpg)

Then if you tab over to a folder tree, you can go very deep before hitting the edge:
![bridge-interface2](https://cloud.githubusercontent.com/assets/1074734/24872518/ae6474a4-1deb-11e7-84e2-9a8af8090972.jpg)

With

[2017-04-11 10:42] kasvith opened #179 "500 internal server error while uploading a GIF file"
### Steps to reproduce the issue
- Go to media manager
- Click upload button
- Select a gif file
- Upload

### Expected result
- If **gif** extension is not supported, an error message saying about it

### Actual result
- 500 Internal server error message
- Return to the admin control panel

### System information (as much as possible)
- PHP 7 with Windows 10

### Additional comments

[2017-04-12 06:03] kasvith opened #180 "No root folder navigation in side bar"
### Steps to reproduce the issue
- Go to Media Manager
- Go to some sub folder

### Expected result
- A sidebar with root folder navigation

### Actual result
- No root folder in the list

### System information (as much as possible)
- PHP 7 with Windows 10 host

### Additional comments
- Yes users will put files in root folder and will go to others too, once they need to go back to root again, th

[2017-04-12 06:16] kasvith commented on #180
**No way to go back to root**

![image](https://cloud.githubusercontent.com/assets/13379595/24943736/9d32008a-1f75-11e7-9b19-851d346dd310.png)

[2017-04-12 07:52] rajikaimal opened #181 "Addition of Yarn support with lockfiles"
_Since it's not a bug, I've omitted the standard issue template_ :gear:

Addition of support to Yarn package manager by adding a `lockfile` to manage the dependency list. Yarn uses the `lockfile` to manage consistent installations in different systems.

[Yarn.lock](https://yarnpkg.com/en/docs/yarn-lock)

[2017-04-12 09:28] laoneo commented on #180
There is one here
![image](https://cloud.githubusercontent.com/assets/251072/24951004/32661112-1f73-11e7-956d-a36bb9bd9a9a.png)

[2017-04-12 09:47] kasvith commented on #180
seems my repo is older

[2017-04-12 09:50] #180 closed, assigned to nobody

[2017-04-13 14:39] kasvith commented on #173
This is from **IntelliJ** and it has a nice folder tree, which is easy for navigation, @dneukirchen i think it will do the job best, it has re sizable edges and scrollbars

![image](https://cloud.githubusercontent.com/assets/13379595/25009622/e2b1c6da-2084-11e7-888b-a49793cf345d.png)

[2017-04-13 14:50] kasvith opened #184 "File uploading with Duplicate names"
### Steps to reproduce the issue
- Go to Media Manager
- Upload a file named **abc.jpg** to any folder (just an example)
- Pick another file, name it also as **abc.jpg**
- Try to upload to same folder

### Expected result
- Automatically renamed new file in the folder or if the content identical, an error message it already exists in the current folder

### Actual result
- Media Manager stays sile

[2017-04-13 14:56] kasvith commented on #175
@dneukirchen any progress ?

[2017-04-13 15:31] dneukirchen commented on #175
No, nobody is assigned to this yet.
If you want to implement the search feature, go for it!

[2017-04-13 15:35] dneukirchen commented on #184
Thx for reporting. We had a discussion about this some days ago:

So one question that popped up: how should we handle file upload requests, if the file already exists in the target directory?

the old way was to refuse the upload
I suggest to create a filename-1.ext similar to articles with the same alias

that would be possible... but maybe there are use-cases where the user wants to replace a f

[2017-04-13 15:40] dneukirchen commented on #181
👍

@dgt41 do you have any objections?

[2017-04-13 15:42] kasvith commented on #184
@dneukirchen I suggest to add an option which will automatically rename duplicate files or ignore them in options(should be in the Media Manager itself), so user can toggle it anytime, if we plan to do drag n drop uploads, user will be annoyed to each time look if file exists or rename files

[2017-04-13 15:43] dneukirchen commented on #111
thanks @laoneo

[2017-04-13 15:43] #111 closed, assigned to laoneo

[2017-04-13 15:45] kasvith commented on #184
@dneukirchen if user want to update an file, we can do a simple and handy thing, we can create a context menu, where user can update the selected file

[2017-04-13 15:49] kasvith opened #185 "Implementing a custom Context Menu"
Implementing a custom Context Menu in the Media Manager solves many kinds of problems, users can

- **Update** a selected file with a new updated version by right clicking it.
- Move files without downloading
- Copy files without downloading
- Etc

[2017-04-13 15:51] dneukirchen commented on #184
Good ideas!

Config Options are kind of handicapped in the joomla world. Imo joomla has already too many of them. We need to be very careful and think twice, if we want to add another one. In this case i would say we should stick with a dialog/context modal like you suggested in you second comment.

So the workflow for already existing files could be:

* Ask the user if he wants to override it

[2017-04-13 15:53] dneukirchen commented on #185
Can you explain this a little more in detail? Im not sure what you mean exactly.

[2017-04-13 15:54] kasvith commented on #184
Can we upload multiple files ?

[2017-04-13 15:56] dneukirchen commented on #184
yes, you can select multiple files for upload, but the upload will be done one by one...

[2017-04-13 15:56] kasvith commented on #185
This is from Google Drive, let us allow Joomla Users to play with files using a context menu, it will also reduce many problems :)

![image](https://cloud.githubusercontent.com/assets/13379595/25012993/c3a52984-208f-11e7-8555-22bf8986cf79.png)

[2017-04-13 16:00] kasvith commented on #184
Yes, think of a situation user uploaded multiple and each of them have a similar name in the target directory, he may simply want to add a incremental count to each file, but we always ask for a new name :D , Instead let them decide how it goes

[2017-04-13 16:00] rajikaimal commented on #181
I can help with this, if you want go ahead :smile:

[2017-04-13 16:02] dneukirchen commented on #185
Ahh. ok.

Yes, that is something that is already planned to implement, but its just UI/UX sugar.

We cant solely rely on the context menu, which means every action inside the menu should be accessible also in the regular way (toolbar).
Additionally those context menus a hard to implement across all mobile & tablet os and devices.

[2017-04-13 16:04] kasvith commented on #185
Yes, for them we need alternatives

[2017-04-13 16:06] kasvith commented on #185
For PC version this could be a really good improvement IMO

[2017-04-13 16:37] kasvith opened #186 "File/Folder Copy, Move support in the local adapter"
It would be nice to implement the File/Folder

- Copy
- Move
- Rename

functionalities in the backend local adapter, so frontend developers can use them to make basic file operations work

[2017-04-13 16:39] kasvith commented on #144
PR #146 fixed the issue, closing Issue

[2017-04-13 16:39] #144 closed, assigned to nobody

[2017-04-13 17:35] kasvith commented on #186
# Directory copy/move when a directory with same name exists on the destination

## Solution 01
In this scenario we can decide to copy non existing files individually first to the existing directory
**If there are files with same name on the target directory too** user may want to **overwrite** or **skip** these files.

For that frontend should know what files are being overwritten

For overcome t

[2017-04-13 18:38] rajikaimal commented on #156
@laoneo @dneukirchen Hey, I managed to reproduce the bug. Is anyone currently working on this ?

[2017-04-13 19:10] dgrammatiko commented on #181
Nope, go ahead!

[2017-04-14 04:34] rajikaimal commented on #181
I'll add a PR.

[2017-04-14 12:04] zero-24 commented on #181
@rajikaimal you can close this Issue as you have opend  your PR 😄 Thanks!

[2017-04-14 13:44] rajikaimal commented on #181
Sure !

[2017-04-14 13:45] kasvith commented on #175
I will give a try

[2017-04-14 14:17] laoneo commented on #181
@zero-24 in this project we have a slightly different process. We close the issue when it is actually solved and not when there is a pr available as in core.

[2017-04-14 14:36] laoneo commented on #186
I would go for solution 2 as the api should not become stateful to manage some queue for the next request from the client. This is better managed in the client.

[2017-04-14 14:38] kasvith commented on #186
And also it is easy for implement, less load on the backend

[2017-04-14 14:39] dgrammatiko commented on #186
Could we utilise promises on the client side and adjust the backend for that?
The code will be much simpler...

[2017-04-14 14:39] kasvith commented on #186
Can you give an example for that

[2017-04-14 14:44] dgrammatiko commented on #186
Create folder (as xhr) returns promise, if ok folder created else the folder exists and an alert is thrown with the ability to rename, overwrite or cancel

[2017-04-14 14:46] kasvith commented on #186
Yes we can do as you said for the frontend, in here i was bit focused on backend
For backend functions will return a **true** on **success**, will throw exceptions at any failure

[2017-04-14 16:55] kasvith commented on #186
# Mechanism for file/folder Copy/Move

- Check if the target directory of file **exists**.
  - If it does not exists, use the provided method on adapter to copy/move. If it is a folder, all the contents will be copied to the target directory. If it is a file target will have a copy of file.

- If it exists, we need to handover control to the user, whether files with identical names overwrite or sk

[2017-04-15 07:29] kasvith commented on #128
A context menu defiantly helps in this situation. I've opened the issue #185

User can click an image, right click on it and select **Edit image...** from there

[2017-04-15 08:18] laoneo commented on #128
As the browser comes already with a context menu, I personally don't like web sites which do have their own context menu. But this is only my personal opinion.
What we really need to keep in mind is that the media manager should also work on touch devices as @dneukirchen already pointed out in #185.

[2017-04-15 14:10] kasvith commented on #128
We can use both, for a PC based web browser or an iPad like tablet, it would be much better having a context menu IMO, for mobile we can load a light weight version of MM with a toolbar

[2017-04-15 17:15] kasvith commented on #186
Opened PR at #188

[2017-04-17 11:38] ciar4n commented on #128
Some options could be displayed on hover of the item (touch on mobile) which could include an 'Edit' option.

[2017-04-18 10:50] laoneo commented on #159
Pr is merged.

[2017-04-18 10:50] #159 closed, assigned to nobody

[2017-04-18 10:54] laoneo opened #189 "Move unit tests from com_media to plugin folder"
As with the merge of #183 the unit tests do need to be moved to the appropriate folder tests/unit/suites/plugins/filesystem/local/adapter.

[2017-04-18 11:04] laoneo opened #190 "Prepare for multiple adapters"
As with the move to a plugin based approach to load the file adapters #183. We need to support multiple filesystems. This would mean that we can have more then one root nodes.

A possible directory structure for the client can then look like:
[code]

The api controller will not return the folders and files below images as top level elements, instead of a node for every plugin.

[2017-04-18 11:12] kasvith commented on #190
What would be the location of file systems?

For example, where does the *Bar* obtain files ?

[2017-04-18 11:17] laoneo commented on #190
Foo and Bar are demo names for other filesystem plugins.

[2017-04-18 12:22] kasvith commented on #189
Shouldn't it be corrected to *tests/unit/suites/plugins/filesystem/local*

[2017-04-18 12:28] laoneo commented on #189
Can also be.

[2017-04-18 15:29] dneukirchen commented on #156
No, nobody is working on it. Go ahead if you have time.
Thanks! 👍

[2017-04-18 15:35] rajikaimal commented on #156
Sure, I'll work on this. Thanks @dneukirchen

[2017-04-18 18:23] dneukirchen commented on #181
thanks @rajikaimal
#187

[2017-04-18 18:23] #181 closed, assigned to nobody

[2017-04-18 18:42] dneukirchen commented on #190
Like Google Drive, Amazon S3 and Dropbox...

[2017-04-19 00:33] kasvith commented on #190
at this phase we will create some mock folders as a fake roots

[2017-04-19 02:18] kasvith commented on #190
@dneukirchen shouldn't we update our current Media Manger implementation to return a root folder ? in current version we directly see the folder tree of local file system. we cant to add a root folder to it.

Then we can easily move to multiple filesystems in the adapter.
This requires both backend and frontend modifications

[2017-04-19 03:15] kasvith opened #191 "FileSystem do not repond after long time of inactivity"
### Steps to reproduce the issue
- Go to **Media Manager**
- Keep open your tab some time(until session expires you need to stay)
- Try to open some folder in MM

### Expected result
- Folder should open or it should immediately redirect to Login page to authorize new session

### Actual result
- Nothing happens due to session expiration

### System information (as much as possible)
- PHP 7, Windo

[2017-04-19 04:40] dneukirchen commented on #190
Yes.

[2017-04-19 04:43] dneukirchen commented on #191
This is not a problem of the new media manager. Its a problem of the session cookie in joomla 4 and the keep alive script. I already fixed the keep alive script in https://github.com/joomla/joomla-cms/pull/15121 (will be updated with the next upstream sync) and created an issue for the session cookie https://github.com/joomla/joomla-cms/issues/15131

[2017-04-19 04:43] #191 closed, assigned to nobody

[2017-04-19 05:37] laoneo commented on #156
That will be a great fix!

[2017-04-19 14:24] charithsoori commented on #179
works macOS Sierra with PHP 7. Someone, please verify on Windows 10.

[2017-04-19 14:32] kasvith commented on #179
Did you reproduce the error?

[2017-04-19 18:54] #189 closed, assigned to nobody

[2017-04-25 09:48] laoneo opened #196 "Handle deactivated local plugin"
When the local filesystem plugin is deactivated the following error shows up in the developer console:
![image](https://cloud.githubusercontent.com/assets/251072/25379315/ec180e1a-29ac-11e7-8930-dc61ad24835e.png)

### Steps to reproduce the issue
- Deactivate the local plugin in the filesystem group.
- Open the media manager in the back end.

### Expected result
No error in the developer console.

[2017-04-29 05:47] laoneo opened #198 "Delete of folder and files"
The delete operation for folders and files is missing. Guess we should orient us on the old media manager where it is possible to select some files and folders and then hitting the delete button in the toolbar.

[2017-04-29 05:50] laoneo opened #199 "Drag and drop to use the upload functionality"
As we have a upload functionality in [upload.vue](https://github.com/joomla-projects/media-manager-improvement/blob/milestone1/administrator/components/com_media/resources/scripts/components/upload/upload.vue), it probably would make sense to reuse that in the upload branch.
Visual polish can be done on a second step.

[2017-04-29 05:55] laoneo commented on #131
@dgt41 guess this can be closed as it was fixed with pr #152?

[2017-04-29 11:46] kasvith commented on #186
PR #188 was merged, closing issue

@laoneo @dneukirchen thanks for reviews

[2017-04-29 11:47] kasvith commented on #186
PR #188 was merged, closing issue

@laoneo @dneukirchen thanks for reviews

[2017-04-29 11:53] kasvith commented on #190
What you meant by this @laoneo

[2017-04-29 12:11] laoneo commented on #190
That every adapter will act as top level element.

[2017-04-29 13:53] laoneo commented on #186
Actually the issue is not closed because of pr #200.

[2017-05-02 16:21] kasvith commented on #196
Checkout PR #202

[2017-05-02 16:28] #196 closed, assigned to nobody

[2017-05-04 19:12] dgrammatiko commented on #129
Done

[2017-05-04 19:12] #129 closed, assigned to nobody

[2017-05-04 19:12] dgrammatiko commented on #131
Done

[2017-05-04 19:12] #131 closed, assigned to nobody

[2017-05-04 19:13] dgrammatiko commented on #127
@ciar4n this one is for you

[2017-05-05 07:42] ciar4n opened #204 "Item multi select in list/grid"
On Windows at least selecting multiple items is CTRL+Click to select individual items and SHIFT+Click to select all items in between. This appears to be reversed within the MM grild view.

[2017-05-05 09:40] ciar4n commented on #127
Any preference in how the edit view should be laid out?

[2017-05-05 09:43] laoneo commented on #127
Not from my side. Let your fantasy flow :-)

[2017-05-05 09:45] ciar4n commented on #127
That could be dangerous :-)

I'll come up with something

[2017-05-06 01:57] kasvith commented on #127
Make it something like a basic paint

[2017-05-11 08:16] ciar4n commented on #128
A solution to this was added with #201

[2017-05-11 08:29] laoneo commented on #128
Question remains if we should support to open the edit view from the toolbar as in the rest of Joomla.

[2017-05-11 08:40] dneukirchen commented on #128
Im in favor of the toolbar. The hover-menu is only by ui-sugar.

[2017-05-12 01:30] kasvith commented on #186
Issue is closed due to pr #200

[2017-05-12 04:54] #186 closed, assigned to kasvith

[2017-05-17 01:14] kasvith commented on #190
Multiple methods to overcome issue is added here

https://docs.google.com/document/d/1s_hpglTiMS1yIK8xVEXtJ2HnmmwxLGw2OaKRychJ78k/edit?usp=sharing

[2017-05-17 18:01] dneukirchen commented on #198
feature merged

[2017-05-17 18:01] #198 closed, assigned to nobody

[2017-05-17 19:01] dneukirchen commented on #204
Let UX decide this one (and keep poor mac users in mind).
I added the possibility to un/select multiple items using your hover checkbox as a first step. #211

[2017-05-17 19:25] ciar4n commented on #204
I presume it to be same as standard checkboxes. Selecting multiple items [CTRL+Click] for windows and [Command+Click] for iOS.

[2017-05-17 20:15] dneukirchen opened #214 "Add toggle selection logic to files and directories"

[2017-05-17 20:18] dneukirchen opened #215 "Style the infobar"
The infobar needs some love...

google drives infobar has a nice, clean styling. perhaps we can use it as inspiration.

[2017-05-17 21:49] ciar4n opened #216 "Foldertree parent indicator needed"
Indicator needed for folders in foldertree if sub folders exist. Possibly a + symbol aligned to the right of the folder name.

[2017-05-17 21:55] ciar4n opened #217 "Clickable option to open folder from grid"
Currently folders are opened with a double click. I'd suggest a single click option. Possibly an open folder icon similar to the delete/download/edit icons on image items

[2017-05-18 05:47] laoneo commented on #216
Can you post a screenshot where exactly you need it.

[2017-05-18 05:48] laoneo commented on #217
I guess a single click would be enough, never saw an open icon in an app. But perhaps I'm wrong.

[2017-05-18 05:50] kasvith commented on #217
But most people are comfortable with double click.
We can add this to preferences so user can try any method, for example even in google drive double click is used to open a folder

[2017-05-18 05:52] laoneo commented on #217
I guess it is not bad to orienting ourselves a bit on Google.

[2017-05-18 06:30] ciar4n commented on #217
Single click currently brings up the item info which is why I suggested the icon. Whatever you choose I would suggest having the same for both files and folders to bring up the item info.

[2017-05-18 07:20] ciar4n opened #218 "Option to echo file type in vue"
Currently we can echo the file extension and mime however there is no server side option to echo the file type (folder/image/doc/movie etc). This would be useful in adding a type icon to the infobar and possibly each item in the list view.

Suggested types...

- Folder
- Image
- Doc
- Video
- Audio
- Archive
- Code
- Uncategorised (default)

[2017-05-18 07:35] laoneo commented on #217
Agree

[2017-05-18 07:40] laoneo commented on #218
Can this not be taken from the mime type?

[2017-05-18 07:51] ciar4n commented on #218
I'm guessing it would be largely the same just without the subtype (**audio** instead of **audio/mpeg**)

[2017-05-18 07:59] ciar4n commented on #217
Double click could still open the folder. I just think a second one click option is needed as not everyone would think of double clicking within a browser window.

[2017-05-18 08:04] laoneo commented on #217
In drive the single click opens the info panel, I think this would not be bad to do it the same in mm. Guess everybody is used to double click on a folder to go into that folder.

[2017-05-18 08:19] ciar4n commented on #217
True for outside of the browser but I personally wouldn't agree for inside the browser. Considering you need JS for any double click events indicates it is not 'normal' behavior for inside the browser IMO.

What you suggest is how it is currently so this can be closed.

[2017-05-18 08:23] laoneo commented on #217
Yes sorry was confused. True you suggested something else. I would like to keep it open, perhaps we get more opinions.

[2017-05-18 09:12] ciar4n commented on #215
PR created #220

[2017-05-18 19:48] dneukirchen opened #221 "ACL state in client"
Imo it would be a good idea to have some kind of ACL state in the client. The client should know, if the user is allowed to edit,view,move,download,delete,whatever-action an item. This adds versatility and the option to improve the UI. This does not mean that ACL is done on the client-side (it will be handled on server side), but i dont want the client to send a request to the server and always ge

[2017-05-18 19:50] dneukirchen opened #222 "Media Type Plugins"
We need to decide what to do with the media-type plugins feature. We basically have 3 options

1) Drop the feature and hard-code all supported types into the client and component
2) Define interface and return meta data to the client (something like preview_url, thumbnail_url, iconClass, edit_url, ...)
3) Use native webcomponents and render them for unsupported plugin types. (Detailed description

[2017-05-18 19:53] dneukirchen commented on #218
Its easier to extend it when this is done on server side. Its basically the same switch for client and server.

Another option is to use naming conventions and css classes for this. Something like `.media-icon-[$EXTENSION-OR-$MIMETYPE]`

[2017-05-18 19:55] dneukirchen commented on #215
thx @ciar4n

[2017-05-18 19:55] #215 closed, assigned to ciar4n

[2017-05-18 19:57] dneukirchen opened #223 "Create browser item components for each mime type"
We should refactor the existing browser item components and use 1 component for each mime type and share common properties and behaviour (like select/unselect) across all item components.

[2017-05-18 19:59] dneukirchen opened #224 "Make the infobar collapsable"

[2017-05-18 20:17] dneukirchen commented on #217
I think users get used to dblclick in media manager pretty quick. We need the single click for selection, so i prefer

* folder
    * single click: select
    * dbl click: open
* file
   * single click: select
   * dbl click: preview

This is UX. We should add this issue to the document dawn created some weeks ago.

[2017-05-19 04:49] kasvith commented on #221
Do we allowed to change permissions of files also?

[2017-05-19 04:51] dneukirchen commented on #221
Not on the feature list atm

[2017-05-19 04:56] kasvith commented on #217
@dneukirchen that was the best solution for me so far

[2017-05-19 04:57] dneukirchen opened #225 "Remove download button from hover-tools"
The feature is nice, but imo the download will not be used very often. We should remove it from the hover-tools and move the action button to the joomla-toolbar or some other place (infobar or app-toolbar?).

![bildschirmfoto 2017-05-19 um 06 55 18](https://cloud.githubusercontent.com/assets/1134007/26233788/25efbf8c-3c60-11e7-85a4-336ec651cb18.png)

What do you think?

Joomla 4 definitely needs a

[2017-05-19 07:21] ciar4n commented on #225
The media manager is unique in that it is the only view with items displayed in a grid. So I think it is safe for us to set the precedent regarding how such actions are displayed.

For tables/lists there is https://github.com/joomla/joomla-cms/pull/16076 where primary inline actions are displayed as icons and secondary actions displayed in a dropdown..

![media-actions](https://cloud.githubusercon

[2017-05-19 10:28] wilsonge commented on #221
I'd do some experimentation on this first (e.g. how does acl work on already uploaded items, how does it scale given my experience is that Joomla's ACL is one of the least well scaling parts of the system)

[2017-05-19 17:27] dneukirchen commented on #221
Agree.
A good UI/UX is not worth a bad performance. if we go with the per-item approach, we definitely need performance testing.

[2017-05-23 05:23] dneukirchen commented on #127
thx @ciar4n

[2017-05-23 05:23] #127 closed, assigned to ciar4n

[2017-05-23 06:07] laoneo commented on #133
Done with pr #152.

[2017-05-23 06:07] #133 closed, assigned to dgrammatiko

[2017-05-23 06:09] laoneo commented on #132
Done with #203.

[2017-05-23 06:09] #132 closed, assigned to nobody

[2017-05-23 09:08] dneukirchen commented on #225
thx @ciar4n

[2017-05-23 09:08] #225 closed, assigned to nobody

[2017-05-23 11:44] kasvith opened #227 "Implement file operations in the Controller"
Since the adapter implements the **copy/move** functionalities front end needs an endpoint to access them to perform copy and move for files and folders.

#190 is related to this question also since we need to do file operations between multiple adapters too.

File operations such like copy/move should be handled strongly in the front end as the state management is needed while copy or move file f

[2017-05-24 12:16] dneukirchen opened #228 "UX feedback"
# German FB group, video preview 23.05.17

![mm-demo](https://cloud.githubusercontent.com/assets/1134007/26402697/9dfc18e8-408b-11e7-95c2-a700ca754277.gif)

### Feedback:

* ~~~Make the thumbnails in the listview resizeable~~~
* ~~~Drag&Drop!!!~~~ thx @dgt41 ❤️
* ~~~Force override on upload, move, rename~~~
* ~~~Presets for article images~~~
* Input fields for edit-plugin controls (especially resi

[2017-05-24 12:32] laoneo commented on #222
Or we use the same view as on the old mm.

[2017-05-24 15:19] dneukirchen commented on #222
This is only possible for the "preview-part" of the problem. For the new reactive list view we will still need a solution.

[2017-05-24 15:52] dgrammatiko commented on #228
What do they mean with this?
Actually whatever they mean I disagree, **all** images should implement `srcset` so in that sense a predefined preset is useless...

[2017-05-25 15:07] dgrammatiko opened #230 "Filenames with spaces cause 403"
### Steps to reproduce the issue

Try to upload a file that the filename contains a space

### Expected result

Uploads normally

### Actual result

Error 403 on ok exits app!

### System information (as much as possible)

### Additional comments

[2017-05-25 21:13] dgrammatiko opened #231 "Deleting a file causes a crash"
### Steps to reproduce the issue

Try to delete a file
An alert `respons 200` appears
Clicking ok forces the app to redirect to the dash board

### Expected result
File deleted, no more notifications

### Actual result
File deleted, but forcing redirect to dashboard

### System information (as much as possible)

### Additional comments

[2017-05-28 11:00] kasvith commented on #231
@dgt41 I found the issue, it is because line 142 in api.json.php
We are not receiving a $data object for **delete** method, so in that case we can't use it for sendResponse as **$data** variable is not defined yet

XDebug result

<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span

[2017-05-28 12:17] kasvith commented on #231
@laoneo can we close the issue as it was fixed?

[2017-05-28 12:22] laoneo commented on #231
Yes

[2017-05-28 12:22] #231 closed, assigned to nobody

[2017-05-28 17:02] dgrammatiko commented on #231
Thank you @kasvith

[2017-05-30 10:34] #199 closed, assigned to nobody

[2017-05-30 10:36] dneukirchen commented on #228
Some users want to define presets for the article image upload. i.e.: every image_large that i upload should automatically be resized to 700px width.

In the early stages of the new media manager we talked a lot about features like this and we should keep them in mind for milestone 2 or 3.

[2017-06-04 14:56] dneukirchen opened #237 "Remove hardcoded extensions in media form field"
The image extensions are hardcoded into the media form field

https://github.com/joomla-projects/media-manager-improvement/pull/236#discussion_r120011954

[2017-06-04 14:56] dneukirchen opened #238 "Support media form field params in the client"
* e_name
* author
* asset
* ... ?

see #236

[2017-06-04 14:58] dneukirchen opened #239 "We have to figure out what we're going to do with the xtd-image"
see #236

@dgt41 any suggestions?

[2017-06-07 08:32] #128 closed, assigned to nobody

[2017-06-07 09:51] dneukirchen commented on #238
https://github.com/joomla-projects/media-manager-improvement/pull/236/files#diff-7d40cca371daf67980431c91be993f26R60

[2017-06-08 15:59] dneukirchen opened #241 "Use webpack instead of browserify"
We used browserify for the vue-poc because its easier to set up. We should switch to webpack for a better dev/testing experience.

[2017-06-08 16:02] dneukirchen commented on #216
It requires additional data from api response OR additional XHR requests. As discussed with @ciar4n  some weeks ago, im against this feature because of cost-benefit considerations.

[2017-06-08 16:05] dneukirchen commented on #168
Supun Wanniarachchi @supun94 helps us with testing in his gsoc project.
https://github.com/joomla-projects/gsoc17_js_tests

thank you @supun94

[2017-06-08 16:06] dneukirchen commented on #168
i close this one in favor of concrete issues

[2017-06-08 16:06] #168 closed, assigned to nobody

[2017-06-08 16:11] dneukirchen commented on #228
@laoneo can you add some feedback you got from the jab presentation? thx

[2017-06-08 16:15] dneukirchen commented on #222
Update: Method 3 seems to be the most promising. we have to create a poc for it.

[2017-06-08 18:05] laoneo opened #242 "Preview view"
Opening the preview view from the old media manager. This is only an interims solution till we address the topic to support more media types like pdf in milestone 2.

[2017-06-09 05:53] laoneo commented on #216
I second this, probably something we can look again when we have the cloud file system integration. If we can do it without overflowing the server with requests, it can be considered.

[2017-06-09 06:17] ciar4n commented on #216
Close for now?

[2017-06-09 06:25] laoneo commented on #216
I would leave it open, just with the remark that we look later into it. I put it on milestone 2.

[2017-06-09 06:29] dneukirchen opened #243 "Show a warning when no filesystem plugin is installed or enabled"
Currently users are able to disable and uninstall filesystem plugins. We should show a warning in the component when no filesystem plugin is installed or enabled.

see https://github.com/joomla/joomla-cms/issues/16586

[2017-06-09 07:05] laoneo commented on #243
Similar to what we do in com_fields https://github.com/joomla-projects/media-manager-improvement/blob/milestone1/administrator/components/com_fields/View/Fields/Html.php#L92

[2017-06-09 07:16] dneukirchen commented on #239
As discussed in the last status meeting, we will add an url param to let the client app know when it is in selection mode (opened by a formfield or xtd button). Then we can add insert options like alt-text, class-name... and probably modifiy the layout to gain more space. This is similar to the way the old media manager handled it.

We postpone this to ms2

[2017-06-09 07:20] dneukirchen commented on #230
@laoneo can you take a look at this? seems to be server related.

[2017-06-09 07:21] dneukirchen commented on #218
@ciar4n what do you think about using naming conventions `.media-icon-[$EXTENSION-OR-$MIMETYPE]` ? Would that solve the problem?

[2017-06-09 07:24] dneukirchen commented on #243
Yes, but we need to also inform the client app. `if (Joomla.options.adapters.length === 0) { // Dont try to load data ) ` (depends on kasuns work on the multi-adapter poc)

[2017-06-09 07:32] laoneo commented on #230
Somebody at JAB fixed it, so waiting for the pull request.

[2017-06-09 07:36] dneukirchen commented on #230
perfect, thx

[2017-06-09 07:38] ciar4n commented on #218
Yes that could work. We can group them where needed in CSS. Extension might be best.

[2017-06-09 07:38] dneukirchen commented on #218
Ok, thx. i will add it.

[2017-06-09 07:59] kasvith commented on #243
@dneukirchen available file system adapters are injected into config params for media view, you can show a warning if that array is empty

[2017-06-09 08:01] kasvith commented on #216
Won't this be useful when multiple file systems are presented  ?

[2017-06-10 04:53] kasvith commented on #243
PR was made #244

[2017-06-12 09:52] laoneo opened #246 "Reopen on last visited path"
Would be nice when the Media Manager would open the last visited folder. For example when I want to select an image from a folder in article A and then open article B, it would be nice when the media manager opens the same folder initially when I want to select an image in article B.

If a form field has a hard coded directory specified, then it will only open the last opened folder when it is bel

[2017-06-12 13:46] Bakual opened #247 "Compatiblility with IE11"
### Steps to reproduce the issue
Visit MM with IE11 (on Win7 if that matters)

### Expected result
Working Media Manager

### Actual result
![image](https://user-images.githubusercontent.com/1018684/27036734-16584542-4f86-11e7-9f47-ad1ee09bc201.png)

Console shows error
[vuex] vuex requires a Promise polyfill in this browser.
![image](https://user-images.githubusercontent.com/1018684/27036785-433e

[2017-06-12 13:53] wilsonge commented on #247
It does. We're supporting IE11+ in J4

[2017-06-12 13:53] kasvith commented on #247
Solution seems to be in this thread, upgrading promise

https://github.com/vuejs/vue-hackernews-2.0/issues/79

[2017-06-13 08:56] laoneo commented on #228
- Most people do miss support for stuff like automatic thumbnail generation in combination with source sets.
- To open the same folder where it was left last time, see issue #246.
- More compact view for the media form field.

[2017-06-13 19:47] dneukirchen commented on #247
Yes, its an easy fix. Thx for reporting.

[2017-06-14 04:30] laoneo commented on #247
@Bakual can you please test #250 if it solves your issue?

[2017-06-14 07:00] Bakual commented on #247
Not yet, but it's the right direction :+1:

[2017-06-14 17:47] dneukirchen commented on #246
Is this a ms1 feature? I know it is important for many users, but we have a lot of stuff to do in ms1.

This feature is combined with url-state and form field overrides not as simple as it might sound and we need to clear some things out.

Lets start with a pretty basic questions:

1) Where to store the state?

    a) server side: session
    b) client side httpOnly cookie
    c) client side js co

[2017-06-14 18:23] schnuti opened #254 "Cropper increases filesize"
I'm trying to get an impression of the new media manager and do some tests.

I noted one thing that might be good to be aware of. I'm not 100% sure but think file and data sizes might give some funny results when transferred with AJAX. (to Api.php)

    if ($serverlength > ($params->get('upload_maxsize', 0) * 1024 * 1024)
        || $serverlength > $helper->toBytes(ini_get('upload_max_filesize'))

[2017-06-14 18:37] zero-24 commented on #254
What about using the Joomla API for that:
[code]

[2017-06-14 18:41] mbabker commented on #254
Using that method won't help matters any.  Just from this code snippet, it looks like the request length is being checked against the upload limits.  It uses different logic since it looks like the actual file isn't being transferred but an alternative representation of its contents (base64 encoded string).  So the file's being read out of `$_POST` versus `$_FILES` which is treated differently in

[2017-06-14 22:15] schnuti commented on #254
Exactly, the base64 encoded image comes via the AJAX post call in $_POST and not $_FILES. I think I understand the writers intention to have the same restrictions to maximum as a file upload. As I said, this might be a problem. (You may have used or seen base64 encoded images in css files with the url statement.)

I made a new test with the image file above. As there is no input for the size (yet?

[2017-06-14 22:55] schnuti commented on #254
If the client side image editor creates that kind of "BIG" data, a direct upload to the cloud would need some kind of image compress service. Well, that's for much later milestones.

[2017-06-15 09:28] dneukirchen commented on #254
@schnuti  thx for testing and your very valuable input.
We will set the focus on those issues in our next steps.

[2017-06-15 09:40] laoneo commented on #254
Thanks for reporting. Do we suffer from these issues in the cropper.js library which we are using?
- https://github.com/fengyuanchen/cropper/issues/542
- https://github.com/fengyuanchen/cropper/issues/596.

[2017-06-15 10:46] schnuti commented on #254
I found a method that's probably better. canvas.toBlob() and reported this on the fenguanchen project.

I'll test an alternative I found on gitHub. I've bin looking for a simple light-weight client side image editor for a long time. As is, I have to crop and resize every single image in e.g. Gimp before I can upload them to Joomla.

I'll try to edit the image in a first step **before** uploading i

[2017-06-15 11:08] schnuti opened #255 "Proposal: include an aftersave plug in - create thumbs"
I think this is a basic need. The Media Manager should use thumbs **if available** and not original files. Did you scroll through a few hundred images with the old Media Manager? 3.d party developers can then code some more advanced plug ins. Personally I use 4 sizes of the same image.

[2017-06-15 16:57] laoneo opened #256 "Resize input box"
Would be nice to have a width and height input box for the resize plugin.
![image](https://user-images.githubusercontent.com/251072/27192625-65432848-51fc-11e7-9a60-6bcc1947d1d5.png)

[2017-06-16 07:53] dneukirchen commented on #247
fixed in #250

[2017-06-16 07:53] #247 closed, assigned to dneukirchen

[2017-06-16 08:07] dneukirchen commented on #241
made a first proposal in https://github.com/joomla-projects/media-manager-improvement/tree/feature/webpack

As discussed via glup, we will stay with browserify for now. Closing the issue.

[2017-06-16 08:07] #241 closed, assigned to dneukirchen

[2017-06-18 12:38] schnuti opened #257 "Intermediate size of uploaded image"
Related to #254 - not the same, Cropper is not involved as far as I can see - mediamanager.js

The image upload method is also using base64 encoding. i.e. you have 30 - 40 % more image data sent in the AJAX post call.
A small test with a png file
- Original 250x250px - 30.1 KB
- Intermediate base64 - 40.3 KB (34% larger)
- Uploaded  250x250px - 30.1 KB

If the administrator and/or the system restr

[2017-06-18 12:56] schnuti commented on #256
Don't you need manual input for all? You mostly know the exact values you want to use.
Crop: x, y, width, height
Resize: width, height
Rotate: degrees

Edit: Crop has fields but only shows the values - no action (for now?) I also see some funny green icons.

A forth setting for Aspect ratio is needed: If you want to reset the aspect ratio to "No ratio used".

[2017-06-19 06:01] laoneo commented on #256
Yes, but we go step by step in this project. It is easier for people who want to chime in when there are small tasks.

[2017-06-20 05:22] dneukirchen opened #258 "Refactor filesystem plugin system"
Currently we are triggering onFileSystemGetAdapters in the [Api Model](https://github.com/joomla-projects/media-manager-improvement/blob/milestone1/administrator/components/com_media/Model/Api.php#L54) and use the returned values to work with the activated filesystem plugins.

Imo the code should not depend on the return value of a plugin event. Plugin events should not return anything. You dont k

[2017-06-20 06:09] kasvith opened #259 "Upload files via URLs"
If an user wanted to add an image as a featured image for an article via a URL, he would have to download and upload again to an adapter.

It would be nice if we add an option with Upload as **Upload via URL** to fetch an image directly via a URL to relevant adapter

Like this
![image](https://user-images.githubusercontent.com/13379595/27319031-15d25ba8-55ad-11e7-888b-cc8ac20b75e0.png)

[2017-06-20 06:11] kasvith commented on #258
how should we get the adapter's instance to top level registry ?

[2017-06-20 06:17] dneukirchen commented on #258
In the plugin you register the adapter instance to the registry.

I.e. send the registry instance along with the event and in the listener you simply call `$registryInstance->register('someKey', $adapter);`

[2017-06-20 06:21] kasvith commented on #255
This question will be addressed in file serving. Will give you feedback

[2017-06-20 07:00] laoneo commented on #255
As we have many feedback that some thumbnail support should be built into MM, we will target this kind of feature requests for milestone 3.

[2017-06-20 07:02] laoneo commented on #258
I guess we have to do this in milestone 1, otherwise we will have a BC break when we change to this method.

[2017-06-20 07:03] laoneo commented on #259
I'm putting this on milestone 2, would like to finish the features for milestone 1 atm.

[2017-06-20 07:05] kasvith commented on #259
Sure

[2017-06-20 13:58] schnuti opened #260 "Normalize filenames - proposal"
In issue #245 I argue that the characters allowed for filenames should be kept the same as with the old MM. This though do not imply that characters should be removed. Test Übergrößenträger.jpg as filename in the old MM.
I propose:

    JFilterOutput::stringURLSafe($string, $language = '')
       This method processes a string and replaces all accented UTF-8 characters by unaccented
       ASCII-7

[2017-06-20 21:05] ggppdk commented on #260
I have made a relevant PR here
https://github.com/joomla/joomla-cms/pull/12049

That does language transliteration for filenames
Also added a method for making filename unique
-- **in a given folder**

About transliteration, it can be used, until support for both UTF-8 / UTF-16 is solidly implemented,

[2017-06-20 23:38] schnuti commented on #260
@ggppdk
Great! I'll test it. I know that it works for me as I've used a method like that since Joomla 1.5.
I saw that you allow upper case letters. Personally I hate camel case file names. When I then see a JPEG at the end, then I go offside.
At the end of the day the file information should be stored in a DB table. Long name, description, alias, alt text, caption, credits and copyright, dates and

[2017-06-22 20:37] schnuti commented on #260
I  stumbled over a web page that very short describes why my normalizing is a good idea and the rules that should be followed. i.e I have some new friends ;)
[Michigan Technological University](http://www.mtu.edu/umc/services/digital/writing/characters-avoid/)

I know that this is changing rapidly on the "top" level but Joomla has to be conservative.

[2017-06-25 12:45] ciar4n commented on #256
I think some kind of stepper would work. Ideally something like...

![stepper](https://user-images.githubusercontent.com/2803503/27516164-3c8e80a2-59ac-11e7-9eab-a2d0e71f3b70.png)

It would mean improving on.. https://docs.joomla.org/Number_form_field_type

[2017-06-25 16:56] laoneo commented on #256
Sounds like a good idea. Another nice goodie would be to have a "Keep Ratio" checkbox.

[2017-06-28 04:46] ylahav commented on #230
It seems to me that the PR #261 and #262 can be accepted.
BTW - Can I run the tests for code convention (or any other test) before requesting a PR?

[2017-06-28 06:20] laoneo commented on #230
Yes, do a `composer install` in the Joomla root dir. Then do `libraries/vendor/bin/phpcs --report=full --extensions=php -p --standard=build/phpcs/Joomla .`

[2017-06-28 06:24] laoneo commented on #230
Closing as the pr's got merged.

[2017-06-28 06:24] #230 closed, assigned to laoneo

[2017-07-03 00:49] kasvith opened #265 "Create new folder does not work after multi adapters"
### Steps to reproduce the issue
- Go to MM (in gsoc17 branch)
- Try to create a new folder

### Expected result
- Popup Create Folder Dialog

### Actual result
- No dialog popup

### Additional comments
Guess it needs some adjustments to use disks

[2017-07-10 02:00] kasvith opened #269 "Delete button does not appear on items rather than images"
### Steps to reproduce the issue
- Go to MM
- Hover on a directory
- Hover on a file rather than an image

### Expected result
- Delete button appearing on top of it

### Actual result
- No delete button

### System information (as much as possible)

### Additional comments

[2017-07-10 02:04] kasvith commented on #269
@ciar4n @dneukirchen

[2017-07-10 11:21] kasvith commented on #265
Issue is closed due to #268 was merged into **gsoc17** branch

[2017-07-10 11:21] #265 closed, assigned to kasvith

[2017-07-11 06:42] kasvith opened #270 "Tree view needs more styling"
Currently multi adapter architecture is implemented for Media Manager

New folder tree needs more CSS styling to make it awesome for users. As you can see in the picture there are some CSS issues.

![image](https://user-images.githubusercontent.com/13379595/28054189-9c8ec96c-6631-11e7-9091-643ca0cefe6f.png)

Also it would be nice if we could add an icon for each adapter. It can be provided by the

[2017-07-11 19:05] kasvith opened #274 "Search Functionality"
It would be nice if we have a search bar to look up for files. This will be handy with when MM used in Article editor

[2017-07-17 15:39] laoneo commented on #274
Is this a duplicate of #175?

[2017-07-17 15:42] laoneo commented on #265
Does this issue only happen on the gsoc17 branch?

[2017-07-17 16:07] kasvith commented on #274
ah seems to be, closing

[2017-07-17 16:07] #274 closed, assigned to nobody

[2017-07-17 16:09] kasvith commented on #265
yes, @dneukirchen did some modifications to vue

[2017-07-23 10:31] kasvith opened #277 "Download Files via Media Manager"
It would be nice if an user wanted to download a file uploaded in Media Manager to the device he uses.

This typically help users who has deleted original files

[2017-07-24 08:09] laoneo commented on #277
Sounds for a nice idea.

[2017-07-24 08:10] kasvith commented on #277
I badly wanted this xD

[2017-07-24 08:15] kasvith commented on #277
Simple workaround for this is to add an option to provide a *getTemporaryLink* in the API. Most of the cloud adapters provide a functionality to get the file via a url which expires after some time, we can use that to download the file.

It needs the client support too

[2017-08-15 15:01] tonypartridge opened #279 "Clicking not working and Drag to extend browsers killings image resize."
So I went and clicked to edit an image...

Not a great experience thus far. Drag to extend browser kills cropping and the aspect ration does nothing and if clicking quickly it doesn't de-select quick enough.

See video:
https://youtu.be/K2gyqu15Pq4

[2017-08-15 19:18] dneukirchen commented on #279
Thx for the report.
UI/UX of media action plugins is still work in progress.
Help is very welcome.

[2017-08-15 20:24] jonrz commented on #279
@dneukirchen, the JUX group is starting to evaluate the current interface in order to resume UX work on the Media Manager.

[2017-08-16 05:00] dneukirchen commented on #279
@jonrz that is great.
FYI: We labeled ux related issues: https://github.com/joomla-projects/media-manager-improvement/labels/UX%2FUI

[2017-08-16 15:22] laoneo commented on #279
We are still looking for a Javascript developer to brush up the media action plugins.

[2017-08-16 15:32] tonypartridge commented on #279
@GeraintEdwards if you fancy some 'brushing'.

[2017-08-19 19:00] dgrammatiko commented on #246
We can use storageSession here. The code is related to the media field script.

[2017-08-19 19:05] dgrammatiko commented on #148
@dneukirchen most of the requirements should be ok with the new custom elements alerts. If not we need to modify it to get the required behaviours

[2017-08-19 20:32] dneukirchen commented on #148
@dgt41 thx. I will check the CE alerts.

[2017-08-23 10:01] kasvith commented on #270
#282 needs styling

[2017-08-24 20:35] dgrammatiko commented on #254
Proposal: let's use this: https://github.com/xkeshi/image-compressor

[2017-08-25 05:24] kasvith opened #283 "Pinning Favourite Folders to Media Tree"
With the latest multi adapter architecture it is possible to have more than single drive for Media Tree. It would be nice if user can mark his favorite drives and pin them on the top in Media Tree

This is a common thing in favorite file managers we use daily. This would be a nice feature

[2017-08-25 05:39] laoneo commented on #283
You can sort the plugins, would that not be enough?

[2017-08-25 05:53] kasvith commented on #283
I think people more often like to have favorites :)

[2017-08-25 06:01] laoneo commented on #283
The problem is that Joomla is already cluttered with tons of options, adding such an option would be a step into the wrong direction. People are used to sort stuff and having displayed it in that order, so I guess this would be enough.

[2017-08-25 06:05] kasvith commented on #283
I mean not in options, its by the tree view itself, you right click on a drive or folder and set it as favorite so you can access it quickly

[2017-08-25 06:19] kasvith commented on #283
For example we can add a star button when hovering items to mark them as favorites

[2017-08-25 06:50] laoneo commented on #283
So this will be then only saved during the session time? I mean there is a plan to save the current state, so how can the feature feature work together with that?

[2017-08-25 06:55] schnuti commented on #254
@dgt41
First looks great. But -

Problem? Seems that PNG files are not compressed. Personally I can live with it.

👍  The example is using formData.file to send the file with XMLHttpRequest (AJAX). i.e. 1: no extra 30-40 % size during upload because of a base64 encoding. 2: I have a feeling that using the "normal" file upload is a bit more secure e.g. using the system path for saving the temporary

[2017-08-25 07:25] kasvith commented on #283
We can save this in the database as a per user configuration.

Not conflicting with current state. This makes user's life lot easier, like you use in nautilus

[2017-08-25 14:02] dgrammatiko commented on #254
@schnuti there was an architecture decision to use base64 against normal PHP file upload. I don't think that this could be undone at this point

[2017-08-25 18:24] schnuti commented on #254
@dgt41 "Normal PHP file upload"? I wouldn't say that an AJAX file upload is the "normal" way. I guess it wasn't (isn't?) known how to send image-data as file-data instead of base64 encoded.

I also believe it's easier to use HTMLCanvasElement.toBlob() directly instead of  the helper xkeshi/image-compressor. Sizing & Co is included in the Cropper utility and not needed twice.
See: [MDN - HTMLCanvas

[2017-08-25 18:26] dgrammatiko commented on #254
@schnuti check that MDN link for the browsers support...

[2017-08-25 20:31] schnuti commented on #254
@dgt41 check what your proposal is referencing. - The same MDN-link.

IE10+ might be a problem --- in any case.

[2017-08-29 13:11] kasvith opened #289 "Media Field should be redesigned to work with Cloud Adapters"
Media Manager was updated with Cloud Filesystem integration. So now Mediafield need to be adjusted to work with latest changes.

MediaManager has an API call for this to get an sharable url for a media. This is done by sending a special AJAX request to the Media Manager like

**[host]/administrator/index.php?option=com_media&format=json&task=api.files&url=true&path=local-0:/joomla_black.png**

The

[2017-08-29 13:31] kasvith commented on #289
@dneukirchen is there any suggestion from you

[2017-08-29 14:56] laoneo commented on #178
The plan here is to wait for web services and make if it. If it will get into 4.0, then we can refactor the api controller in late alpha phase of 4.0.

[2017-08-29 14:57] laoneo commented on #190
Closing it as we have plugin based filesystem implementation with unlimited account support.

[2017-08-29 14:57] #190 closed, assigned to kasvith

[2017-08-29 15:05] kasvith commented on #190
Yahoo

[2017-09-09 10:43] kasvith opened #294 "Media Editing should be need to work with clouds"
With the introduction with the Cloud Architecture for Joomla! we now need to fix Image editing to be work with any possible adapter.

Currently Media Manager serve the file to be edited to the Editor Plugin and it goes usual. But unfortunately due to internal Url structure of Adapter API now this simple task is not working anymore.

We need to unify how image editing from adapters **(Not only clou

[2017-09-14 12:57] laoneo commented on #156
@rajikaimal did you do something on this issue? We have a code sprint next week and I want avoid that two parties are working on the same task.

[2017-09-14 17:07] rajikaimal commented on #156
Hey @laoneo, sorry I didn't get much time to look into this as I planned. Feel free to reassign this.

[2017-09-16 12:12] kasvith commented on #156
First we need to make sure how image editing works with Multi Adapter Architecture and then you can work on this @rajikaimal

[2017-09-19 18:12] AFlorencia commented on #255
I wonder if this thumbnails will be available in frontend, since we need to display small images in modules like mod_articles_category.
I was asking for this here: https://github.com/joomla/joomla-cms/issues/17446

[2017-09-20 05:57] kasvith commented on #255
we can generate thumbnails based on many predefined sizes

[2017-09-20 10:22] #148 closed, assigned to nobody

[2017-09-20 13:25] #224 closed, assigned to dneukirchen

[2017-09-20 13:27] dneukirchen commented on #270
done in #296
thx @ciar4n

[2017-09-20 13:27] #270 closed, assigned to nobody

[2017-09-20 13:29] dneukirchen commented on #163
#297

[2017-09-20 13:29] #163 closed, assigned to nobody

[2017-09-20 13:29] dneukirchen commented on #162
#297

[2017-09-20 13:29] #162 closed, assigned to nobody

[2017-09-20 14:12] laoneo commented on #216
Because of performance reasons it doesn't make sense to have this feature implemented for the value you gain. So closing it.

[2017-09-20 14:12] #216 closed, assigned to ciar4n

[2017-09-20 17:03] dneukirchen commented on #115
#113

[2017-09-20 17:03] #115 closed, assigned to dneukirchen

[2017-09-20 17:14] ciar4n commented on #176
PR created... https://github.com/joomla-projects/media-manager-improvement/pull/306

[2017-09-20 18:45] dneukirchen commented on #176
thx

[2017-09-20 18:45] #176 closed, assigned to nobody

[2017-09-20 19:47] #156 closed, assigned to dneukirchen

[2017-09-20 21:59] kasvith commented on #258
Done in #300

[2017-09-20 21:59] #258 closed, assigned to laoneo

[2017-09-20 21:59] kasvith commented on #227
done in #309

[2017-09-20 21:59] #227 closed, assigned to nobody

[2017-09-20 22:33] #95 closed, assigned to dgrammatiko

[2017-09-20 22:33] #242 closed, assigned to laoneo

[2017-09-21 08:12] laoneo commented on #179
It works with the latest code on the milestone 1 branch, so closing it.

[2017-09-21 08:12] #179 closed, assigned to nobody

[2017-09-21 08:17] #165 closed, assigned to nobody

[2017-09-21 08:19] dneukirchen opened #312 "Show some loading indicator"

[2017-09-21 17:30] #312 closed, assigned to dneukirchen, ciar4n

[2017-09-22 05:28] kasvith commented on #277
Server side is done in #330

[2017-09-22 13:45] dneukirchen opened #334 "D&D does not work in table view"

[2017-09-22 15:55] dneukirchen opened #336 "Unselecting items does not work in table view"

[2017-09-23 09:11] ciar4n opened #338 "No thumbnail if space in filename"
### Steps to reproduce the issue
If there is a space in an image filename, no thumbnail is displayed in grid view.

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2017-09-23 09:43] kasvith commented on #338
is this for dropbox ?

[2017-09-23 09:46] kasvith commented on #338
the reason is the getSafeFilename does not work with spaces, originally they replace ' ' with '_'

[2017-09-23 09:54] kasvith commented on #338
@laoneo @dneukirchen

[2017-09-23 10:38] kasvith opened #340 "Url=false should be changed to url=0"
### Steps to reproduce the issue
For not having a permanent url every time when xhr request fired it is required to change **url=false** to **url=0**

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2017-09-23 14:20] ciar4n opened #342 "Double scroll bars on grid view"
### Steps to reproduce the issue
Grid view displays 2 vertical scroll bars

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2017-09-24 07:12] laoneo commented on #338
Marked it as bug.

[2017-09-24 08:17] laoneo opened #344 "Reorganize the media types in the client"
Currently the code do work with different media types is spread across different (vue) components. It should be reorganized too speed up the implementation of new media types.

[2017-09-24 09:29] dneukirchen opened #351 "Use php and js files instead of .vue files"

[2017-09-24 09:36] ciar4n opened #353 "[Feature] Column changer for grid view"
Add -/+ icons to tool bar to change the number of columns in grid view.

Applied to width property of `.media-browser-item` through the following values...

- width: calc(12.5% - 20px);
- width: calc(14.28% - 20px);
- width: calc(16.66% - 20px);
- width: calc(20% - 20px);
- width: calc(25% - 20px);
- width: calc(33.33% - 20px);
- width: calc(50% - 20px);
- width: calc(100% - 20px);

[2017-09-24 11:55] #178 closed, assigned to rdeutz

[2017-09-24 13:23] ciar4n opened #361 "Toggle class need for actions dropdown in grid"
Option needed to toggle..

 https://github.com/joomla-projects/media-manager-improvement/blob/milestone1/administrator/components/com_media/resources/scripts/components/browser/items/image.vue#L12

.. with `active` class by clicking..

 https://github.com/joomla-projects/media-manager-improvement/blob/milestone1/administrator/components/com_media/resources/scripts/components/browser/items/image.vu

[2017-09-24 14:15] dneukirchen commented on #353
#362

[2017-09-24 14:15] #353 closed, assigned to dneukirchen

[2017-09-24 14:18] dneukirchen opened #366 "Sync with local storage"
* last path
* grid size
* layout
* infobar

[2017-09-24 14:20] dneukirchen commented on #178
thx @rdeutz 👍

[2017-09-24 15:22] dneukirchen opened #368 "Move rename and create folder modals to sidebar"

[2017-09-24 15:25] #336 closed, assigned to dneukirchen

[2017-09-24 15:25] #334 closed, assigned to dneukirchen

[2017-09-24 15:51] dneukirchen opened #371 "Implement client side sorting"
Fields:

* name
* created_at
* updated_at
* size

Filter
* grouped by type

[2017-09-24 16:55] #361 closed, assigned to dneukirchen

[2017-09-24 17:24] laoneo commented on #254
We fixed it with an additionaly quality parameter in #376.

[2017-09-24 17:24] #254 closed, assigned to nobody

[2017-09-24 17:27] #366 closed, assigned to dneukirchen

[2017-09-24 23:08] dneukirchen opened #377 "You cant open directory in table view"
related to #344

[2017-09-24 23:09] dneukirchen commented on #69
using webpack now

[2017-09-24 23:09] #69 closed, assigned to dneukirchen

[2017-09-24 23:10] #222 closed, assigned to nobody

[2017-09-24 23:11] #117 closed, assigned to nobody

[2017-09-24 23:12] dneukirchen commented on #177
@ciar4n @laoneo @dgt41 do we still need that?

[2017-09-24 23:15] dneukirchen commented on #342
@ciar4n is this still an issue?

[2017-09-24 23:15] dneukirchen commented on #289
@dgt41 can we close this?

[2017-09-24 23:16] #340 closed, assigned to dneukirchen

[2017-09-24 23:45] #289 closed, assigned to dgrammatiko, kasvith

[2017-09-25 09:17] dgrammatiko opened #378 "Use polyfill for promises in media field"
### Steps to reproduce the issue

IE doesn't speak ES6, so we need to fill the gap:

https://github.com/stefanpenner/es6-promise

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2017-09-25 10:23] #246 closed, assigned to dgrammatiko

[2017-09-25 10:27] #342 closed, assigned to ciar4n

[2017-09-25 10:41] dneukirchen opened #381 "State issue when opening nmm in subfolder"
### Steps to reproduce the issue

Open media managaer in subfolder

Click on "images" in tree menu

sampledata appears as a file, not a folder...

[2017-09-25 14:28] laoneo commented on #177
I would close it as with #306 we can handle long paths properly.

[2017-09-25 14:31] laoneo commented on #214
Is this still valid?

[2017-09-25 14:35] laoneo commented on #269
This should be fixed as part of #344.

[2017-09-25 14:38] laoneo commented on #223
Can we close this one in favor of #344?

[2017-09-26 04:04] #223 closed, assigned to dneukirchen

[2017-09-26 04:53] kasvith opened #382 "Plugins for Frontend"
It should be able for thirdparty app developers to extend current capability of the frontend via plugins. For example think of a plugin developer want to provide a *Custom Action* called "Compress and Email..." which can be executed on any directory or file.

So we need a mechanism to extend current media manager frontend in such cases.
This makes Media Manager a very powerful Filemanager out ther

[2017-09-26 04:54] kasvith commented on #338
This is solved in #358

[2017-09-26 04:54] #338 closed, assigned to nobody

[2017-09-26 04:55] kasvith commented on #381
I think we should not reproduce the tree

[2017-09-26 07:16] dgrammatiko commented on #382
Ok, can you give me an example of how such a `compress and email` functionality should work?
And most importantly on which context ( I guess input field).?

[2017-09-26 08:21] kasvith commented on #382
Nope, i mean we should let 3rd party developers extend the functionality of the mediamanager also in fronted too

For example think when you install winRAR on Windows it adds a custom action to context menu.

If we have something like that, mediamanager will be more powerful

For the task we need a modular system in frontend

[2017-09-26 09:21] laoneo commented on #382
Honestly I like the idea, but it would mean we start to introduce a similar plugin system as we have for the PHP part. Where extension devs can hook into different actions within media manager.

[2017-09-26 09:25] kasvith commented on #382
Yes, this is for js side, we will need some php actions too, with this mediamanager will be a pro filemanager among other cms

[2017-09-26 09:26] dneukirchen commented on #382
I like the idea. Have to do some research on this. Might be something that i can check out when we implement #351, but i would not put too much time into this atm because we have a lot of other stuff to do for the current milestones.

[2017-09-26 09:27] dneukirchen commented on #214
Yes, but can be closed in favor of #344

[2017-09-26 09:27] #214 closed, assigned to dneukirchen

[2017-09-26 09:28] kasvith commented on #382
For example we need to take our actions like Rename as a modular plugin,

With this 3dps can create filesystem plugins with their unique actions

[2017-09-26 09:28] kasvith commented on #382
Yup we can work on this later

[2017-09-26 09:33] dneukirchen commented on #177
agree

[2017-09-26 09:33] #177 closed, assigned to nobody

[2017-09-26 09:39] laoneo commented on #382
Probably something the JS team can think about in general as it can be that we will need it in rest of Joomla on some day as well. Just an idea.

[2017-09-26 09:41] dneukirchen commented on #382
@laoneo https://volunteers.joomla.org/teams/javascript-working-group#getinvolved 🙄

[2017-09-27 08:26] dgrammatiko opened #383 "Improve tree"
### Steps to reproduce the issue

- Needs to be accessible

### System information (as much as possible)

### Additional comments

Maybe we can use some parts of: https://github.com/jakearchibald/navigation-transitions

[2017-09-27 11:29] ciar4n opened #384 "Infobar with multiple items selected"
Currently the infobar shows the details of the last item when multiple items are selected. This as mentioned by @crystalenka is not very intuitive and could be improved.

Some options...

1. Simply hide the infobar when more than one item is selected.

2. Display computed info on all items selected..
-- List items selected
-- Total number of items selected
-- Total file size of items selected

An

[2017-09-27 11:43] ciar4n opened #385 "Add 'Save as Copy' to edit view"
Inline with the rest of Joomla a **Save as Copy** should be added to the edit view.

[2017-09-27 12:53] dneukirchen commented on #381
@kasvith we need to reproduce it for ui reasons.
at least in a minimal version on client side using the path.

[2017-09-27 12:53] #381 closed, assigned to dneukirchen

[2017-09-27 14:29] #377 closed, assigned to nobody

[2017-09-27 18:07] kasvith opened #392 "npm run dev not working anymore"
### Steps to reproduce the issue
- Delete all existing node_modules
- Run npm install
- Run `npm run dev`

### Expected result
- A error free terminal output

### Actual result
Kasuns-MacBook-Air:com_media kasun$ npm run dev

Hash: f0f1c506bc3408778b24
Version: webpack 3.6.0
Time: 15501ms
                                          Asset     Size  Chunks                    Chunk Names

[2017-09-27 18:35] kasvith commented on #392
problem in node installer

[2017-09-27 18:35] #392 closed, assigned to nobody

[2017-09-27 19:29] laoneo opened #395 "Table layout navigate up"
At the moment it is not possible to navigate one folder up in the table layout. Would be nice to have a ".." folder on top of the list as in many file browsers which brings you one folder up.

![image](https://user-images.githubusercontent.com/251072/30933435-d9cca854-a3ca-11e7-89bd-bf2084dd2c6d.png)

[2017-09-27 19:32] laoneo opened #396 "On file upload when file exists ask for new name"
Actually when a file exists the user has the option to overwrite it or cancel the action. As discussed in #184 it would be nice to offer the user the possibility to give the file a new name.
We need to keep in mind what we do when multiple files are uploaded.

[2017-09-27 19:34] laoneo commented on #184
I'm going to close this one. For further enhancements I'v opened a new issue #396 which should allow the user to rename the file when it already exists on upload. Thanks for all the work on this one as the outcome for now is very good!

[2017-09-27 19:34] #184 closed, assigned to laoneo, dneukirchen

[2017-09-28 03:39] dneukirchen commented on #396
Alternatively we can add an incrementing Suffix. my_file(1).jpg, my_file(2).jpg ...

[2017-09-28 07:50] dneukirchen opened #399 "fix houndci-bot code style"
see https://github.com/joomla/joomla-cms/pull/18145

[2017-09-28 07:51] dneukirchen opened #400 "Remove system tests"
-- @yvesh

[2017-09-28 08:00] ciar4n commented on #399
I'll fix this now.

If hound is going through these folders on the main repo maybe it should be added to this one to?

[2017-09-28 08:01] dneukirchen commented on #399
Thx!
Yes, lets add the houndci checks to this repo.

[2017-09-28 08:44] #400 closed, assigned to nobody

[2017-09-28 09:01] brianteeman opened #404 "Accessibility improvements"
Using aria-hidden = true on the icons is not enough to satisfy accessibility.
For example with the current code what you are doing is completely removing all the meaning from the icons function

As an example none of the icons in the media-view-icons div have any text so with any assistive technology they are invisible

It doesnt need an a11y review to know that everytime you have an icon with ari

[2017-09-28 09:38] #269 closed, assigned to nobody

[2017-09-28 10:12] brianteeman commented on #217
Personally double click is completely non-intuitive for anything browser based

[2017-09-28 14:24] ciar4n commented on #404
Would simply adding an aria-label be sufficient?

[2017-09-28 14:26] brianteeman opened #416 "Only work with media files"
**This is really bad.** It can open up the entire web site to anyone with media manager access. Remember that can include low level users. Presumably (although currently broken) the media manager will be used on the front end as well. Making this even more dangerous.

 As can be seen below I have opened up the site to allow anyone to delete or rename any file - including php - on the site

<img wi

[2017-09-28 14:39] brianteeman commented on #404
As per the link to fontawesome`s great resource. That would be ok on INTERACTIVE elements only and it must be on the href

[2017-09-28 17:40] brianteeman opened #417 "front end broken"
Testing on the front end and I always get

`Warning: require_once(C:\Apache24\htdocs\cms4\administrator/components/com_media/media.php): failed to open stream: No such file or directory in C:\Apache24\htdocs\cms4\components\com_media\media.php on line 18`

[2017-09-28 17:41] brianteeman commented on #416
@dneukirchen  this is a critical issue and it cannot be merged without this being fixed

[2017-09-29 04:11] kasvith commented on #416
How anyone without admin rights can use media manager?

[2017-09-29 06:35] dneukirchen commented on #416
Yes, thx @brianteeman
We will resolve this asap. Should be an easy fix.

[2017-09-29 06:37] #399 closed, assigned to nobody

[2017-09-29 06:37] dneukirchen commented on #399
thx @ciar4n

[2017-09-29 08:19] brianteeman commented on #416
@kasvith at the front end when creating an article. Also a low level admin user with just access to create content in the admin

[2017-09-29 08:47] kasvith commented on #416
We will add user level permissions to NMM later, for now we would just filter the *.php* files from the rest

[2017-09-29 08:57] brianteeman commented on #416
NO! It is nothing to do with permissions. That is not the correct way. You should only be displaying defined media files. You should not be hardcoding anything to filter out files. Simply filtering out *.php is nowhere near enough. What about js etc.

Please look at the current media manager. It only displays files that are set in the options for Legal Extensions (File Types). NMM is ignoring this

[2017-09-29 09:03] brianteeman opened #418 "Path to files/images"
Now that we have the local file storage plugin is there any need for the options below. Do they even have any effect.

<img width="376" alt="screenshotr10-02-47" src="https://user-images.githubusercontent.com/1296369/31008835-5eee75ca-a4fd-11e7-8dca-0fcba83de79c.png">

[2017-09-29 09:06] laoneo commented on #416
If you put a .php file into the images folder in the old media manager, then it does show this file. So we are not badder as the old one. But we want to move forward, #419 should only serve and work with files which are configured as allowed file types in the settings.

[2017-09-29 09:08] laoneo commented on #418
I guess we need to discus that in the main repo as it will be a rather hard BC break, if we remove the options. @kasvith opened an issue for it already https://github.com/joomla/joomla-cms/issues/18035.

[2017-09-29 09:08] #418 closed, assigned to nobody

[2017-09-29 09:14] brianteeman commented on #416
The problem was that the new local storage option exposed the entire folder tree and users are stupid.

Going to close this as #419 resolves this

[2017-09-29 09:14] #416 closed, assigned to laoneo

[2017-09-29 11:24] ciar4n commented on #404
PR created to aria-label to toolbar and grid item icons... #420

[2017-09-29 13:42] brianteeman opened #422 "Upload checks"
in j3 we had a security issue whereby simply checking for a . in a filename to locate the filetype was not enough as the code is different in j4 please can someone check that we are not reopening the vulnerability.

For reference the CVE is http://www.cvedetails.com/cve/cve-2013-5576

Probably @SniperSister or @mbabker can provide more info

[2017-09-29 13:45] dneukirchen opened #423 "Apply event handlers to a element (currently applied to spans)"
i.e: https://github.com/joomla-projects/media-manager-improvement/blob/19232b7b121a9acb800c6ad9c7ef7503b1e7980d/administrator/components/com_media/resources/scripts/components/browser/items/directory.vue#L22

[2017-09-29 13:48] SniperSister commented on #422
@zero24 can you take a look if all the fixes are included?

[2017-09-29 13:49] dneukirchen commented on #404
closing this one. thx @ciar4n & @brianteeman
Lets create new issues for further a11y improvements in milestone https://github.com/joomla-projects/media-manager-improvement/milestone/5.

[2017-09-29 13:49] #404 closed, assigned to ciar4n

[2017-09-29 13:51] rgmears opened #424 "J!4 - a recommendation for the removal of breadcrumbs on the Media Manager screen"
The current J!4 Media Manager screen looks like this:

![j4-media-manager-original-1](https://user-images.githubusercontent.com/4270063/31018587-4daa960a-a4f2-11e7-953f-4c5c88c23030.gif)

On this issue https://github.com/joomla-projects/media-manager-improvement/pull/394 I recommended a couple of changes which led to this screenshot where the breadcrumbs are gone and the images pane maximizes the

[2017-09-29 14:11] dneukirchen commented on #395
This is also Not possible in Grid view atm. We have breadcrumb and tree as Navigation Elements. Personally i think This is enough and Users will get Used to it pretty quickly. Its not a big issue to add the additional Elements... the question is do we really Need them?

[2017-09-29 14:16] brianteeman commented on #395
I really miss this as well and its not just list(gird) view but thumbnail view as well

[2017-09-29 14:20] brianteeman commented on #424
As already explained to you. Breadcrumbs are essential for accessibility especially if you have a visual or cognitive impairment.

Joomla has an accessibility policy which you can read here https://www.joomla.org/accessibility-statement.html

It is not about **YOU** and if they are redundant to **YOU** - it is about **everyone** even if you don't believe that someone with a visual or cognitive imp

[2017-09-29 14:25] dneukirchen commented on #424
I like the clean approach with more space in the main area, but as explained in PR 394 i also think that we should keep it. Imo the little more gain in space is not worth loosing orientation / accessibility and an additional navigation element.

[2017-09-29 14:31] rgmears commented on #424
Not sure why you're so worked up about this @brianteeman.
It's just a suggestion. It would be worth finding out whether people rely on the breadcrumbs or not. I don't, but I'm willing to allow that others might.

[2017-09-29 14:33] rgmears commented on #424
I also don't know how many visually impaired people use Joomla!. But I do know that the 12 pixel text used throughout the backend must be a problem for them. No one has noticed that I made the toolbar buttons bigger and increased the size of the text

[2017-09-29 14:43] brianteeman commented on #424
sorry - ignorance again - you can easily increase the font size in your browser.

How many people is irrelevant. It would be the same if it was one or one million

I am worked up - as you say - because you are making ignorant and offensive comments that devalue the worth of people with disabilities and question if they have the right to use Joomla.

Not wasting any more time on this or you

[2017-09-29 14:48] laoneo commented on #424
@brianteeman please calm down. I guess @rgmears didn't want to make any offensive comments against disabled people.
People are so much used to have a breadcrumb, not sure if we can remove it. But what can be done for sure is to have less margin on the top and bottom.

[2017-09-29 14:51] rgmears commented on #424
Best not to jump to judgement Mr. Teeman.
Here's the Media Manager page with the font size increased in the browser:
![j4-media-manager-large-text](https://user-images.githubusercontent.com/4270063/31021509-ac87ac36-a4fb-11e7-90b0-0db6e53f887d.gif)

[2017-09-29 14:54] brianteeman commented on #424
statements such as this are ignorant at best and offensive at worst. it is a sad day when we make apologies for anyone making comments like this

<img width="620" alt="screenshotr14-05-13" src="https://user-images.githubusercontent.com/1296369/31021649-65e20956-a52e-11e7-8c29-36238ee99a37.png">

[2017-09-29 15:00] mbabker commented on #424
Intended or otherwise some of the comments are coming across with a very strong bias toward "disabled users are not a priority".  And that is where the issue lies for at least two of us.

[2017-09-29 15:08] rgmears commented on #424
I did not say or intend in the least that disabled users are of no consequence. Or that they do not use Joomla. As far as it goes here, I have to increase the font size on a lot of websites I visit in order to read them. You won't know this Michael but I actually contacted Brian some time ago about the faulty way in which his own website scales font sizes and he brushed me off. So while he is poun

[2017-09-29 15:13] brianteeman commented on #424
it is perfectly readable you just dont like the styling - and that is completely irrelevant

[2017-09-29 15:13] zero-24 commented on #422
@brianteeman I'm not sure what you mean.

In the commit linked above it is this file / method that was patched and is already patched in the framework package:
https://github.com/joomla-projects/media-manager-improvement/blob/dev/libraries/vendor/joomla/filesystem/src/File.php#L51

And the filetype checks are also still intact:
https://github.com/joomla-projects/media-manager-improvement/blob/dev/

[2017-09-29 15:15] brianteeman commented on #424
Media Manager with zoomed in the browser works perfectly for me - this is at 200%

<img width="1017" alt="screenshotr16-15-18" src="https://user-images.githubusercontent.com/1296369/31022672-72efcac2-a531-11e7-94d0-210e69fbd240.png">

[2017-09-29 15:19] rgmears commented on #424
When we corresponded Brian I said nothing about the styling. I only observed that one block of text was distorted/cut off. I'm not sure which browser you use but in Firefox both the Joomla backend and your website do NOT scale up appropriately.

[2017-09-29 15:20] brianteeman commented on #422
all i was asking was for someone to make sure that the security issue was not inadvertently re-introduced. Not something I had the skill to do

[2017-09-29 15:30] dgrammatiko commented on #424
Just to mention that goals for front end and back end templates are:
- fully accessible with keyboard
- comply to WCAG 2 level AA

Whatever suggestion violates these two (there are quite a few more requirements) should be closed. There’s no reason for all of us to waste time on something that doesn’t fit the prerequisites

[2017-09-29 17:35] rgmears commented on #424
@brianteeman, seems we're both right, or wrong, as the case may be.
If you zoom in with "Zoom Text Only" selected you get what I showed in the screenshot.
If "Zoom Text Only" is NOT selected you get what your screenshot shows.
I guess I'm cognitively challenged.

@dgt41, I don't see what the WCAG 2 level AA recommendations have to do with breadcrumbs.

[2017-09-29 17:36] brianteeman commented on #424
it has already been explained

[2017-09-30 10:24] rgmears commented on #424
No @brianteeman,  I've been told.
WCAG 2 level AA recommendations are rather vague. And, it seems to me that having breadcrumbs on the Media Manager page will only confuse people. However, I, too, have nothing more to say on this matter.

[2017-09-30 10:24] #424 closed, assigned to nobody

[2017-09-30 10:47] rgmears opened #425 "J!4 - Admin pages do not zoom in properly with "Zoom Text Only""
### Steps to reproduce the issue
Go to any page in the Admin section. Select "Zoom Text Only" under View in the browser menu.
Either CTRL/scroll in or go to View > Zoom > Zoom In

### Expected result
![j4-media-manager-zoom-in](https://user-images.githubusercontent.com/4270063/31045144-8b1b3c50-a5a2-11e7-9790-88dbccf45f00.gif)

### Actual result
![j4-media-manager-zoom-in-text](https://user-images

[2017-09-30 15:47] dneukirchen commented on #425
Does this affect every admin page or just the media manager?

[2017-09-30 16:15] rgmears commented on #425
All pages.

[2017-09-30 18:02] dneukirchen commented on #425
Then this is an issue of the new Admin Template not of the Media Manager. Would be nice if you open this issue in the main repository. Thank you!

[2017-09-30 18:02] #425 closed, assigned to nobody

[2017-10-01 03:01] kasvith opened #426 "The concept of Media Display Drivers"
Currently we display only common file types that are by default rendered by the browser. But there are many file types that are not directly supported by web browsers, So we need to create a Media Display Driver system for developers, So they can create drivers(php and js) to render a particular file type in media  manager. For example someone can create a plugin to display Powerpoint Slide shows,

[2017-10-01 07:07] laoneo commented on #426
Would really like to have that, but I'm not sure if we can do that in a way to be extended by plugins. The problem is that it is very connected to vue how media types are rendered. Probably we need to go step by step here and implement #344 first. Then we can see if we can extract the code that way to have it in a Joomla plugin.

[2017-10-01 07:09] kasvith commented on #426
yes, or what about Media Manager Specific driver system? I would like to have that for frontend....
We have some interface for frontend driver, we can register vue drivers to it and it will handle the file type associated.

[2017-10-01 10:11] dgrammatiko commented on #426
We can use web components for each type, as a way to decouple from vue 😉

[2017-10-01 10:49] kasvith commented on #426
sure @dgt41 we need some kind of interface so people can create more drivers.

[2017-10-01 13:07] rgmears commented on #425
How do I get to the main repository?

[2017-10-01 13:46] dneukirchen commented on #425
https://github.com/joomla/joomla-cms

[2017-10-01 13:52] rgmears commented on #425
[Done](https://github.com/joomla/joomla-cms/issues/18181)

[2017-10-03 11:37] laoneo commented on #417
Please test #429, it should fix the issue.

[2017-10-03 14:23] brianteeman commented on #417
I would test it but the branch has a 500 error on the front end

500 Expression #1 of ORDER BY clause is not in SELECT list, references column 'nmmtest1.c.lft' which is not in SELECT list; this is incompatible with DISTINCT

[2017-10-03 14:24] laoneo commented on #417
Did you do a fresh installation?

[2017-10-03 15:06] laoneo opened #430 "Copy public file url to clipboard"
A feedback on Jday Germany was to copy the public file url of a media file to clipboard.

[2017-10-03 15:07] brianteeman commented on #417
yes

[2017-10-03 15:21] laoneo commented on #417
I didn't do a new installation, if there is such an issue, then we have it probably in 4.0-dev as well as we didn't change something on that part.

[2017-10-03 15:32] brianteeman commented on #417
Sorry - yes you are correct - its broken upstream

[2017-10-03 16:25] #417 closed, assigned to laoneo

[2017-10-04 07:00] dneukirchen commented on #228
I will close this one. Most of the requested features/improvements is already implemented and we have already created issues for the rest.

[2017-10-04 07:00] #228 closed, assigned to nobody

[2017-10-04 10:30] kasvith commented on #430
we need a toolbar button for that

[2017-10-04 10:50] dneukirchen commented on #430
add an icon-button next to the path in the media infobar.

[2017-10-04 17:16] kasvith opened #435 "Refactor the getFileInformation method to an interface methods"
Currently we have **getFiles** and **getFile** methods which requires returning a stdClass object or objects. But when people dealing with this they can miss many parts of that because of not paying attention to the API Docs, so we need to break this apart to small small methods like **getFileName, getFileSize, getCreationDate, getPath** and pack it in a interface like FileInfoInterface, so we can

[2017-10-04 18:21] ciar4n opened #436 "Grid - Actions not hiding on hover-off of certain items"
### Steps to reproduce the issue
Click the more actions icon on any folder or non image file in the grid. Actions remain open when you hover away from the item.

### Expected result
Actions disappear when you hover off the item

### Actual result
Actions remain

[2017-10-04 18:26] ciar4n opened #437 "Warning needed when deleting an item"
### Steps to reproduce the issue
Currently items are deleted immediately after clicking the delete action (grid view). I suggest we add an 'Are you sure' warning.

### Expected result

### Actual result

### System information (as much as possible)

### Additional comments

[2017-10-04 19:49] kasvith commented on #437
Yes, we need that, @dneukirchen :)

[2017-10-06 13:18] dgrammatiko opened #438 "Fix breadcrumbs"
### Steps to reproduce the issue
Create some nested folders (a few of them), observe the breadcrumbs

<img width="1089" alt="screen shot 2017-10-06 at 15 14 37" src="https://user-images.githubusercontent.com/3889375/31279411-49cac7dc-aaa9-11e7-8623-1cf59fd36ede.png">

### Expected result

Not broken

### Actual result

Broken

### System information (as much as possible)

### Additional comments

[2017-10-07 12:25] kasvith commented on #438
i think we need to hide some intermediate steps, like windows does

[2017-10-07 18:50] dneukirchen commented on #438
something like https://bootsnipp.com/snippets/featured/responsive-breadcrumbs ?

[2017-10-07 19:15] ciar4n commented on #438
Hiding the top level items seems like a logical solution

[2017-10-07 19:38] brianteeman commented on #438
You would need to check with a11y team but i "think" that if you are hiding the top level items (which seems a good idea to me) then you might need to do it so that they are only hidden visually

[2017-10-08 03:24] kasvith commented on #438
like this, A > B > C > D > E > F is transformed into A > B > ... > E > F, once you go to E if there is enough space it will show full path

[2017-10-08 03:54] brianteeman commented on #438
... >C > D > E > F

[2017-10-08 09:44] kasvith commented on #438
nope i dont like that, check Windows Explorar, it does it neatly

[2017-10-08 09:47] dgrammatiko commented on #438
@kasvith don't ever quote windows, they're always doing it wrong 😂

[2017-10-08 09:49] brianteeman commented on #438
Windows 10 does it exactly how i said. See these two screenshots
<img width="399" alt="screenshotr10-48-35" src="https://user-images.githubusercontent.com/1296369/31315740-5aaca0fc-ac16-11e7-9d02-e07782fcb4d9.png">
<img width="782" alt="screenshotr10-48-44" src="https://user-images.githubusercontent.com/1296369/31315741-5aadc7ac-ac16-11e7-937d-e5f13da9d7c9.png">

[2017-10-09 03:24] kasvith commented on #438
ok my bad, no windows for months lol

[2017-10-14 03:29] schnuti commented on #260
There is a solution with joomla/joomla-cms#16878 that should be possible to add to 4.0.

It got worse with the new media manager. You remove any dashes?
There is 2 preg_replace involved with a JStringPunycode::toPunycode in between?

[2017-10-17 06:18] laoneo commented on #260
Can you create a pr how do you think it should be done. If you have any question please let us know. Thanks.

[2017-10-17 17:09] dgrammatiko opened #439 "Alerts"
### Steps to reproduce the issue

Alerts are hard to customise, esp the buttons.
Proposal:
- Keep the custom element
- Extend the custom element and introduce a new function eg `createButton`
- Then a single line should be enough for run time additional buttons with custom functionality:
[code]

If this is ok we need to redesign the alerts a bit so we always get buttons and not the bootstrap X thi

[2017-10-17 19:12] schnuti commented on #260
@laoneo
There is an open PR probably only targeting 3.7. This was voted down because it did not solve the problem for fellow PHP5.4 users in 3.7. It is though B/C - it does not break anything but makes it possible for greeks and chinese to use the new MM . I have no idea how it should be implemented in 4.0. I asked for a re-evaluation for 4.0 in that PR.

I use that code myself using my own JFile:

[2017-10-18 02:56] kasvith commented on #439
this seems nice thumbs up

[2017-10-18 05:40] laoneo commented on #260
Can you link your pr with this issue?

[2017-10-18 05:42] laoneo commented on #439
Would that code then be in the MM app? The classes attribute looks for me wrong as I have to provide bootstrap specific classes to the custom element.

[2017-10-18 06:46] schnuti commented on #260
The link is included above in my comment 4 days ago!

[2017-10-18 07:13] laoneo commented on #260
Saw that one, but I got the impression you are talking about a different issue which deals with special characters like underscore and not latin characters. But then we can close this issue in favor of https://github.com/joomla/joomla-cms/pull/16878 or not?

[2017-10-18 07:38] dneukirchen commented on #439
like the idea. 👍

[2017-10-18 08:35] schnuti commented on #260
This issue is about characters used in file names in general. My last comment was about dashes that you now remove from the file names and the use of punycode (München = Mnchen-3ya) after removing any unicode character.
This has to be fixed in MM after PR 16878 has bin commited into 4.0 so I suppose it remains an issue for MM. If you have a todo list somewhere else you can close thiss issue if you

[2017-10-18 08:58] laoneo opened #440 "Compact view for the media form field and xtd button"
Currently the whole media manager is loaded in the modal when the media form field or xtd button is clicked. Would be nice to have a more compact view there.

[2017-10-18 09:00] laoneo opened #441 "Restyle the media form field view"
After #440 is implemented the media form field needs some styling love.

[2017-10-18 09:01] laoneo opened #442 "Moving/copy files and folders"
It should be possible to drag files and folders into other folders in MM.

[2017-10-18 10:01] dgrammatiko opened #443 "Implement A11Y proposals"
Once we get the feedback from the accessibility team (https://github.com/joomla/accessibility/issues/32) the proposals needs to be coded.

(In combination with the input from UX/Design teams)

[2017-10-19 04:47] N6REJ commented on #260
I'm strongly opposed to J! manipulating filenames in any way from the import source.  People name their files for a reason INCLUDING "-".  It should be totally irrelevant to us what the user filename is as long as it adheres to *nix file handling.
I suppose if you want to make it a switch ( like html verification ) that would be ok but otherwise deciding a users filename is wrong simply because we

[2017-10-19 05:44] laoneo commented on #260
It is not about that we change the filename because we don't like it, what we did, was to copy the logic from version 3. There must be a reason why it is that restrict. Personally I have no preference about the filename, but there is a history behind where we are now and that should be considered into our decision where to go. If you guys feel strong about a proper change, make a pr and we will di

[2017-10-19 06:14] brianteeman commented on #260
Joomla 3 does not rename files with a dash in it (not tested the new mm)

<img width="461" alt="screenshotr07-13-56" src="https://user-images.githubusercontent.com/1296369/31756675-1991ac40-b49d-11e7-8863-10e322d79483.png">

[2017-10-20 13:52] ciar4n commented on #441
I guess there is two base options here...

1. Small modal with a compact view of the media manager
2. Full screen modal similar to the current media manager

[2017-10-23 08:10] laoneo opened #444 "Check the media manager parameters"
The media manager config parameters must be checked if they are still implemented correctly by comparing it with version 3 code. A first step is done by https://github.com/joomla/joomla-cms/issues/18035.

[2017-10-23 09:46] laoneo commented on #260
We took the logic from the [JSON upload](https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_media/controllers/file.json.php#L88) functionality of version 3. But the ordinary version 3 media manager upload feature has a [less strict upload logic](https://github.com/joomla/joomla-cms/blob/staging/administrator/components/com_media/controllers/file.php#L111). I have no pro

[2017-10-23 13:06] kasvith opened #445 "Allow users to copy and paste files from internet"
Users wants to copy and paste images on articles from websites without downloading and reuploading them. So when an user paste and image in editor it should be automatically uploaded to Media Manager Local Adapter creating a folder for the current date and then use the url it provides in img tag

[2017-10-24 06:33] laoneo opened #447 "Each upload creates it's own alert"
For each upload it's own alert is created like here:
![image](https://user-images.githubusercontent.com/251072/31927837-faad7b68-b895-11e7-863f-bcd59e71876f.png)

[2017-10-24 07:28] brianteeman commented on #447
Better to have
Filename status

Then you will get some useful information if one of the files does not get uploaded successfully

[2017-10-24 07:32] laoneo commented on #260
Can you guys please test #448 which should fix the issue. Keep in mind you need to be up to date with the dev branch as the changes of #446 are needed.

[2017-10-26 17:04] brianteeman opened #449 "Long file names in preview"
If you preview an image with a long name then the image preview is increased in size with white spaace

see screenshot

<img width="461" alt="screenshotr18-02-19" src="https://user-images.githubusercontent.com/1296369/32066586-267293b2-ba78-11e7-9a99-1f68e94e8374.png">

[2017-10-26 17:06] brianteeman opened #450 "Close preview"
The close icon on the image preview is so far from the image preview itself (if its a relatively small image) that it is almost impossible to find

see screenshot
<img width="1278" alt="screenshotr18-03-18" src="https://user-images.githubusercontent.com/1296369/32066624-4d796468-ba78-11e7-9ae4-7e11ed9717a9.png">

[2017-10-26 17:08] brianteeman opened #451 "No preview in list mode?"
Is it a bug or some logic that I dont understand that in the list view there is no way to get a preview of an image?

[2017-10-26 19:03] ciar4n commented on #450
I think it should be pretty acceptable to have the close in the top right corner. The is inline with Twitter, Facebook, Dribbble, Pinterest and Google+ (top left). I'm sure the list goes on as these are the first 5 I've checked.

[2017-10-26 19:05] ciar4n commented on #450
Maybe the backdrop could be darken'd which would make the close stand out a bit more.

[2017-10-26 19:26] brianteeman opened #452 "Select all"
I am assuming that the checkbox before the breadcrumbs is a select all.

I would expect it to be checked ONLY when everything is selected and not checked only when nothing is selected.

The current behaviour is the opposite
<img width="778" alt="screenshotr20-25-25" src="https://user-images.githubusercontent.com/1296369/32072834-f97cf0fa-ba8b-11e7-96b4-59c4fafba6b6.png">

[2017-10-26 19:28] brianteeman opened #453 "Delete button"
If nothing is selected and you press the delete button you dont get an alert to say that you need to select something AND the progress bar is active even though nothing is happening

[2017-10-26 19:30] brianteeman opened #454 "Zoom icons"
<img width="253" alt="screenshotr20-28-29" src="https://user-images.githubusercontent.com/1296369/32072921-455cdf80-ba8c-11e7-9e3b-ca76a42df29b.png">

I didnt realise these were zoom icons. I assumed they were add/delete icons. I would normally expect to see the fa icons search-plus/minus icon or something like that

[2017-10-26 19:43] brianteeman opened #457 "Rename"
It would be great if there was a way to rename a file or folder

[2017-10-26 19:44] brianteeman commented on #457
Sorry I just saw that you can rename from the ... on the item

[2017-10-26 19:44] #457 closed, assigned to nobody

[2017-10-26 19:54] brianteeman opened #458 "hardcoded string"
https://github.com/joomla-projects/media-manager-improvement/blob/f4a7e4c655da6693e0b6d485787698ec99fd8ee6/administrator/components/com_media/resources/scripts/store/actions.js#L120

This needs to be a translatable string. In addition it should say in en-GB
**already exists. Do you want to overwrite it?**

Note a grep shows me this string in several places but as i dont know vue (yet) i dont know

[2017-10-26 20:00] brianteeman commented on #450
Yes it definitely needs darkening - similar to twitter

However this use case is not identical to twitter. Twitter is typically offering you this when it has a large image to display and so it fills more of the screen. Hopefully web site owners are not using such large images so the disconnect is more extreme.

Also the image name is directly above the preview so you dont look in the top right. if

[2017-10-26 20:07] brianteeman commented on #442
absolutely. it seemed natural for this to work so i was surprised when i dragged and nothing happened

[2017-10-26 20:08] brianteeman commented on #453
Closed as duplicate of #437

[2017-10-26 20:08] #453 closed, assigned to nobody

[2017-10-26 20:15] brianteeman commented on #134
https://github.com/joomla/joomla-cms/pull/18145#issuecomment-332786166

https://github.com/joomla/joomla-cms/pull/18145#issuecomment-332787017

https://github.com/joomla/joomla-cms/pull/18145#issuecomment-332791096

[2017-10-26 20:19] brianteeman opened #459 "Select multiple images"
This was reported/discussed on the merged or to j4 but doesnt seem to be addressed or have an open issue

The standard is to use shift and ctrl keys as follows

- To select a consecutive group of files or folders, click the first item, hold down the SHIFT key, and then click the last item.
- To select non-consecutive files or folders, hold down CTRL, and then click each item you want to select

[2017-10-26 20:36] ciar4n commented on #450
Personally I have just gotten use to expecting close options in the top right corner. I'm easy either ways so not against changing it. An issue with putting it inline with the current image title is the possibility of them overlapping (consider #449). Maybe placing both title and the close in a bar across the top as you suggest might be the best option.

Dropbox been one example...

![image](https

[2017-10-26 20:38] ciar4n commented on #452
I'd agree with you on this. Considering this is a toggle is makes sense that the icon represents the current state.

[2017-10-26 20:41] ciar4n commented on #454
So...

![image](https://user-images.githubusercontent.com/2803503/32075987-5bf6add4-ba96-11e7-9015-ea8a95bf5ce8.png)

Makes sense.

[2017-10-26 20:41] brianteeman commented on #450
Notice how dropbox has a similar design pattern to twitter. The filename is at the top of the screen so you are already drawn to the top of the screen. nmm has the filename directly above the image so you dont look at the top. move the filename to the top of the screen and problem solved (and increase the backdop darkness)

[2017-10-26 20:42] brianteeman commented on #452
especially as that is the behaviour throughout the rest of the joomla ui

[2017-10-26 20:47] brianteeman commented on #454
Yes it does

[2017-10-27 06:31] laoneo commented on #452
The first implementation was like that in #363. But after playing with it, we agreed to change it to the opposite in #373.

[2017-10-27 06:38] laoneo commented on #459
Sounds for me also more common is I get used to that behavior from the file browsers on desktops.

[2017-10-27 08:33] ciar4n commented on #454
PR created #460

[2017-10-27 08:38] #454 closed, assigned to ciar4n

[2017-10-27 09:02] brianteeman commented on #452
Then you changed it wrongly. If you look at every other "select all" checkbox in the joomla ui the unselected state is an unchecked box. Also from an a11y perspective it must be unchecked for unselected otherwise you run into all sorts of issues trying to override the default behaviour of assistive technology

[2017-10-27 11:09] ciar4n commented on #449
PR created.. #461

[2017-10-27 11:09] ciar4n commented on #450
Pr created.. #461

[2017-10-27 11:19] #450 closed, assigned to ciar4n

[2017-10-27 16:08] #449 closed, assigned to ciar4n

[2017-10-27 18:22] schnuti opened #462 "Unicode filenames breaks MM"
### Copy (FTP upload) a file with e.g. the name Übergrößen länge.jpg to the image folder.

### Expected result
The file should appear in MM with "funny" characters as in J3.x
alt. skip files with unicoded names.

### Actual result
No files or folders at all are displayed after a short "progress".

### System information (as much as possible)
XAMPP local test, Win10

[2017-10-29 12:02] schnuti commented on #260
A short resume on filenames.

Use of blanks in filenames:
If you allow blanks in filenames be aware of the following, especially if you write your own JS scripts.
1. Blanks are not valid in URIs and HTTP-Requests.
In some cases, probably not all, your browser and your browsers Javascript engine urlencodes the strings in question. i.e. the blank is replaced with %20 "behind the scene".
http://my.se

[2017-11-02 20:35] brianteeman commented on #443
is this in process?

[2017-11-02 20:36] dgrammatiko commented on #443
Yeah, we are in the process to setup a dummy server for them

[2017-11-03 18:29] schnuti commented on #462
This is because json_encode($array) throws an error when strings in the array is non UTF-8 as with Windows.
Solution 1:  json_encode($array, JSON_PARTIAL_OUTPUT_ON_ERROR) skips the non UTF-8 strings.
Solution 2: require PHP 7.1 for Joomla. That version handles the Windows filesystem.

[2017-11-06 07:13] laoneo commented on #462
#463 should fix this issue.

[2017-11-06 19:39] armenos commented on #443
How to get involved?
I'll ask JAT Test&Auditing to join.

[2017-11-10 20:43] dgrammatiko commented on #443
Since the auditing has already started, this issue is obsolete

[2017-11-10 20:43] #443 closed, assigned to nobody

[2017-11-17 09:00] #243 closed, assigned to nobody

[2017-11-17 09:00] #277 closed, assigned to nobody

[2017-11-17 20:36] PhilETaylor opened #466 "Security Issue in [4.0Alpha]"
want me to post it here, or want me not to post it here?

[2017-11-17 22:43] laoneo commented on #466
Got the info from George. Will have a look. Thanks for testing.

[2017-11-18 16:00] laoneo commented on #466
I made some changes and forwarded it to the JSST team.

[2017-11-18 20:30] PhilETaylor opened #468 "[4.0Alpha] unable to create folders"
### Steps to reproduce the issue

on attempting to create folder the ajax call to create it returns

[code]

[2017-11-18 20:32] PhilETaylor opened #469 "[4.0Alpha] Its TOO easy to delete whole folders"
When I clicked a folder, and then clicked delete, it deleted the whole folder, and all images, with no confirmation, and no warning.... gone... all my images.... (ok so this was a test only, but idiots will delete everything and blame Joomla, so this has to be made more difficult for a user to destroy their site, at least warn them if deleting a folder recursively !!!)

[2017-11-18 20:33] PhilETaylor opened #470 "[4.0Alpha] faked url has undefined offset"
### Steps to reproduce the issue

fake a call to http://0.0.0.0:8010/administrator/index.php?option=com_media&format=json&task=api.files&url=true

### Expected result

No path disclosure

### Actual result

[code]

[2017-11-19 14:02] laoneo commented on #468
Can you please test #471, it should fix the issue.

[2017-11-19 14:30] laoneo commented on #470
Can you please check if #472 fixes the issue?

[2017-11-19 19:26] PhilETaylor opened #473 "select all/deselect all is opposite to expected behaviour"
### Steps to reproduce the issue

![screen recording 2017-11-19 at 07 25 pm](https://user-images.githubusercontent.com/400092/32994451-7a848a10-cd5f-11e7-8949-67ce2e92dae6.gif)

### Expected result

The accepted behaviour for a select all checkbox is normally

 - if you see it is empty and you click it, it becomes checked, and all items are checked
 - if you see it checked and you click it, it bec

[2017-11-19 19:27] PhilETaylor opened #474 "Accepted norm for + and - is not to zoom in"
### Steps to reproduce the issue

Click on these
![screen shot 2017-11-19 at 19 26 23](https://user-images.githubusercontent.com/400092/32994460-92658f12-cd5f-11e7-87d8-7bc9d35ee402.png)

### Expected result

Expect + to be "Add a file or folder"
Expect - to, well dunno...
I DONT expect them to be the icons for zoom in and zoom out,

### Actual result

Zoom in and out

[2017-11-19 19:51] brianteeman commented on #474
this was solved with #460 i "guess" that the updates havent been pushed to the joomla-cms repo

[2017-11-19 19:52] brianteeman commented on #473
duplicate of #459

[2017-11-19 19:52] PhilETaylor commented on #474
Wonderful...

[2017-11-19 19:54] PhilETaylor commented on #473
I disagree - this is not a duplicate, this one is more about the select all/deselect all icon presented in the interface, not like #459 which is about selecting individual or groups of items a different way.

[2017-11-19 19:55] brianteeman commented on #473
sorry i meant #452

[2017-11-19 19:55] PhilETaylor commented on #473
yup - thats more like a duplicate :) :)

[2017-11-19 19:55] #473 closed, assigned to nobody

[2017-11-20 17:35] #474 closed, assigned to nobody

[2017-11-21 19:41] micker opened #475 "Resize workflow"
The new media manager is great !!!!!

thumbmail generator after upload : it will be good if we can create thumbs / medium / small image after all upload ! like
name_image.jpg,
name_image_m.jpg
name_image_t.jpg
name_image_s.jpg
=> user can set image size in media manager options

[2017-11-21 19:42] micker opened #476 ""save as copy" button"
i think we need a
"save as copy" button : when we rezize image we need to keep original image ... a simple save as copy can be good
maybe it will be a default button for all modifications

[2017-12-03 13:38] C-Lodder opened #477 "Recompile SCSS"
I've made a couple of direct commits to remove some inline CSS and fix the stacking issue for one of the close buttons.

Not sure how you're compiling SCSS on here so leaving this issue open as a reminder

Ping @ciar4n

[2017-12-03 17:58] laoneo commented on #477
Thanks. npm run build in the com_media folder of you want to do it.

[2017-12-03 18:37] C-Lodder commented on #477
ah fair enough. I'll do that later on tonight

[2017-12-03 21:17] ciar4n commented on #477
You will find all the commands here.. #346

PR created recompiling.. #478

[2017-12-03 21:19] C-Lodder commented on #477
Thanks Ciaran

[2017-12-03 21:19] #477 closed, assigned to ciar4n

[2017-12-07 16:07] laoneo opened #479 "Make controls work in crop plugin"
The controls in the crop plugin do actually not work.

[2017-12-07 22:57] C-Lodder opened #483 "Resize - Constrain Proportions"
Just saw the improvements GIF @laoneo showed on Twitter

In the resize settings, you can change the width and height, and it seemed that when using the range bar to change the width, the height was changing accordingly.

It would be nice to have a switcher to enable/disable the constrain proportions, as the user may want to only change the width (without the height changing)

I can submit a PR if

[2017-12-07 23:02] laoneo commented on #483
Go for it!

[2017-12-09 13:14] schnuti commented on #256
I don't think you need any special form fields. The number field do well I think. The trick is that those fields have to link back to the "mouse area".
An example: The crop area is first chosen with the mouse and then corrected by entering the "exact values", not using the steps. I would enter 500 and 300 directly, if that is what I want.
You can also see the different ratio settings possible for

[2017-12-11 09:44] laoneo commented on #475
For what for a use case do you need the thumbs? Actually we are in a debate on the Glip channel about how to implement source sets in images.

[2017-12-11 09:49] brianteeman commented on #475
One use case would be speed of using the media manager. If it loads thumbs and not the full image resized

[2017-12-11 09:56] laoneo commented on #475
Guess that can be solved with pagination and not floating the disc. When a cloud adapter is supporting a thumb property, then the MM JS client is using that one already.

[2017-12-11 09:58] laoneo commented on #476
Sounds like a nice idea, somebody else was requesting that on twitter as well https://twitter.com/tbachner/status/939063238192435200

[2017-12-11 10:35] micker commented on #475
=> that i mean
webmaster set 3 workflows
thumb : crop h:200px l:300px prefix: -tb
medium : rezize h:500px l:800px prefix: -md
etc
for me, it will 2 way benefic
- end-user image gestion can be more simply
- template provider or component creator can create workflow and add more powerfull optimisation for load speed page

[2017-12-18 10:12] #135 closed, assigned to nobody

[2017-12-18 10:13] #479 closed, assigned to nobody

[2017-12-18 10:14] #134 closed, assigned to nobody

[2017-12-18 10:17] laoneo commented on #256
With the pr #481 we introduced input boxes and a slider
![image](https://user-images.githubusercontent.com/251072/34101134-fbeee294-e3e4-11e7-8e66-b78b08736c8a.png)

[2017-12-18 10:17] #256 closed, assigned to nobody

[2017-12-18 10:20] laoneo commented on #279
Can you please test it with the latest revision from the dev branch as it should be fixed with pr #480.

[2017-12-22 12:57] anuragteapot opened #485 "[4.0] Problem on uploading an image to media manager."
### Steps to reproduce the issue

Step 1.Upload an image to the media manager.
Step 2.Then, delete it.
Step 3.Then, without refreshing page try to upload the same image.

### Expected result

Image uploaded.

### Actual result

Image not uploaded.

### System information (as much as possible)

Joomla! 4.0.0-dev

[2017-12-23 14:31] kasvith commented on #485
this is regarding the client right @dneukirchen ? we are not reflecting also the filesystem changes realtime in the repo too

[2017-12-28 02:14] kasvith commented on #430
This should be work only on files IMO

[2018-01-01 11:39] kasvith commented on #430
@dneukirchen i dont agree adding a button next to the path, since this should be explicitly work on files rather than folders, so my suggestion is to popup an icon on files or when a file is selected show a tool bar icon to copy url

[2018-01-01 12:08] kasvith commented on #430
another suggestion is to add a button before delete icon

[2018-01-08 09:25] laoneo commented on #430
I would also add it to the action buttons here
![image](https://user-images.githubusercontent.com/251072/34664874-4941a520-f45e-11e7-8ffc-2dccf76dd570.png)

[2018-01-08 19:17] kasvith commented on #430
yeah agreed, rather than creating a toolbar button this is better

[2018-01-09 07:58] dneukirchen commented on #430
i do not agree here. We should not put so many actions in the quick button menu. At least in its current form it is meant to hold only the most important actions.

[2018-01-09 11:05] ciar4n commented on #430
I with David on this, already feels like one to many actions.  I'm not against placing the action here, just think we need to reconsider how they are displayed.

[2018-01-09 11:31] kasvith commented on #430
hmm, then we have to enable this button on toolbar when user clicks only a single file.
Let me know when you guys finalized this. Putting icon on file makes it simple, but as mentioned it overwhelm the file icon too.

let me know @dneukirchen @laoneo @ciar4n

[2018-01-09 11:41] ciar4n commented on #430
For the time been I'd say add it here...

![image](https://user-images.githubusercontent.com/2803503/34719227-d860a12e-f531-11e7-9619-4d1828033562.png)

I think we just need to reconsider how these icons are displayed which can be done after.

[2018-01-10 07:33] laoneo commented on #430
I would also not start spreading the actions all over the UI which are related to an item. Perhaps we need to reconsider the action drop down, but actions which do belong to an item (file, image, video, etc.) should appear close to it. At the moment it is the drop down.

[2018-01-10 08:10] dneukirchen commented on #430
I do not fully agree, but im ok with it.

imo copy path to clipboard is different than the primary actions like rename, remove, delete, move... its a more like a convenience helper. Imo Inline menus should be 100% intuitive and users should not have to search for the action they want to use... We should also keep in mind that we need the inline menu in the table view as well.

[2018-01-10 09:49] laoneo commented on #430
Perhaps you can post a screenshot where you want to add the icons to copy it? Perhaps I did get your idea wrong.

[2018-01-10 18:28] anuragteapot opened #487 "[4.0] Unexpected error on rename of file or folder."
### Steps to reproduce the issue
Try to change folder or file name.

### Expected result
No error comes.

### Actual result
An error comes out.
![screenshot from 2018-01-10 23-18-42](https://user-images.githubusercontent.com/30978328/34788773-9d28fbc0-f661-11e7-87dd-d5974c8dd51d.png)

### System information (as much as possible)
Joomla 4.0-dev
OS Linux
PHP 7.1.11

### Additional comments
File or f

[2018-01-10 18:39] kasvith commented on #487
After taking this action, if we refreshed the page, the renamed item is visible as usual.
So this is a problem in the Client, not the Server(tested on Windows 10)

Items are renamed, but client shows an error

[2018-01-10 18:42] anuragteapot commented on #487
yes, Items are renamed without any issue but client shows an error

[2018-01-10 18:43] kasvith commented on #487
Can you try to fix that :)

[2018-01-10 18:44] anuragteapot commented on #487
@kasvith Ok, let me try :)

[2018-01-11 08:09] #487 closed, assigned to nobody

[2018-01-11 08:11] laoneo commented on #470
Issue can be closed as the pr got merged. Thanks for reporting.

[2018-01-11 08:11] #470 closed, assigned to nobody

[2018-01-11 08:12] laoneo commented on #468
Issue can be closed as the pr got merged. Thanks for reporting.

[2018-01-11 08:12] #468 closed, assigned to laoneo

[2018-01-11 08:13] laoneo commented on #466
Fix got merged already into upstream with confirmation of the JSST team at JWC. Thanks for reporting.

[2018-01-11 08:13] #466 closed, assigned to laoneo

[2018-01-11 08:15] laoneo commented on #462
Issue can be closed as the pr got merged. Thanks for reporting.

[2018-01-11 08:16] laoneo commented on #422
Where are we here? Can this issue being closed?

[2018-01-11 11:02] schnuti commented on #462
@laoneo
Did you really test with a Windows system and PHP version < 7.1 ? With a PHP version > 7.0 or Linux the issue is solved. I still havn't seen anything about that Joomla 4 will raise the requirement to PHP > version 7.0.
As I store utf8 filenames in the DB of my local system, I require PHP > 7.0. i.e. I'm not able to make a quick test. Better for Joomla is to raise the requirement.

[2018-01-11 12:47] schnuti commented on #462
Well, I remembered, I still have an older XAMPP instance with PHP 7.0.4. After downloading the code from here I made a quick test. As I presumed - the problem remains. You have my two alternative solutions above. Image 1: fresh installation, Image 2: Übergrößen-länge.jpg added. = broken view. You can reopen the issue.

![original](https://user-images.githubusercontent.com/956537/34826103-89125b08-

[2018-01-11 14:28] schnuti commented on #483
I tested today and I found the strict proportion restriction as a problem. I also believe it should be possible to enlarge the width and/or height. A few pixels might be needed.

[2018-01-11 14:40] schnuti commented on #475
I guess this is the same as #255
A plugin example would be enough. Can then be extended by 3d party,

[2018-01-11 14:58] schnuti opened #490 "Bug: Width-height ratio on cropping"
### Steps to reproduce the issue
1. Click on one of the radio buttons. The radio button do not get checked.
2. More important - If you once click on one of the radio buttons you are trapped. You can choose another ratio but not reset to "free" width/height. Another radio button or a reset button is needed. I think I would prefer a reset to original start values (images width and height).

[2018-01-11 17:36] ciar4n commented on #441
Any ideas on this? @dneukirchen I think you suggested going for a smaller compact view rather than full screen. Are you still in favour of this? Any thoughts on full screen?

[2018-01-11 18:27] dneukirchen commented on #441
im still in favor of the compact list view (like jce media manager).
Lets discuss this in the meeting next week.

[2018-01-12 06:48] laoneo commented on #462
It works on Linux, hope somebody else can help here out.

[2018-01-12 06:52] laoneo commented on #490
True.

Please open for every problem one issue, it helps keeping the focus.

[2018-01-12 07:14] kasvith commented on #462
I am using XAMMP with PHP 7, Windows 10 x64

I copied a file with unicode characters to the images directory and here is the result
![image](https://user-images.githubusercontent.com/13379595/34863567-1e49b53e-f796-11e7-920a-7ad32ba42eae.png)

In NMM

![image](https://user-images.githubusercontent.com/13379595/34863574-2b03b5f4-f796-11e7-8004-169f8eee68bd.png)

But after i tried to rename it to **

[2018-01-12 07:16] laoneo commented on #462
That's a correct behavior as it strips out illegal characters when editing in MM. @schnuti do you use the latest code from the dev branch?

[2018-01-12 07:18] kasvith commented on #462
If we want to keep the file name with UTF
Its needed to have  this extension installed in PHP according to this article

http://blog.garr.co.uk/php/2015/09/22/php-windows-and-utf-8-filenames.html

[2018-01-12 07:23] laoneo commented on #462
The UTF issue is handled in core https://github.com/joomla/joomla-cms/pull/16878. Here we need to care only about when somebody uploaded a file with UTF characters trough FTP.

[2018-01-12 08:49] schnuti commented on #462
Again -> from my post above

Solution 1: json_encode($array, JSON_PARTIAL_OUTPUT_ON_ERROR) skips the non UTF-8 strings.

To test you need a Windows system with **PHP 7.0x i.e. < 7.1**

If the PHP version requirement for Joomla 4 is raised to >= 7.1 this issue can be closed!
If it remains at PHP version 7.0 the json_encode statement has to be edited to include the above constant. In that case you w

[2018-01-12 09:01] schnuti commented on #490
I think the two issues are that close related that they should stay together.

[2018-01-12 09:20] laoneo commented on #462
@schnuti I will discuss that issue in the PLT about a possible version increase to 7.1 for J4 as 7.0 will be EOL by December 2018 anyway.

[2018-01-12 10:25] schnuti commented on #462
@laoneo
My view is clear. The "vendor" versions required should be the latest "stable" versions at the time Joomla 4 goes live. I find Joomla 3 feels old because of the hard bindings to old versions of Php, JQuery, Bootstrap ... and the development cycles are getting even shorter.

For PHP

[2018-01-13 08:18] schnuti commented on #462
@laoneo
To make sure that what I said is still true, I installed the same J40 MM code on a system with PHP 7.1.10.
As you can see the unicoded filename appears as expected. I didn't though find the line/lines to modify for PHP 7.0 after a quick search. I guess the code has bin modyfied a lot since last time I made a search.
![unicode-file](https://user-images.githubusercontent.com/956537/34904262-

[2018-01-13 15:24] laoneo commented on #462
At the moment we stick with PHP 7.0 as min requirement. We can have a look on the issue again at a later point when we are in beta or rc phase when the PHP 7 version is fixed.

[2018-01-13 18:44] laoneo commented on #490
Can you please test #492 which should fix point 2.

@dgt41, @C-Lodder or @ciar4n any clue why the radio buttons do not work propperly? Something broken in core?

[2018-01-13 18:46] laoneo commented on #476
Closing this as duplicate of #385.

[2018-01-13 18:46] #476 closed, assigned to nobody

[2018-01-13 18:46] laoneo commented on #385
Sounds like a nice idea, somebody else was requesting that on twitter as well https://twitter.com/tbachner/status/939063238192435200

[2018-01-13 18:48] laoneo commented on #239
Is this issue still valid as the xtd button got refactored at the last code sprint in Frankfurth?

[2018-01-13 22:01] schnuti opened #494 "Ratio radio buttons do not get checked in Crop view."
### Steps to reproduce the issue
Click on one of the ratio radio buttons in the image crop view. The radio button do not get checked.

### Expected result
That the radio button get checked.

### Additional comments
Issue #490 splitted up in two as part 2 has a PR.

[2018-01-13 22:04] schnuti commented on #490
Part 2 has a PR 492 and an issue for part 1 has bin added.

[2018-01-13 22:04] #490 closed, assigned to nobody

[2018-01-13 22:14] schnuti commented on #462
OK! We just keep this issue open then.

[2018-01-14 01:09] schnuti opened #495 "Distinct values for image rotate"
### Steps to reproduce the issue
If you rotate an image to other values than 90, 180, 270 degrees the image gets cut off.

### Proposal
A canvas resize to fit the whole image. I know it's harder to achive but you could then make some minor rotation without cutting off the image.
Alternative: Use radio buttons for the distinct values 90, 180, 270, (360) degrees. I see that 90 and 270 degrees are ha

[2018-01-17 08:07] laoneo commented on #494
@dgt41, @C-Lodder, @ciar4n is this a bug in core?

[2018-01-17 10:19] C-Lodder commented on #494
@laoneo I don't believe so. Last time I tested the radio buttons in core, they worked as expected.

[2018-01-17 10:43] ciar4n commented on #495
For me it would make sense to have the resize and rotate on the same panel as you would rarely do one without the other. Slightly off topic and probably not possible.

Example... most likely a user would zoom this image to remove the black corners.

![image](https://user-images.githubusercontent.com/2803503/35038514-f10254ce-fb72-11e7-8c75-43795c41e7a7.png)

[2018-01-17 10:47] ciar4n commented on #495
@schnuti I think what you suggest is a good idea. My preference would be keep the free rotation AND add distinct values with radio buttons.

[2018-01-17 13:24] schnuti commented on #495
@ciar4n Please have a look at PR #496 for testing this. I kept free rotation but with a number field type where you can type in the degrees **OR** use the steps. I skipped the slider.

I do not think you can fix the black corners by zooming the image as the zoom is done including the black corners (the canvas). You could crop the image to get rid of the black corners if you didn't rotate to much.

[2018-01-17 13:30] ciar4n commented on #495
Sorry you are right.. I meant to say crop not resize.

[2018-01-17 13:56] schnuti opened #497 "Bug: Save & Close edited image do not save the image"
### Steps to reproduce the issue
1.
Edit an image.  e.g. resize.
Click on button Save & Close.
Load the same image for edit. Has original size - not changed.
2.
Edit an image.  e.g. resize.
Click on button Save.
Click on button Cancel.
Load the same image for edit. Has changed size.

### Expected result
Changed image saved in case 1 as in case 2.

[2018-01-17 15:04] schnuti commented on #495
I found that the workflow I described works as is.
You are able to enlarge the image. Enter the width or height in the field. DO NOT touch the sliders! There is no check on max width / height for the input fields.
I think though that separate width and height input must be possible i.e. to turn off the aspect ratio restriction. I know - not the best for quality images but you may need images with

[2018-01-17 15:15] laoneo commented on #494
As far as I could debug it, the MM does not interfere with the checkboxes. Honestly I have no clue what is going on here. There is no reason for the current behavior.

[2018-01-17 15:29] schnuti commented on #495
And a last comment having nothing to do with this issue.
You can get the original size back after rotating using an additional step.
The resizing must get you an exact width or height and the other dimension larger.
As last step you now crop a second time to the exact original size.

[2018-01-17 22:42] schnuti commented on #494
@laoneo
I think I found the problem. Until there is a solution to replace the radio buttons with pseudo buttons use standard. i.e. **remove the classes** from the radio fields in the form.
class="btn-group btn-group-ratio" and do not add any class to the options.

[2018-01-17 23:12] schnuti opened #499 "Replace radio buttons with pseudo buttons"
To keep the radio buttons on a to-do list after #494 and PR #498 I added this issue.

### Expected result
Radio buttons with the look of normal buttons.

[2018-01-18 05:50] laoneo commented on #494
Thanks, pr got merged.

[2018-01-18 05:50] #494 closed, assigned to nobody

[2018-01-18 05:52] laoneo commented on #499
I don't understand what exactly you want to change. Can you elaborate a bit more, perhaps with a screenshot?

[2018-01-18 05:58] laoneo commented on #495
I would leave the slider, you can work faster when you can slide, when you don't know the angle. Always changing the number is way slower.
But I like the angle presets.

[2018-01-18 06:23] schnuti commented on #499
We have to wait until core has merged a couple of pending PR's for radio buttons but then buttons can replace the radio buttons. I think the new MM had it in the early days.
I think there's a need for some special styling as I see problems with the width of the grouped buttons. They are not responsive.
Image shows an example from a frontend view I use in J3 showing 4 radio buttons as buttons.

![r

[2018-01-18 06:28] laoneo commented on #499
Would be nice if you can link the related pr's here.

[2018-01-18 09:26] schnuti commented on #499
PRs and issues of interest in core (maybe more)
joomla/joomla-cms#19326 - PR Fix radio btn group
joomla/joomla-cms#19322 - Rewrite markup radio form field
joomla/joomla-cms#19296 - PR Split the radio Field to 2 layouts

[2018-01-18 11:55] laoneo commented on #499
Thanks, so we wait?

[2018-01-18 23:07] schnuti commented on #499
Better do nothing regarding radio buttons until core has a basic solution or everything may have to be reverted/redone.

[2018-01-18 23:40] schnuti commented on #495
@laoneo Did you test my PR? The number field type is more exact and as fast as the slider. Click and hold on the up and down arrows and it's really fast. e.g. click on fixed 90 degrees  - then the down button to step down to 45 degrees is a nice test.
If possible I would enlarge those arrows. Not that easy as it's W3C standard and styled by the browser.
I find it gets cluttered with 3 different an

[2018-01-19 00:31] schnuti commented on #495
I found another way to rotate fast.
Click in the number field type and and use the mouse wheel to increase/decrease the value.

I really like this field type since the first time I used it.

[2018-01-19 01:49] schnuti opened #502 "Landscape and portrait aspect ratios"
Isn't a choice between landscape and portrait aspect ratios needed for cropping?

Let's say you have a 16:9 image with a person in the middle. You may want to cut out an image 3:4 of this person. i.e. the aspect ratio is in "portrait" format.

As is, you have to do this "per hand" as 4:3 gives you a landscape format.

I've used "Base on width or height" as choice for my own cropping method but Lan

[2018-01-19 05:07] laoneo commented on #502
I would leave them, perhaps we should switch to a drop down as mentioned here #501 where we can add a text.

[2018-01-19 08:19] schnuti commented on #502
What would you leave? What I try to say is, that you need double values for the aspect ratios. Yes, a drop down could replace the radio buttons.

Original aspect ratio (default as suggested by someone in another issue)
1:1
Landscape
5:4
4:3
3:2
16:9
Portrait
4:5
3:4
2:3
9:16
Free aspect ratio - no restrictions

This would be my complete list with the most common aspect ratios for images.

[2018-01-19 08:31] schnuti commented on #495
I have to change my mind. MS-Edge have minimal support for the number field type. So for this reason a slider is still needed. As a surprise, that is supported.

[2018-01-19 09:47] dneukirchen commented on #485
yes, this is a client issue.

[2018-01-19 18:56] schnuti commented on #502
I've rebuilt the aspect ratios to a list field. I believe this is a better way to present the aspect ratios. I'll have a look if I'm able to modify the JavaScript as well. Or what do you think?
Image 1: The list field (width?), Image 2: The list, Landscape and Portrait are headers (disabled options)

![aspect-ratio_1](https://user-images.githubusercontent.com/956537/35166415-22fa0b08-fd52-11e7-8af

[2018-01-20 06:37] #495 closed, assigned to nobody

[2018-01-20 06:41] schnuti commented on #497
No one tested this yet? I could have a look but it has first to be confirmed.

System local Windows 10, XAMPP PHP 7.1 if that could be a problem.

[2018-01-21 17:54] schnuti commented on #502
See PR 503

[2018-01-21 17:54] #502 closed, assigned to nobody

[2018-01-21 17:55] schnuti commented on #499
See PR 503

[2018-01-21 19:09] schnuti commented on #499
Let's keep this as a todo - reminder for the radio buttons on the rotate view.

[2018-01-21 19:41] schnuti opened #504 "Restrict cropping area to width and height of image"
If you try to move the images cutting area, you are very fast outside of the image. The pos-x and pos-y values become values like -1 or +4 with width and height original values. You have to manually enter 0 as it's a bit hard to move the cutting area back to 0.

### Expected result
My experience is that you never want the cuts to go outside of the image.
See image.

![crop-outside-image](https://u

[2018-02-02 07:49] LynetteLo commented on #184
hello, could you teach me how to upload the same file name in the same time?

[2018-02-02 09:00] dneukirchen commented on #458
thx

[2018-02-02 09:00] #458 closed, assigned to laoneo

[2018-02-02 15:27] laoneo commented on #184
You don't have to upload a file with the same name at the same time.

[2018-02-07 01:33] schnuti commented on #497
I'm pretty sure this comes from the redirect that breaks the upload in the save task - edit-images.js. When debugging it works!

[code]

[2018-02-08 12:08] schnuti opened #506 "Background problem: longer file names and image preview"
The white image background in image preview is confusing if the width of the file name exceeds the width of the image. Example: a cropped "powered_by - Copy.png" The image is cropped after the a in Joomla.

![modal-view1](https://user-images.githubusercontent.com/956537/35971459-4d97bdac-0cce-11e8-957b-a9c9c3ccd73a.jpg)

With the browsers dev tools I added a class to use the existing image backgro

[2018-02-08 12:42] schnuti opened #507 "Proposal: Add flip horizontal and flip vertical to the image rotate view."
With only a few lines the flip functionality can be added to the image crop view. This is often used in particular if the base is an analogue image negative or diapositive where up and down/left and right easily gets incorrect.
Flip is included in the existing rotate events. A click on 0 degrees flips the image without rotation.
See gif animation. I'll add a PR later.

![flip-flop](https://user-im

[2018-02-08 15:57] laoneo commented on #506
I guess @ciar4n this one is for you.

[2018-02-08 15:58] laoneo commented on #507
Would be a nice addition!

[2018-02-08 16:29] ciar4n commented on #506
Thank you @schnuti

PR created..  #509

[2018-02-08 16:30] #506 closed, assigned to ciar4n

[2018-02-08 19:39] dgrammatiko opened #510 "Let's use streams"
### Possible solution instead of implementing pagination

### Stream what?

So right now whenever a call from the from end is done to get the json for the items (files) in a directory the process is like: server reads the files -> creates the appropriate json -> sents back the json. Using stream we can have this process asynchronous, meaning that instead of waiting to get the complete json we coul

[2018-02-08 20:55] schnuti commented on #507
PR added

[2018-02-08 21:19] schnuti commented on #504
PR #512
Reason for removed viewMode = 1 ??

[2018-02-08 21:19] #504 closed, assigned to nobody

[2018-02-08 21:23] schnuti commented on #499
Existing radio buttons resolved with #508

[2018-02-08 21:23] #499 closed, assigned to nobody

[2018-02-08 22:09] schnuti commented on #510
Don't you first need some sized images? i.e. thumbs. As I understand it, the search engines do not send the original sizes. I have no clue how the browser and the client stores the data but I have a feeling that there is a limit somewhere.

[2018-02-08 22:18] dgrammatiko commented on #510
We already have the functionality for the thumbs (or at least that's my impression)

[2018-02-08 22:47] schnuti commented on #510
And I have another impression see #475 and my own #255 and after checking the background images size.

800px_cradle_mountain_seen_from_barn_bluff.jpg is in real on disc a 500x375 image and that's the size of the background image.

[2018-02-09 07:23] laoneo commented on #510
Sounds a nice approach. From a quick glance, not sure what it has for influence to the API. Will it still work as before and the streams are an addition on the top or will the API change by itself?

[2018-02-09 08:58] laoneo commented on #507
We keep the issues open till it is finished and merged.

[2018-02-09 13:53] dgrammatiko commented on #510
I guess the `getFiles()` part needs some refactoring to :
[code]

[2018-02-10 11:04] schnuti opened #513 "Edit image Rotate: Active quick button"
No correlation between entered angle and the "quick" buttons. As i understand, it's a bit tricky to solve with Javascript and the code would run for each and every click on the arrows in the number field. A "softer" way is to use the same styling css for active and not active buttons. The active state is only used when you click on a button anyway. The valid angel comes from the number field.

Add

[2018-02-10 19:20] ch2856 commented on #430
Since the system now remember the last path in media manager, I don't see a reason to add this.

[2018-02-10 19:50] laoneo commented on #430
It's about copying the public oath which you can use then as link in an image tag or send by mail.

[2018-02-12 07:40] laoneo commented on #513
@ciar4n I guess this is your area. What do you think?

[2018-02-12 09:29] ciar4n commented on #513
Presuming I understand you correctly, classes exist for the styling of each state. So to apply the `:focus` styling you can use the `.focus` class. The question is is it possible to apply them classes to the buttons in the btn-group when the input values corresponds with them buttons (eg. 90, 180 etc)?

Correct me if I have picked you up wrong here! 😄

[2018-02-14 10:47] ciar4n commented on #440
Just looking in to this now. I'm getting a 'The requested page can't be found.' from the XTD button?

[2018-02-14 12:18] ciar4n commented on #440
Just been chatting with Dimitris and there is a bit of backend work to be done here. I'll revisit styling this UI once this is resolved.

[2018-02-16 07:52] kasvith opened #514 "We need a Linter for JS code"
When we writing JS code often we are likely to omit code style that was used across the NMM.

So its better if we can add linting for JS code so everyone is warned before doing the PR even from your editor

So the preferable linter is **ESLint** which used widely

[2018-02-16 07:57] kasvith opened #515 "Clicking Info Bar deselcting the selected file in browser"
### Steps to reproduce the issue

1. Open NMM
2. Open Info Bar
3. Click a file
4. Now you will see the info about file
5. Click anywhere in the info bar
6. File get deselected

### Expected result
File should be still selected as

### Actual result
It looses the focus

### System information (as much as possible)
Windows 10, XAMMP PHP7.0, Latest Chrome

### Additional comments
We want it not be de

[2018-02-16 08:07] dneukirchen commented on #514
closed as we have that merged in core https://github.com/joomla/joomla-cms/pull/19638

[2018-02-16 08:07] #514 closed, assigned to nobody

[2018-02-16 10:43] kasvith commented on #515
issue fixed in PR #516

[2018-03-06 15:25] kasvith commented on #485
Shall we use polling here? sockets seems a waste for me in this scenario

[2018-03-07 06:38] dneukirchen commented on #485
For me it sounds that this is a client side state issue (probably not cleaning up correctly after deletion). We probably do not need to poll the backend.

[2018-03-07 06:40] kasvith commented on #485
Ah i thought it was uploaded through FTP or manually(copy file to images dir)

[2018-03-09 07:23] laoneo commented on #510
Can this lead to conflicts with #175 then?

[2018-03-09 08:49] kasvith commented on #175
API Endpoints are added for this.

[2018-03-09 21:54] dgrammatiko commented on #510
I don't see any problem, eg if you search for `someFilename` the back end will stream something (with some value in the json if the file exists or nothing if the file doesn't exist) so the end result result will be the same json the backend could throw if it wasn't streamed. Maybe the implementation of the search might be slightly different in the front end (code wise) but nothing too radical or t

[2018-03-12 15:17] kasvith opened #518 "Close button is messed up"
### Steps to reproduce the issue
Open Media Infobar for a file which has a longer name
![image](https://user-images.githubusercontent.com/13379595/37292219-7973dbfa-2636-11e8-9a9c-a3494bc77b92.png)

### Expected result
Close icon to be fixed

### Actual result
Icon is messed up

### System information (as much as possible)
Windows 10 PHP7, Chrome

### Additional comments

[2018-03-12 15:30] kasvith commented on #518
@ciar4n any SASS magic :)

[2018-03-12 16:26] kasvith commented on #515
Issue seems solved somehow. but i will keep the issue until further confirmation

[2018-03-13 10:36] dneukirchen commented on #515
thx @kasvith

[2018-03-13 10:36] #515 closed, assigned to kasvith

[2018-03-17 13:21] gyvermac opened #520 "[4.0] Problem with media manager and Safari"
### Steps to reproduce the issue
In backend go to media and clic on ... to edit one image.
![screen shot 2018-03-17 at 08 10 18](https://issues.joomla.org/uploads/1/3d713cb8073f46807165dace29f90a59.jpg)

### Expected result

![screen shot 2018-03-17 at 08 10 18](https://issues.joomla.org/uploads/1/816124602c93488968afbec01c576cb6.jpg)

### Actual result
The editing icons appear and disappear immed

[2018-03-17 15:25] laoneo commented on #520
Do you have an error in the developer console?

[2018-03-18 13:38] gyvermac commented on #520
Yes and only with Safari !
[Error] Failed to load resource: the server responded with a status of 404 (Not Found)
http://localhost:8888/joomla4/media/vendor/tinymce/skins/lightgray/skin.min.css.map

This file does not exit but seems to be called only in Safari

[2018-03-18 18:26] geetanshu-m commented on #518
@kasvith this issue needs to be closed. PR: #519  Solves this issue.

[2018-03-18 19:09] geetanshu-m commented on #497
@schnuti I tried to reproduce this issue but I was not able to get the same result as yours. The image file got changed in each case.
I am having the same configuration as your's

[2018-03-18 19:12] geetanshu-m opened #521 "Problem while uploading an file."
### Steps to reproduce the issue

Upload a file to the media manager.

### Expected result

It should be showing up without refresh.

### Actual result

The uploaded file didn't show up in the file manager without being refreshed.

[2018-03-18 21:23] schnuti commented on #521
I get the same result.

Tested with version from today March 18.

[2018-03-18 22:07] schnuti commented on #497
@proman24 Thanks for testing.
I gave it a new try with code version from today March 18. Still not saving the changed file after clicking on Save & Close. My guess is, as explained above, that my system for some reason is slower and the redirect breaks the save ->  Joomla.UploadFile.exec.

It works in debug mode if I set a javascript breakpoint at the next line i.e the redirect -> window.location

[2018-03-18 22:32] schnuti commented on #513
@ciar4n You missunderstood. I find the focus state CSS OK. But not the "active state"

Example in  image, I clicked on button 90 degrees, then changed the value field to 0. The image is not longer rotated but the 90 degrees button is still "active". We don't need this "active" state at all.

![90degrees](https://user-images.githubusercontent.com/956537/37571973-7d6b8f96-2b04-11e8-89fb-43a86b05e835

[2018-03-19 01:22] schnuti commented on #513
@ciar4n @laoneo
After a second thought. Maybe those buttons should be created using normal HTML action buttons. They do not really belong to the form as radio buttons.
What do you think?

[2018-03-19 07:24] dneukirchen commented on #518
thx @proman24

[2018-03-19 07:24] #518 closed, assigned to nobody

[2018-03-19 07:33] dneukirchen commented on #521
Cant confirm the issue. Latest version, chrome 64, mac.
Tested upload of images using upload button and d&d upload.

@schnuti @proman24 please open devTools and check if any errors occur in console tab.

Thank you.

[2018-03-19 07:39] dneukirchen commented on #520
Can confirm the issue in safari. Thx for reporting.
Seems not related to the error in console.

probably caused by mouseleave in https://github.com/joomla-projects/media-manager-improvement/blob/dev/administrator/components/com_media/resources/scripts/components/browser/items/image.vue#L2

[2018-03-19 08:24] kasvith commented on #521
On mine i cant confirm this issue

[2018-03-19 08:47] laoneo commented on #497
Is this another Windows issue? @proman24 did you test on Windows as well?

[2018-03-19 08:49] laoneo commented on #513
I would leave them for now. Like that it can be declared in the form.xml. If we switch to regular buttons we need to do some workarounds.

[2018-03-19 09:21] schnuti commented on #513
Yes, it's less workaround to only add some CSS rules to fix this issue, my two above or similar.

[2018-03-19 09:42] schnuti commented on #521
There is an error reported in the console. Windows 10 + XAMPP + FF
SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data[Learn More]
Api.js:128:48

[2018-03-19 10:06] schnuti commented on #520
As the error message shouldn't appear within the Media Manager and probably not break the code anyway, you could test Article Add/Edit where tinyMCE is loaded. The error message should appear in the console but not break the code. If there is an issue it belongs to Joomla core.
Do the browsers always load a .map file nowadays or only in developer mode?

[2018-03-19 10:24] laoneo commented on #521
This looks like that the ajax request failed. Can you open the url in the developer console of the ajax request which fetches the data.

[2018-03-19 11:25] schnuti commented on #521
I should have known. There is a php-warning echoed on the server i.e. the response is corrupt.
PHP 7.2.2 in use. After setting error-level to None it works.

Warning: count(): Parameter must be an array or an object that implements Countable in D:\xampp\htdocs\j40mm0317\plugins\filesystem\local\Adapter\LocalAdapter.php on line 810

[2018-03-19 11:44] anuragteapot commented on #521
I can't confirm this issue.

[2018-03-19 11:54] schnuti commented on #497
Your question about Windows remembered me to test with another browser. And ... with Chrome it works. Maybe it's the combination of Windows and FF that is the problem.

[2018-03-19 13:11] gyvermac commented on #520
I checked again...
Safari : ASAP tinyMCE is loaded (article Edit) error is the same. Don't have to be in media manager.
Same error in console with Firefox but no issue => error in console is not related to the issue.
I agree with @dneukirchen

[2018-03-20 02:57] kasvith commented on #521
@schnuti seems right, that mediaContent is not an array or countable, it needs to have something like size

[2018-03-20 02:57] kasvith commented on #518
thanks @proman24

[2018-03-20 07:53] laoneo commented on #521
Can you please test #522?

[2018-03-20 08:03] dneukirchen commented on #521
thx @laoneo

[2018-03-20 08:03] #521 closed, assigned to laoneo

[2018-03-20 08:10] geetanshu-m commented on #497
@laoneo I tested this in the windows environment. Also, I have used Chrome browser.